<head>
</head>
<body>
	<h1>OMF Stats</h1>
	<a href="/">Home</a>
	<a href="/regenOmfStats">Regenerate Stats</a>
	<a href="https://www.google.com/webmasters/tools/home?hl=en&authuser=0">Google Search Tools Dashboard</a>
	<a href="https://console.aws.amazon.com/ec2/v2/home?region=us-east-1#Instances:InstanceId=i-054cb5c41369df768;sort=tag:Name">AWS Monitoring Site</a>
	<a href="https://uptimerobot.com/dashboard#780640327">Uptime Monitoring</a>
	<br />
	<br />
	<img src = "../static/model_db_stats.png" alt = "monthly user creation and model types" />
	<img src = "../static/traffic_log_stats.png" alt = "traggic log stats" />
</body>