<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		iframe {display:block; height:calc(100% - 50px); width:100%; border:none; margin:none;}
		.circModelButtons {display:block; margin:5px;}
		.circModelBox {margin-top:10px;}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="menuLeft">
			<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
			&#8220;<p id="titleText" style="display:inline"></p>&#8221;
		</div>
	</div>
	<iframe id="circFrame" src="{{pathPrefix}}/static/circuitjs1/circuitjs.html"></iframe>
	<!-- <button id='exportButton' style='position:absolute;bottom:5px;right:5px' onclick='exportString()'>clickSave</button> -->
	<div id="circuitInputs" style='position:fixed;bottom:0px;right:0px;width:150px;padding:5px;background:white'>
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="circModelBox">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-circuitRealTime" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="circModelBox">
				<label>Model Name</label><br>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required"></td>
			</div>
			<div class="runningInline postRunInline circModelBox">
				<label>User</label><br>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="runningInline postRunInline circModelBox">
				<label>Created</label><br>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="circModelBox">
				<button id="deleteButton" type="button" class="circModelButtons stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="circModelButtons stoppedInline postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="circModelButtons stoppedInline postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="runButton" type="submit" class="circModelButtons stoppedInline postRunInline" onclick="circSave()">Save</button>
			</div>
			<input type="hidden" id="circString" name="circString" value="" readonly/>
			<div id="copyrightNotice" style="color:gray;line-height:14pt;margin-top:20px">Circuit Simulator Applet was developed by <a href="http://www.falstad.com/" target="_blank">Paul Falstad</a></div>
		</form>
	</div>
</body>
<script type="text/javascript">
	function circSave() {
		circData = document.getElementById('circFrame').contentWindow.$circuitjs('EXPORT_AS_TEXT')
		document.getElementById('circString').value = circData
		return
	}
	function circInit() {
		var defaultCircString = '$ 1 0.000005 10.20027730826997 50 5 43\nr 176 64 384 64 0 10\ns 384 64 448 64 0 1 false\nw 176 64 176 336 0\nc 384 336 176 336 0 0.000014999999999999999 2.2688085065409958\nl 384 64 384 336 0 1 0.035738623044691664\nv 448 336 448 64 0 0 40 5 0 0 0.5\nr 384 336 448 336 0 100\no 4 64 0 2083 20 0.05 0 -1 0\no 3 64 0 2083 20 0.05 1 -1 0\no 0 64 0 2083 0.625 0.05 2 -1 0\nh 1 4 3'
		if (allInputData == null) {
			var circData = defaultCircString
		} else if (allInputData['circString'] == undefined) {
			var circData = defaultCircString
		} else {
			var circData = allInputData['circString']
		}
		// document.getElementById('circFrame').contentWindow.$circuitjs('IMPOORT_AS_TEXT', {'text': circData})
		document.getElementById('circFrame').src = encodeURI('{{pathPrefix}}/static/circuitjs1/circuitjs.html?cct=' + circData)
	}
	circInit()
</script>