<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
	/*Styles will go here*/
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<!-- Global Functions -->
	<script type="text/javascript">
		function editFeeder(modelName, feederNum) {
			console.log("modelName:",modelName)
			studyUser = allInputData.user
			window.open("/feeder/" + studyUser + "/" + modelName + "/" + feederNum,  "_blank")
		}
	</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-cvrStatic" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required"></td>
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" style="display:none">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/></td>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/></td>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/></td>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Capital Cost<span class="classic">Installation captial cost<br> Type: <em>float</em></span></label>
				<input type="text" id="capitalCost" name="capitalCost" pattern="^\d+\.?\d*$" required="required"></td>
			</div>
			<div class="shortInput">
				<label class="tooltip">OM Cost<span class="classic">Operating and maintainance cost<br> Type: <em>float</em></span></label>
				<input type="text" id="omCost" name="omCost" pattern="^\d+\.?\d*$" required="required"></td>
			</div>
			<div class="shortInput">
				<label class="tooltip">Wholesale Energy Cost ($/kWh)</label>
				<input type="text" id="wholesaleEnergyCostPerKwh" name="wholesaleEnergyCostPerKwh" pattern="^\d+\.?\d*$" required="required"></td>
			</div>
			<div class="shortInput">
				<label class="tooltip">Retail Energy Cost ($/kWh)</label>
				<input type="text" id="retailEnergyCostPerKwh" name="retailEnergyCostPerKwh" pattern="^\d+\.?\d*$" required="required"></td>
			</div>
			<div class="shortInput">
				<label class="tooltip">Spring Demand Charge ($/kW)</label>
				<input type="text" id="peakDemandCostSpringPerKw" name="peakDemandCostSpringPerKw" pattern="^\d+\.?\d*$" required="required"></td>
			</div>
			<div class="shortInput">
				<label class="tooltip">Summer Demand Charge ($/kW)</label>
				<input type="text" id="peakDemandCostSummerPerKw" name="peakDemandCostSummerPerKw" pattern="^\d+\.?\d*$" required="required"></td>
			</div>
			<div class="shortInput">
				<label class="tooltip">Fall Demand Charge ($/kW)</label>
				<input type="text" id="peakDemandCostFallPerKw" name="peakDemandCostFallPerKw" pattern="^\d+\.?\d*$" required="required"></td>
			</div>
			<div class="shortInput">
				<label class="tooltip">Winter Demand Charge ($/kW)</label>
				<input type="text" id="peakDemandCostWinterPerKw" name="peakDemandCostWinterPerKw" pattern="^\d+\.?\d*$" required="required"></td>
			</div>
			<div class="shortInput">
				<label class="tooltip">baselineTap</label>
				<input type="text" id="baselineTap" name="baselineTap" /></td>
			</div>
			<div class="shortInput">
				<label class="tooltip">Z (%)</label>
				<input type="text" id="z_percent" name="z_percent" /></td>
			</div>
			<div class="shortInput">
				<label class="tooltip">I (%)</label>
				<input type="text" id="i_percent" name="i_percent" /></td>
			</div>
			<div class="shortInput">
				<label class="tooltip">P (%)</label>
				<input type="text" id="p_percent" name="p_percent" /></td>
			</div>
			<div class="shortInput">
				<label class="tooltip">Power factor</label>
				<input type="text" id="power_factor" name="power_factor" /></td>
			</div>
			<hr>
			<div class="wideInput">
				<table>
					<tr>
						<th></th>
						<th>January</th>
						<th>February</th>
						<th>March</th>
						<th>April</th>
						<th>May</th>
						<th>June</th>
						<th>July</th>
						<th>August</th>
						<th>September</th>
						<th>October</th>
						<th>November</th>
						<th>December</th>
					</tr>
					<tr>
						<th>Avg Load</th>
						<td><input type="text" id="janAvg" name="janAvg" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="febAvg" name="febAvg" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="marAvg" name="marAvg" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="aprAvg" name="aprAvg" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="mayAvg" name="mayAvg" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="junAvg" name="junAvg" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="julAvg" name="julAvg" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="augAvg" name="augAvg" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="sepAvg" name="sepAvg" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="octAvg" name="octAvg" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="novAvg" name="novAvg" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="decAvg" name="decAvg" pattern="^\d+\.?\d*$" required="required"></td>
					</tr>
					<tr>
						<th>Peak Load</th>
						<td><input type="text" id="janPeak" name="janPeak" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="febPeak" name="febPeak" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="marPeak" name="marPeak" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="aprPeak" name="aprPeak" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="mayPeak" name="mayPeak" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="junPeak" name="junPeak" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="julPeak" name="julPeak" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="augPeak" name="augPeak" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="sepPeak" name="sepPeak" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="octPeak" name="octPeak" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="novPeak" name="novPeak" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="decPeak" name="decPeak" pattern="^\d+\.?\d*$" required="required"></td>
					</tr>
				</table>
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" class="postRunInline stoppedInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<script type="text/javascript">
		function insertMetric(tableId, name, vector) {
				// Add a vector to a table as a row.
				table = gebi(tableId)
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = name
				for (i=0; i<vector.length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = vector[i]
				}
			}
		</script>
		<p class="reportTitle postRun">Historical Loads</p>
		<div id="scadaReport" class="tightContent postRun">
			<script type="text/javascript">
				new Highcharts.Chart({
					"chart":{
						"height": 200,
						"width": 1000,
						"renderTo": "scadaReport",
						"type": "column"
					},
					"title":{
						"text":null
					},
					"legend":{
						"layout":"horizontal",
						"align":"top",
						"verticalAlign":"top",
						"x":50,
						"y":-10,
						"borderWidth":0
					},
					"credits":{
						"enabled":false
					},
					"tooltip":{
						"valueDecimals":1
					},
					"xAxis": {
						"categories": allOutputData["monthName"]
					},
					"yAxis": {
						"title": {
							"text": "Historical Power Con(KW)",
							"style":{
								"color":"gray"
							}
						}
					},
					"plotOptions": {
						"column": {
							"pointPadding": 0.2,
							"borderWidth": 0,
						}
					},
					"series":[{
						"data": allOutputData["histPeak"],
						"type": "column",
						"color": "darkgrey",
						"name": "histPeak"
					},{
						"data": allOutputData["histAverage"],
						"type": "column",
						"color": "grey",
						"name": "histAverage"
					}]
				})
			</script>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">One Line Diagram</p>
		<div id="feederReport" class="tightContent postRun">
			<img id="feederChart" />
			<script type="text/javascript">gebi("feederChart").src = "data:image/png;base64," + allOutputData.feederChart</script>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Projected Savings by Month</p>
		<div id="spendReport" class="tightContent postRun">
			<script type="text/javascript">
				new Highcharts.Chart({
					"chart":{
						"height": 200,
						"width": 1000,
						"renderTo": "spendReport",
						"type": "column"
					},
					"title":{
						"text":null
					},
					"legend":{
						"layout":"horizontal",
						"align":"top",
						"verticalAlign":"top",
						"x":50,
						"y":-10,
						"borderWidth":0
					},
					"credits":{
						"enabled":false
					},
					"tooltip":{
						"valueDecimals":1
					},
					"xAxis": {
						"categories": allOutputData["monthName"]
					},
					"yAxis": {
						"title": {
							"text": "Utility Savings ($)",
							"style":{
								"color":"gray"
							}
						}
					},
					"plotOptions": {
						"column": {
							"pointPadding": 0.2,
							"borderWidth": 0,
							"stacking": 'normal'
						}
					},
					"series":[{
						"data": allOutputData["energyReductionDollars"],
						"type": "column",
						"color": "blue",
						"name": "Energy Reduction"
					},{
						"data": allOutputData["lossReductionDollars"],
						"type": "column",
						"color": "green",
						"name": "Loss Reduction"
					},{
						"data": allOutputData["peakReductionDollars"],
						"type": "column",
						"color": "red",
						"name": "Peak Reduction"
					}]
				})
			</script>
		</div>
		<p class="reportTitle postRun">Projected Avoided Cost</p>
		<div id="savingsReport" class="tightContent postRun">
			<script type="text/javascript">
				paybackYear = null
				for (i=0; i<=30; i++) {
					if (allOutputData["annualSave"][i]>=0) {paybackYear = i; break}
				}
				paybackLine = []
				if (paybackYear != null) {
					paybackLine = [{
						"color": "green", // Color value
						"value": paybackYear, // Value of where the line will appear
						"width": 1, // Width of the line
						"label": {"text": "Simple Payback"}
					}]
				}
				new Highcharts.Chart({
					"chart":{
						"height": 200,
						"width": 1000,
						"renderTo": "savingsReport",
						"type": "line"
					},
					"title":{
						"text":null
					},
					"legend":false,
					"credits":{
						"enabled":false
					},
					"tooltip":{
						"valuePrefix":"$",
						"valueDecimals":1,
						formatter: function () {return 'Net return after <b>' + this.x + '</b> years is <b>$' + this.y.toFixed(2) + '</b>'}
					},
					"xAxis": {
						"plotLines": paybackLine,
						"tickInterval":1,
						"minorTickColor":"gray",
						"minorTickInterval":5
					},
					"yAxis": {
						"title": {
							"text": "Cumulative Savings ($)",
							"style":{
								"color":"gray"
							}
						}
					},
					"plotOptions": {
					},
					"series":[{
						"data": allOutputData["annualSave"],
						"color": "blue",
						"name": "Cumulative Savings ($)"
					}]
				})
			</script>
		</div>
		<p class="reportTitle postRun">Power Flows at Various Loads</p>
		<div id="powerflowReport" class="tightContent postRun tableReport">
			<table id="powerflowReportTable"></table>
			<script type="text/javascript">
				for (row in allOutputData["monthDataMat"]){
					insertMetric("powerflowReportTable","", allOutputData["monthDataMat"][row])
				}
			</script>
		</div>
		<p class="reportTitle postRun">Savings at Various Loads</p>
		<div id="moneyReport" class="tightContent postRun tableReport">
			<table id="moneyReportTable"></table>
			<script type="text/javascript">
				for (row in allOutputData["monthDataPart"]){
					insertMetric("moneyReportTable","", allOutputData["monthDataPart"][row])
				}
			</script>
		</div>
	</div>
</body>