<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		#firstYearSummaryTable td, th {padding:7 0 5 0; text-align:left; font-size:0.8em;}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Inputs</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-demandResponse" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value={{modelName}} readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required"></td>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline ">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Base Case</p>
			</div>
			<hr>
			<div class="shortInput">
				<label>Demand Charge Cost ($/kW)</label>
				<input type="text" id="demandCharge" name="demandCharge" required="required" pattern="^\d+$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Retail Energy Cost ($/kWh)<span class="classic">Retail rate for residential consumers.</span></label>
				<input type="text" id="retailCost" name="retailCost" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Wholesale Energy Cost($/kWh)</label>
				<input type="text" id="WholesaleEnergyCost" name="WholesaleEnergyCost" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Annual Load Growth (%)<span class="classic">Expected annual load growth. Used to project costs and benefits out 25 years to estimate lifetime value of the demand response program.</span></label>
				<input type="text" id="ScalingAnnual" name="ScalingAnnual" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Discount Rate (%)</label>
				<input type="text" id="DiscountRate" name="DiscountRate" required="required" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Demand Curve (.csv file)<span class="classic">Please see the documentation at the help link for the required format. If this field is blank the OMF will re-use the file from the previous run.</span></label>
				<input id="demandCurveFile" type="file" style="display:none" onchange="handle_files(this.files,'demandCurve','fileName')">
				<input id="demandCurve" name="demandCurve" type="hidden">
				<div>
					<label for="demandCurveFile" class="fileButton">Choose File</label>
					<input id="fileName" name="fileName" value='' readonly class="uploadFileName">	
				</div>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Demand Response Program Variables</p>
			</div>
			<hr>
			<div class="shortInput">
				<label>Program Type</label>
				<select id="rateStruct" name="rateStruct"/>
					<option value="PTR">Peak Time Rebate (PTR)</option>
					<option value="2tierCPP">Critical Peak Pricing (CPP)</option>
					<option value="24hourly">Time of Use Hourly Pricing (TOU)</option>
				</select>
			</div>
			<div class="shortInput">
				<label>Program Startup Cost ($)</label>
				<input type="text" id="DrPurchInstallCost" name="DrPurchInstallCost" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Annual DR operation Cost ($/year)</label>
				<input type="text" id="AnnualDROperationCost" name="AnnualDROperationCost" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Load Managed by the Program (%)</label>
				<input type="text" id="LoadunderManagement" name="LoadunderManagement" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>CPP Critical Peak Rate ($)</label>
				<input type="text" id="rateCPP" name="rateCPP" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Number of CPP Days</label>
				<input type="text" id="numCPPDays" name="numCPPDays" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>CPP Non-Critical Peak Rate ($)</label>
				<input type="text" id="PeakRate" name="PeakRate" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>CPP Off-Peak Rate ($)</label>
				<input type="text" id="OffPeakRate" name="OffPeakRate" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>PTR Rate ($)</label>
				<input type="text" id="ratePTR" name="ratePTR" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class= "shortInput">
					<label>Daily Price Elasticity of Demand</label>
					<input type="text" id="DailyPriceElasticity" name="DailyPriceElasticity" required="required" pattern="^-?\d+\.?\d*?$">
			</div>
			<div class= "shortInput">
					<label> Substitution Price Elasticity of Demand</label>
					<input type="text" id="SubstitutionPriceElasticity" name="SubstitutionPriceElasticity" required="required" pattern="^-?\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label>Starting Month</label>
				<input type="text" id="startMonth" name="startMonth" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Ending Month</label>
				<input type="text" id="stopMonth" name="stopMonth" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Starting Peak Hour</label>
				<input type="text" id="startHour" name="startHour" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Ending Peak Hour</label>
				<input type="text" id="stopHour" name="stopHour" required="required" pattern="^\d+$"/>
			</div>
			<div class="shortInput" style="width:100%">
				<label>TOU 24 Hourly Rates ($ CSV)</label>
				<input type="text" id="rate24hourly" name="rate24hourly" pattern="^(\d*\.?\d*)(,\s*\d*\.?\d*){23}$" required="required" />
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {	
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<script type="text/javascript">
			// Global Highcharts settings.
			Highcharts.setOptions({global:{useUTC:true}})
		</script>
		<p class="reportTitle postRun" style="page-break-before:always">Demand Before and After Program</p>
		<div id="demandChangeReport" class="tightContent postRun">
			<div id="demandBattChart"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							"pointStart":Date.parse(allOutputData.startDate),
							"shadow":false,
							"pointInterval":3600000},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,
						"tickColor":"gray",
						"type":"datetime",
						"lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}
					},
					"yAxis":{
						"title":{"text":"Power (kW)","style":{"color":"gray"}},
						"min":allOutputData.differenceMin,
						"plotLines":[
							{"color": "lightgray",
							"dashStyle": "ShortDash",
							"width": 2,
							"label":{"text":"Max Difference:" + allOutputData.differenceMax + "kW", "align":"right","y":-5,"x":-730, "style":{"color":"gray", "fontsize":"12px"}},
							"value": allOutputData.differenceMax,"zIndex": 10}
							]},
					"title":{"text":null},
					"series":[
						{"name":"Historical","marker":{"enabled":false},"color":"red","data":allOutputData.demandLoad},
						{"name":"After Program","marker":{"enabled":false},"color":"purple","data":allOutputData.modifiedLoad},
						{"name":"Difference","marker":{"enabled":false},"color":"lightgray","data":allOutputData.difference}],
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"demandBattChart","type":"line","marginRight":20, "height":750,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun"> First Year Financial Impact</p>
		<div id="levelizedCostReport" class="tightContent postRun">
			<table id="firstYearSummaryTable" style="margin:5px; width:100%; font-size: medium">
				<thead>
					<th></th>
					<th>Annual Demand (kWh)</th>
					<th>Energy Sales ($)</th>
					<th>Energy Cost ($)</th>
					<th>Peak Demand Cost ($)</th>
					<th>DR Program Cost ($)</th>
				</thead>
			</table>
			<script>
				function insertMetric(tableId, name, vector) {
					// Add a vector to a table as a row.
					table = gebi(tableId)
					newRow = table.insertRow()
					newRow.insertCell().innerHTML = "<div id=\"metric\">" + name + "</div>"
					for (i=0; i<vector.length; i++) {
						cell = newRow.insertCell()
						cell.innerHTML = delimitNumbers(vector[i].toFixed(0))
					}
				}
				insertMetric("firstYearSummaryTable","Base Case", allOutputData.BaseCase)
				insertMetric("firstYearSummaryTable","Demand Response Case", allOutputData.DRCase)
			</script>
		</div>
		<p class="reportTitle postRun">Program Lifetime Cash Flow</p>
		<div id="cashFlowReport" class="tightContent postRun">
			<div id="cashFlowChartDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"column":{"stacking":'normal'},"series":{"animation":false,"shadow":false},"spline":{"animation":false,"shadow":false}},
					"xAxis":{"title":{"text":"Year After Installation","style":{"color":"gray"}},"type":"linear","tickColor":"gray","tickInterval":1,"minorTickColor":"gray", "minorTickInterval":5,"lineColor":"gray", "min":0},
					"title":{"text":"NPV:$" + delimitNumbers(allOutputData.npv.toFixed(0)) + ";  Payback:" + parseFloat(allOutputData.SimplePaybackPeriod).toFixed(2) + " years;  Benefit/Cost:" + parseFloat(allOutputData.BenefittoCostRatio).toFixed(2), "verticalAlign":"bottom", "align":"right", "y":-50, "x":-10, "style":{"color":"#333333", "fontSize":"12px"}},
					"series":[{"name":"Op. and Maint. Costs", "data":allOutputData.AnnualOpCost},
						{"name":"Purchase Costs", "data":allOutputData.lifePurchaseCosts},
						{"name":"Energy Sale Change Benefit", "type":"column", "data":allOutputData.EnergySaleChangeBenefit},
						{"name":"Peak Demand Reduction Benefit", "type":"column", "data":allOutputData.PeakDemandReduction},
						{"name":"Cumulative", "type":"spline", "data":allOutputData.cumulativeNetBenefit}],
					"yAxis":{"title":{"text":"Income ($)","style":{"color":"gray"}}},
					"chart":{"marginBottom":55,"zoomType":"x","renderTo":"cashFlowChartDiv","type":"column","marginRight":25, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>

	</div>
</body>