<head>
  <title>Open Modeling Framework</title>
  <meta charset="utf-8">
  <link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
  <link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
  <style>
  /*Styles will go here*/
  </style>
  {% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
  <!-- Library Imports -->
  <script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
  <script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
  <script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
  <script src="{{pathPrefix}}/static/d3.v3.js"></script>
  <!-- Data  Imports -->
  <script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
  <script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
  <script>modelStatus="{{modelStatus}}"</script>
  <script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
  <!-- Global Functions -->
  <script type="text/javascript">
    // Global setting of Highcharts
    Highcharts.setOptions({global: {useUTC: false}})
    // Clean up the non-ISO date strings we get.
    function dateOb(inStr) {return Date.parse(inStr.replace(/-/g,"/"))}
    pointStart = dateOb(allOutputData.timeStamps[0])
    pointInterval = dateOb(allOutputData.timeStamps[1]) - pointStart
    highChartsTemplate = {
      "chart":{"renderTo":"", "marginRight":20, "marginBottom":35, "zoomType":"x"},
      "title":{"text":null},
      "legend":{"layout":"horizontal", "align":"top", "verticalAlign":"top", "x":50, "y":-10, "borderWidth":0},
      "credits":{"enabled":false},
      "xAxis":{"type":"datetime","maxZoom":108000000, "tickColor":"gray","lineColor":"gray"},
      "yAxis":{"title":{"text":null, "style":{"color":"gray"}}},
      "plotOptions":{"line":{"marker":{"enabled":false}}, "series":{"shadow":false, "pointInterval":pointInterval, "pointStart":pointStart}},
      "tooltip":{"valueDecimals":1},
      "series":[]}
    function editFeeder(modelName, feederNum) {
      console.log("modelName:",modelName)
      studyUser = allInputData.user
      window.open("/feeder/" + studyUser + "/" + modelName + "/" + feederNum,  "_blank")
    }
    // Code to make the toggles work:
    $(document).ready(function(){
      $(".toggle").click(function(){
          $(this).parent().next().toggle(500)
      })
    })
  </script>
</head>
<body onload="init()">
  <div id="header">
    <div id="headInnerBlock">
      <div id="menuLeft">
        <a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
        &#8220;<p id="titleText" style="display:inline"></p>&#8221;
      </div>
    </div>
  </div>
  <p class="reportTitle">Model Input</p>
  <div id="input" class="content">
    <form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
      <div class="shortInput">
        <label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-gridBallast" target="blank">Help?</a></label>
        <input type="text" id="modelType" name="modelType" readonly/>
      </div>
      <div class="shortInput">
        <label>Model Name</label>
        <input type="text" id="modelName" name="modelName" required="required" pattern="^[\w\s]+$"/></td>
      </div>
      <div class="shortInput">
        <label>Feeder</label>
        <button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
      </div>
      <input type="hidden" id="feederName1" name="feederName1"> <!--HACK:pass feeder name back and forth to backend.-->
      <div class="shortInput runningInline postRunInline">
        <label>User</label>
        <input type="text" id="user" name="user" readonly/></td>
      </div>
      <div class="shortInput runningInline postRunInline">
        <label>Created</label>
        <input type="text" id="created" name="created" readonly/></td>
      </div>
      <div class="shortInput postRunInline">
        <label>Run Time</label>
        <input type="text" id="runTime" name="runTime" readonly/></td>
      </div>
      <hr>
      <!-- <div class="shortInput">
        <label class="tooltip">Zip Code<span class="classic">Zip code of the planned array's geographical location.</span></label>
        <input type="text" id="zipCode" name="zipCode" pattern="^\d{5}(?:[-\s]\d{4})?$" required="required">
      </div> -->
      <input type='hidden' id='zipCode' name='zipCode' value='59001'/>
      <div class="shortInput">
        <label class="tooltip">Simulation Length<span class="classic">Number of time steps in the installation. Due to large data volumes, the current limit is 9999.</span></label>
        <input type="text" id="simLength" name="simLength" required="required" pattern="^(\d{1,4})$"/>
      </div>
      <div class="shortInput">
        <label>Length Units</label>
        <select id="simLengthUnits" name="simLengthUnits">
          <option value="hours">Hours</option>
          <option value="minutes">Minutes</option>
        </select>
      </div>
      <div class="shortInput">
        <label>Simulation Start Date (YYYY-MM-DD HH:MM:SS)</label>
        <input type="text" id="simStartDate" name="simStartDate" required="required" pattern="^\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}$"/>
      </div>
      <hr>
      <!-- <div class="shortInput">
        <label>Solar Penetration (%)</label>
        <input type="text" id="solarPenetration" name="solarPenetration" pattern="^\d+\.?\d*?$" placeholder="N/A" disabled/>
      </div>
      <div class="shortInput">
        <label>Water Heater GridBallast Penetration (%)</label>
        <input type="text" id="gridBallastPenetration" name="gridBallastPenetration" placeholder="N/A" disabled/>
      </div>
      <div class="shortInput">
        <label>Water Heater Circuit Penetration (%)</label>
        <input type="text" id="circuitPenetration" name="circuitPenetration" placeholder="N/A" disabled/>
      </div>
      <div class="shortInput">
        <label>Frequency Drop Band</label>
        <input type="text" id="frequencyDropBand" name="frequencyDropBand" placeholder="N/A" disabled/>
      </div> -->
      <div class="shortInput">
        <label>Event Type</label>
        <select id="eventType" name="eventType">
          <option value="ramping">Ramping</option>
          <option value="unramping">Un-Ramping</option>
          <option value="overfreq">Over-Frequency</option>
          <option value="underfreq">Under-Frequency</option>
        </select>
      </div>
      <div class="shortInput">
        <label>Event Time (YYYY-MM-DD HH:MM)</label>
        <input type="text" id="eventTime" name="eventTime" required="required" pattern="^\d\d\d\d-\d\d-\d\d\s\d\d:\d\d$"/>
      </div>
      <div class="shortInput">
        <label>Event Length (HH:MM)</label>
        <input type="text" id="eventLength" name="eventLength" required="required" pattern="^\d\d:\d\d$"/>
      </div>
      <div class="wideInput" style="text-align:right">
        <button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
        <button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
        <button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
        <button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
        <button id="runButton" class="postRunInline stoppedInline" type="submit">Run Model</button>
      </div>
    </form>
  </div>
  <div id ="runIndicator" class="content running">
    Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
  </div>
  <div id ="stopIndicator" class="content stopped" style="visibility: hidden">
    <pre id='errorText' style='overflow-x:scroll'></pre>
    <script type="text/javascript">
      if (typeof(allInputData.stderr) !== 'undefined') {
        gebi('stopIndicator').style.visibility = 'visible'
        gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
    </script>
  </div>
  <div id="output">
    <p class="reportTitle postRun">Power Consumption From Transmission System <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="powerConsumptionReport" class="tightContent postRun">
      <div id="powerTimeSeries"></div>
      <script type="text/javascript">
        // power series data
        var powerSeries = {
          "marker":{
            "enabled":false
          },
          "color":"red",
          "data":allOutputData.Consumption.Power,
          "name":"Substation Powerflow"
        }
        var lossesSeries = {
          "marker":{
            "enabled":false
          },
          "color":"orangered",
          "data":allOutputData.Consumption.Losses,
          "name":"Technical Losses",
          "visible": false
        }
        var DGSeries = {
          "marker":{
            "enabled":false
          },
          "color":"seagreen",
          "data":allOutputData.Consumption.DG,
          "name":"DG Power",
          "visible": false
        }
        var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
        localHighChart["chart"]["renderTo"] = "powerTimeSeries"
        localHighChart["chart"]["type"] = "line"
        localHighChart["chart"]["width"] = 1000
        localHighChart["chart"]["height"] = 150
        localHighChart["series"] = [powerSeries, lossesSeries, DGSeries]
        localHighChart["yAxis"]["title"] = {"text": "Power (W)", "style": {"color": "gray"}}
        localHighChart['xAxis']['min'] = new Date(allOutputData.timeStamps[0]).getTime()
        localHighChart['xAxis']['max'] = new Date(allOutputData.timeStamps[allOutputData.timeStamps.length-1]).getTime()
        new Highcharts.Chart(localHighChart);
      </script>
    </div>
    <p class="reportTitle postRun">Energy Balance <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="newEnergyBalanceReport" class="tightContent postRun">
      <script type="text/javascript">
        function arrSum(arr) {
          myVal = eval(arr.join("+"))
          if (typeof myVal == "undefined") {return 0} else {return myVal}
        }
        tPower = eval(allOutputData.Consumption.Power.join("+"))
        tLosses = eval(allOutputData.Consumption.Losses.join("+"))
        tDG = eval(allOutputData.Consumption.DG.join("+"))
        tLoads = tDG + tPower + tLosses
        dgExported = []
        fromGrid = []
        for (i = 0; i < allOutputData.Consumption.Power.length; i++) {
          curVal = allOutputData.Consumption.Power[i]
          if (curVal < 0) {dgExported.push(curVal)} else {fromGrid.push(curVal)}
        }
        tDGExported = arrSum(dgExported)
        tFromGrid = arrSum(fromGrid)
        tDGDirect = tLoads + tLosses - tFromGrid
        // Series formatting.
        tLossesSeries = {"pointWidth": 40,  "color":"orangered", "data":[0,tLosses], "type":"bar", "name":"Losses"}
        tLoadsSeries = {"pointWidth": 40, "color":"darkorange", "data":[0,tLoads], "type":"bar", "name":"Loads"}
        tDGSeries = {"pointWidth": 40, "color":"seagreen", "data":[], "type":"bar", "name":"DG"}
        tFromGridSeries = {"pointWidth": 40,  "color":"Red", "data":[tFromGrid,0], "type":"bar", "name":"FromGrid"}
        tDGDirectSeries = {"pointWidth": 40, "color":"RoyalBlue", "data":[tDGDirect,0], "type":"bar", "name":"DGDirect"}
        tDGExportedSeries = {"pointWidth": 40, "color":"LightSeaGreen", "data":[tDGExported,0], "type":"bar", "name":"DG Exported"}
        tDGSeries["data"].push(tDG)
        localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
        localHighChart["chart"]["renderTo"] = "newEnergyBalanceReport"
        localHighChart["chart"]["inverted"] = false
        localHighChart["chart"]["height"] = 250
        localHighChart["chart"]["width"] = 1000
        localHighChart["chart"]["marginBottom"] = 50
        localHighChart["series"] = [tFromGridSeries,tDGDirectSeries,tDGExportedSeries,tLossesSeries,tLoadsSeries]
        localHighChart["xAxis"] = {
          "tickColor":"gray",
          "lineColor":"gray",
          "categories":["Source","Destination"]
          }
        localHighChart["yAxis"] = {"title": {"text": 'Energy (Wh)',"style":{"color":"gray"},"offset":20}},
        localHighChart["plotOptions"] = {
          "bar":{"stacking":"normal"},
        }
        new Highcharts.Chart(localHighChart);
      </script>
    </div>
    <p class="reportTitle postRun" style="page-break-before:always">Regulator Tap Changes <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="newRegulatorReport" class="tightContent postRun">
      <script type="text/javascript">
        var regNamesArray = []
        for (var key in allOutputData) {
          if (key.indexOf('Regulator') === 0) {
            regName = "allOutputData.".concat(key)
            regNamesArray.push(regName)
          }
        }
        // if no regulators are found, display message
        if (regNamesArray.length == 0) {
          $("#newRegulatorReport").html("<p>&#160;&#160;&#160;No Regulators were found on the feeder.</p>")
        }
        for (var i = 0; i < regNamesArray.length; i++) {
          reg = regNamesArray[i]
          $("<div/>").appendTo("#newRegulatorReport")
            .attr("class", "regContainer")
            .attr("id", reg)
          $("<div/>").appendTo("#newRegulatorReport")
            .attr("id", "regulatorSeries_" + reg)
          var reg1ATSeries = {
            "pointWidth": 40,
            "pointInterval": 3 * 3600 * 100,
            "color":"RoyalBlue",
            "data":eval(regNamesArray[i].concat(".RegTapA")),
            "name":"A",
          }
          var reg1BTSeries = {
            "pointWidth": 40,
            "pointInterval": 3 * 3600 * 100,
            "color":"Red",
            "data":eval(regNamesArray[i].concat(".RegTapB")),
            "name":"B",
          }
          var reg1CTSeries = {
            "pointWidth": 40,
            "pointInterval": 3 * 3600 * 100,
            "color":"Green",
            "data":eval(regNamesArray[i].concat(".RegTapC")),
            "name":"C",
          }
        }
        phaseValue = eval(reg.concat(".RegPhases"))
        var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
        localHighChart["chart"]["renderTo"] = "regulatorSeries_" + reg
        localHighChart["chart"]["inverted"] = false
        localHighChart["chart"]["height"] = 150
        localHighChart["chart"]["width"] = 1000
        localHighChart["chart"]["type"] = "line"
        localHighChart["title"]["text"] = reg.substr(14)
        localHighChart["series"] = []
        localHighChart["xAxis"] = {
          "type":"datetime",
          "tickColor":"gray",
          "lineColor":"gray",
        }
        localHighChart["yAxis"] = {
          "min": -17,
          "max" : 17,
          //"startOnTick": "false",
          "title": {
            "text": "Tap position",
            "style": {
              "color":"gray"
            }
          }
        }
        localHighChart["plotOptions"] = {
          //"bar": {"stacking":"normal", "shadow":false},
        }
        chart = new Highcharts.Chart(localHighChart);
        if (phaseValue.indexOf('A') != -1) {
          chart.addSeries(reg1ATSeries)
        }
        if (phaseValue.indexOf('B') != -1) {
          chart.addSeries(reg1BTSeries)
        }
        if (phaseValue.indexOf('C') != -1) {
          chart.addSeries(reg1CTSeries)
        }
      </script>
    </div>
    <p class="reportTitle postRun">Cap Bank Activation <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="newCapbankReport" class="tightContent postRun">
      <script type="text/javascript">
        var capNamesArray = []
        for (var key in allOutputData) {
          if (key.indexOf('Capacitor') === 0) {
            capName = "allOutputData.".concat(key)
            capNamesArray.push(capName)
          }
        }
        // if no capacitors are found, display message
        if (capNamesArray.length == 0) {
          $("#newCapbankReport").html("<p>&#160;&#160;&#160;No Capacitors were found on the feeder.</p>")
        }
        for (var i = 0; i < capNamesArray.length; i++) {
          cap = capNamesArray[i]
          $("<div/>").appendTo("#newCapbankReport")
            .attr("class", "capContainer")
            .attr("id", cap)
          $("<div/>").appendTo("#newCapbankReport")
            .attr("id", "capacitorSeries_" + cap)
          var cap1BSeries = {
            "pointWidth": 40,
            "pointInterval": 3 * 3600 * 100,
            "color":"Red",
            "data":eval(capNamesArray[i].concat(".Cap1B")),
            "name":"B"
          }
          var cap1ASeries = {
            "pointWidth": 40,
            "pointInterval": 3 * 3600 * 100,
            "color":"RoyalBlue",
            "data":eval(capNamesArray[i].concat(".Cap1A")),
            "name":"A"
          }
          var cap1CSeries = {
            "pointWidth": 40,
            "pointInterval": 3 * 3600 * 100,
            "color":"Green",
            "data":eval(capNamesArray[i].concat(".Cap1C")),
            "name":"C"
          }
        }
        phaseValue= eval(cap.concat(".CapPhases"))
        var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
        localHighChart["chart"]["renderTo"] = "capacitorSeries_" + cap
        localHighChart["chart"]["inverted"] = false
        localHighChart["chart"]["height"] = 150
        localHighChart["chart"]["width"] = 1000
        localHighChart["chart"]["type"] = "column"
        localHighChart["title"]["text"] = cap.substr(14)
        localHighChart["series"] = []
        localHighChart["xAxis"] = {
          "type":"datetime",
          "tickColor":"gray",
          "lineColor":"gray",
        }
        localHighChart["yAxis"] = {
          "min": 0,
          "max" : 3,
          "startOnTick": "false",
          "tickInterval":1,
          "title": {
            "text": "1 = Active",
            "style": {
              "color":"gray"
            }
          }
        }
        localHighChart["plotOptions"] = {
          "column": {"stacking":"normal", "shadow":false}
        }
        localHighChart["chart"]["title"] = {"align":"center","text":"CapCHART"}
        chart = new Highcharts.Chart(localHighChart);
        if (phaseValue.indexOf('A') != -1) {
          chart.addSeries(cap1ASeries)
        }
        if (phaseValue.indexOf('B') != -1) {
          chart.addSeries(cap1BSeries)
        }
        if (phaseValue.indexOf('C') != -1) {
          chart.addSeries(cap1CSeries)
        }
      </script>
    </div>
    <p class="reportTitle postRun" style="page-break-before:always">Triplex Meter Voltages <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="triplexMeterVoltageReport" class="tightContent postRun">
      <div id="triplexMeterVoltageChart"></div>
      <script type="text/javascript">
          triplexSeriesData = [
            {"marker": {"enabled":false}, "color":"LightBlue", "data":allOutputData.allMeterVoltages.Min, "name":"Min"},
            {"marker":{"enabled":false}, "color":"blue", "data":allOutputData.allMeterVoltages.Mean, "name":"Mean"},
            {"marker":{"enabled":false}, "color":"LightBlue", "data":allOutputData.allMeterVoltages.Max, "name":"Max"}]
          var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
          localHighChart["chart"]["renderTo"] = "triplexMeterVoltageChart"
          localHighChart["chart"]["width"] = 1000
          localHighChart["chart"]["height"] = 200
          localHighChart["chart"]["type"] = "line"
          localHighChart["series"] = triplexSeriesData
          localHighChart["yAxis"] = {
            "maxRange":20,
            "plotLines": [
              {"color": 'gray', "dashStyle": 'ShortDash', "width": 2, "value": 114, "zIndex": 0},
              {"color": 'gray', "dashStyle": 'ShortDash', "width": 2, "value": 126, "zIndex": 0}],
            "title":{"text":"Volts (V)", "style":{"color":"gray"}}}
          localHighChart['xAxis']['min'] = new Date(allOutputData.timeStamps[0]).getTime()
          localHighChart['xAxis']['max'] = new Date(allOutputData.timeStamps[allOutputData.timeStamps.length-1]).getTime()
          new Highcharts.Chart(localHighChart)
      </script>
    </div>
    <p class="reportTitle postRun">System Voltage Map <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="systemVoltageMap" class="tightContent postRun" style="height:1030px">
      <video width="1000" height="1000" controls preload="auto">
        <source id="timeTravelMovie" src="" type="video/mp4" codecs="h264">
        Your browser does not support the video tag.
        {% if pathPrefix == "" %}
        <script>gebi("timeTravelMovie").src = "/downloadModelData/"+allInputData.user+"/"+allInputData.modelName+"/voltageChart.mp4"</script>
        {% else %}
        <script>gebi("timeTravelMovie").src = "{{pathPrefix}}/data/Model/"+allInputData.user+"/"+allInputData.modelName+"/voltageChart.mp4"</script>
        {% endif %}
      </video>
    </div>
    <p class="reportTitle postRun">Solar Data <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="irradianceReport" class="tightContent postRun">
      <div id="irradianceChartDiv"></div>
      <script>
        irradianceSeriesData = [
          {"name":'Global Horizontal',"marker":{"enabled":false},"color":"gold","data":allOutputData.climate['Global Horizontal (W/sm)'],"visible":true}]
        new Highcharts.Chart({
          "credits":{"enabled":false},
          "plotOptions":{
            "series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},
            "line":{"marker":{"enabled":true}}},
          "xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray", 'min' : new Date(allOutputData.timeStamps[0]).getTime(), 'max' : new Date(allOutputData.timeStamps[allOutputData.timeStamps.length-1]).getTime() },
          "title":{"text":null},
          "series":irradianceSeriesData,
          "yAxis":{"title":{"text":"Irradiance ( W / m^2 )","style":{"color":"gray"}}, "min":0},
          "chart":{"marginBottom":35,"zoomType":"x","renderTo":"irradianceChartDiv","type":"line","marginRight":20, "height":300,"width":1000},
          "tooltip":false,
          "legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
      </script>
    </div>
    <p class="reportTitle postRun">Other Climate Variables <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="climateReport" class="tightContent postRun">
      <div id="climateChartDiv"></div>
      <script type="text/javascript">
        climateSeriesData = [
          {"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]},
          {"name":"Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Temperature (F)"]},
          {"name":"Snow Depth (in)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Snow Depth (in)"]}]
        new Highcharts.Chart({
          "credits":{"enabled":false},
          "plotOptions":{
            "series":{"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},
            "line":{"marker":{"enabled":false}}},
          "xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray", 'min' : new Date(allOutputData.timeStamps[0]).getTime(), 'max' : new Date(allOutputData.timeStamps[allOutputData.timeStamps.length-1]).getTime() },
          "title":{"text":null},
          "series":climateSeriesData,
          "yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}},
          "chart":{"marginBottom":35,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},
          "tooltip":{"valueDecimals":1},
          "legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
      </script>
    </div>
    <p class="reportTitle postRun">Study Details <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="studyDetails" class="tightContent postRun detailsContainer" style="position: relative;">
      <div id="mapHere" style="width:495px; height:340px; display:inline-block"></div>
      <script type="text/javascript">
        width = 495, height = 340
        projection = d3.geo.albersUsa().scale(600).translate([width/2, height/2])
        path = d3.geo.path()
          .projection(projection)
        svg = d3.select("#mapHere").append("svg")
          .attr("width", width)
          .attr("height", height)
        group = svg.append("g")
        group.attr("transorm", "scale(.2, .2)")
        d3.json("{{pathPrefix}}/static/state_boundaries.json", function(collection) {
          group.selectAll('path')
            .data(collection.features)
            .enter().append('path')
            .attr('d', d3.geo.path().projection(projection))
            .attr('id', function(d){return d.properties.name.replace(/\s+/g, '')})
            .style('fill', 'gray')
            .style('stroke', 'white')
            .style('stroke-width', 1)})
        d3.json("{{pathPrefix}}/static/city_locations.json", function(new_us_places){
          climate = allInputData.climateName
          ST_NAME = climate.split("-")
          ST = ST_NAME[0]
          NAME = ST_NAME[1].replace("_"," ")
          my_coords = projection(new_us_places[ST][NAME])
          r = 5
          circle = svg.append("circle")
            .attr("cx", my_coords[0])
            .attr("cy", my_coords[1])
            .attr("r", 5)
            .attr("class", "HighlightCircle")
          circle.append("svg:title").text(climate)})
      </script>
      <div id="runtimeStatsReport" style="width:495px; height:340px; margin:5 0 0 0; overflow-y:scroll; overflow-x:hidden; display:inline-block; vertical-align:top">
        <pre id="stdout" style="font-size:13px; text-align:left"></pre>
      </div>
      <script>gebi("stdout").innerHTML = allOutputData.stdout</script>
    </div>
    <p class="reportTitle postRun">Distribution Quality of Service <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="serviceQualityReport" class="tightContent postRun">
      <div id="serviceQualityChart"></div>
      <script type="text/javascript">
        var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
        localHighChart['chart']['renderTo'] = 'serviceQualityChart'
        localHighChart['chart']['type'] = 'line'
        localHighChart['chart']['width'] = 1000
        localHighChart['chart']['height'] = 250
        localHighChart['series'] = [
          {
            'showInLegend': false,
            'data': allOutputData.gridBallast.qualityDrops,
            'color': 'gray'
          }
        ]
        localHighChart['xAxis']['title'] = {'text': ''}
        localHighChart['xAxis']['min'] = new Date(allOutputData.timeStamps[0]).getTime()
        localHighChart['xAxis']['max'] = new Date(allOutputData.timeStamps[allOutputData.timeStamps.length-1]).getTime()
        localHighChart['xAxis']['plotLines'] = [
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': new Date(allOutputData.gridBallast.eventStart),
            'width': 1,
            'label': {'text':'Event Start'}
          },
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': new Date(allOutputData.gridBallast.eventEnd),
            'width': 1,
            'label': {'text':'Event End'}
          }
        ]
        localHighChart['yAxis']['title'] = {'text': 'QoS Violations'}
        new Highcharts.Chart(localHighChart);
      </script>
    </div>
    <p class="reportTitle postRun">Availability Magnitude <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="magnitudeReport" class="tightContent postRun">
      <div id="magnitudeChart"></div>
      <script type="text/javascript">
        var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
        localHighChart['chart']['renderTo'] = 'magnitudeChart'
        localHighChart['chart']['type'] = 'line'
        localHighChart['chart']['width'] = 1000
        localHighChart['chart']['height'] = 250
        localHighChart['series'] = [
          {
            'showInLegend': false,
            'data': allOutputData.gridBallast.availabilityMagnitude,
            'color': 'gray'
          }
        ]
        localHighChart['xAxis']['title'] = {'text': ''}
        localHighChart['xAxis']['min'] = new Date(allOutputData.timeStamps[0]).getTime()
        localHighChart['xAxis']['max'] = new Date(allOutputData.timeStamps[allOutputData.timeStamps.length-1]).getTime()
        localHighChart['xAxis']['plotLines'] = [
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': new Date(allOutputData.gridBallast.eventStart),
            'width': 1,
            'label': {'text':'Event Start'}
          },
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': new Date(allOutputData.gridBallast.eventEnd),
            'width': 1,
            'label': {'text':'Event End'}
          }
        ]
        localHighChart['yAxis']['title'] = {'text': 'Total GridBallast Load (kW)'}
        localHighChart['yAxis']['plotLines'] = [
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': Math.max(...allOutputData.gridBallast.availabilityMagnitude),
            'width': 1,
            'label': {
              'text':'MAX',
              'style': {'color': 'red'}
            }
          },
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': Math.min(...allOutputData.gridBallast.availabilityMagnitude),
            'width': 1,
            'label': {
              'text':'MIN',
              'style': {'color': 'red'}
            }
          },
        ]
        new Highcharts.Chart(localHighChart);
      </script>
    </div>
    <p class="reportTitle postRun">Availability Percent <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="availabilityReport" class="tightContent postRun">
      <div id="availabilityChart"></div>
      <script type="text/javascript">
        var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
        localHighChart['chart']['renderTo'] = 'availabilityChart'
        localHighChart['chart']['type'] = 'line'
        localHighChart['chart']['width'] = 1000
        localHighChart['chart']['height'] = 250
        localHighChart['series'] = [
          {
            'showInLegend': false,
            'data': allOutputData.gridBallast.availabilityPercent,
            'color': 'gray'
          }
        ]
        localHighChart['xAxis']['title'] = {'text': ''}
        localHighChart['xAxis']['min'] = new Date(allOutputData.timeStamps[0]).getTime()
        localHighChart['xAxis']['max'] = new Date(allOutputData.timeStamps[allOutputData.timeStamps.length-1]).getTime()
        localHighChart['xAxis']['plotLines'] = [
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': new Date(allOutputData.gridBallast.eventStart),
            'width': 1,
            'label': {'text':'Event Start'}
          },
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': new Date(allOutputData.gridBallast.eventEnd),
            'width': 1,
            'label': {'text':'Event End'}
          }
        ]
        localHighChart['yAxis']['title'] = {'text': 'GridBallast Load (% of Net Load)'}
        localHighChart['yAxis']['plotLines'] = [
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': Math.max(...allOutputData.gridBallast.availabilityPercent),
            'width': 1,
            'label': {
              'text':'MAX',
              'style': {'color': 'red'}
            }
          },
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': Math.min(...allOutputData.gridBallast.availabilityPercent),
            'width': 1,
            'label': {
              'text':'MIN',
              'style': {'color': 'red'}
            }
          },
          {
            'color': 'gray',
            'dashStyle': 'dash',
            'value': 7.0,
            'width': 1,
            'label': {
              'text':'RMT',
              'align': 'right',
              'style': {'color': 'gray'}
            }
          }
        ]
        new Highcharts.Chart(localHighChart);
      </script>
    </div>
    <p class="reportTitle postRun">Event Chart <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="eventReport" class="tightContent postRun">
      <div id="eventChart"></div>
      <script type="text/javascript">
        var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
        localHighChart['chart']['renderTo'] = 'eventChart'
        localHighChart['chart']['type'] = 'line'
        localHighChart['chart']['width'] = 1000
        localHighChart['chart']['height'] = 250
        localHighChart['series'] = [
          {
            'showInLegend': false,
            'data': allOutputData.gridBallast.rm,
            'color': 'gray'
          }
        ]
        localHighChart['xAxis']['title'] = {'text': ''}
        localHighChart['xAxis']['min'] = new Date(allOutputData.gridBallast.xMin).getTime()
        localHighChart['xAxis']['max'] = new Date(allOutputData.gridBallast.xMax).getTime()
        localHighChart['xAxis']['plotLines'] = [
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': new Date(allOutputData.gridBallast.eventStart),
            'width': 1,
            'label': {'text':'Event Start'}
          },
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': new Date(allOutputData.gridBallast.eventEnd),
            'width': 1,
            'label': {'text':'Event End'}
          }
        ]
        localHighChart['yAxis']['title'] = {'text': 'Reserve Magnitude (%)'}
        localHighChart['yAxis']['plotLines'] = [
          {
            'color': 'gray',
            'dashStyle': 'dash',
            'value': allOutputData.gridBallast.rmAvg + allOutputData.gridBallast.rmvt,
            'width': 1,
            'label': {
              'text':'avgRM + RMVT',
              'style': {'color': 'gray'}
            }
          },
          {
            'color': 'gray',
            'dashStyle': 'dash',
            'value': allOutputData.gridBallast.rmAvg - allOutputData.gridBallast.rmvt,
            'width': 1,
            'label': {
              'text':'avgRM - RMVT',
              'style': {'color': 'gray'}
            }
          }
        ]
        new Highcharts.Chart(localHighChart);
      </script>
    </div>
    <p class="reportTitle postRun">Frequency Player <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="frequencyReport" class="tightContent postRun">
      <div id="frequencyChart"></div>
      <script type="text/javascript">
        var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
        localHighChart['chart']['renderTo'] = 'frequencyChart'
        localHighChart['chart']['type'] = 'line'
        localHighChart['chart']['width'] = 1000
        localHighChart['chart']['height'] = 250
        localHighChart['series'] = [
          {
            'showInLegend': false,
            'data': allOutputData.frequencyPlayer,
            'color': 'gray'
          }
        ]
        localHighChart['xAxis']['title'] = {'text': ''}
        localHighChart['xAxis']['min'] = new Date(allOutputData.timeStamps[0]).getTime()
        localHighChart['xAxis']['max'] = new Date(allOutputData.timeStamps[allOutputData.timeStamps.length-1]).getTime()
        localHighChart['xAxis']['plotLines'] = [
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': new Date(allOutputData.gridBallast.eventStart),
            'width': 1,
            'label': {'text':'Event Start'}
          },
          {
            'color': 'red',
            'dashStyle': 'dash',
            'value': new Date(allOutputData.gridBallast.eventEnd),
            'width': 1,
            'label': {'text':'Event End'}
          }
        ]
        localHighChart['yAxis']['title'] = {'text': 'System Frequency (Hz)'}
        new Highcharts.Chart(localHighChart);
      </script>
    </div>
    <p class="reportTitle postRun">Performance Details <a target="_self" class="toggle">Hide / Show</a></p>
    <div id="performanceReport" class="tightContent postRun detailsContainer">
      <div id="performanceTable">
        <table style="width:100%">
          <thead>
            <tr>
              <th>Frequency/Ramping Performance Metric</th>
              <th>GridBallast Target Value</th>
              <th>Calculated Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Initial Response Time</td>
              <td>< 1 second</td>
              <td id="responseTime">---</td>
            </tr>
            <tr>
              <td>Average Reserve Magnitude (% of load during event)</td>
              <td>---</td>
              <td id="rmAvg"></td>
            </tr>
            <tr>
              <td>Reserve Magnitude Target (RMT, % of load)</td>
              <td>> 5 %</td>
              <td id="rmt"></td>
            </tr>
            <tr>
              <td>Reserve Magnitude Variability Tolerance (RMVT)</td>
              <td>< 2 %</td>
              <td id="rmvt"></td>
            </tr>
            <tr>
              <td>Ramp Time</td>
              <td>< 2 seconds</td>
              <td id="rampTime">---</td>
            </tr>
            <tr>
              <td>Off Duration</td>
              <td>> 10 minutes</td>
              <td id="offDuration"></td>
            </tr>
            <tr>
              <td>Availability</td>
              <td>> 95 %</td>
              <td id="availability"></td>
            </tr>
            <tr>
              <td>Cascaded Contingency Support</td>
              <td>2</td>
              <td id="contSupport">---</td>
            </tr>
            <tr>
              <td>Recovery Time</td>
              <td>< 1 hour</td>
              <td id="recoveryTime"></td>
            </tr>
            <tr>
              <td>Max. Availability Magnitude (kW)</td>
              <td>---</td>
              <td id="maxAvail"></td>
            </tr>
            <tr>
              <td>Min. Availability Magnitude (kW)</td>
              <td>---</td>
              <td id="minAvail"></td>
            </tr>
            <tr>
              <td>Renewable Energy per Demand (%)</td>
              <td>---</td>
              <td id="renEnergyDemand"></td>
            </tr>
            <tr>
              <td>GridBallast Penetration Level (%)</td>
              <td>---</td>
              <td id="gbPenetration"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <script type="text/javascript">
        document.getElementById('rmAvg').innerHTML = allOutputData.gridBallast.rmAvg.toFixed(3) + ' %'
        document.getElementById('rmt').innerHTML = '7.000 %'
        document.getElementById('rmvt').innerHTML = allOutputData.gridBallast.rmvt.toFixed(3) + ' %'
        document.getElementById('offDuration').innerHTML = allOutputData.gridBallast.offDuration
        document.getElementById('availability').innerHTML = allOutputData.gridBallast.availability.toFixed(3) + ' %'
        document.getElementById('recoveryTime').innerHTML = allOutputData.gridBallast.recoveryTime
        document.getElementById('maxAvail').innerHTML = Math.max(...allOutputData.gridBallast.availabilityMagnitude).toFixed(3)
        document.getElementById('minAvail').innerHTML = Math.min(...allOutputData.gridBallast.availabilityMagnitude).toFixed(3)
        document.getElementById('renEnergyDemand').innerHTML = ( 100*(tDGDirect+Math.abs(tDGExported))/(tLosses+tLoads) ).toFixed(3) + ' %'
        document.getElementById('gbPenetration').innerHTML = allOutputData.gridBallast.penetrationLevel + ' %'
      </script>
    </div>
  </div>
</body>