<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	
	<style type="text/css">
	/*Styles here*/
		.wrapper{float: left; width: 50%; height: 90%; position: relative;}
		#feederDiagram{width: 100%;height: 75%;}
		#damageSummary{width: 100%;height: 25%;}
		#rdtSummary{width: 100%;height: 100%;}
		#powerflowCheck{position: absolute;z-index: 10;bottom: 0;right: 0;background-color: red;}
		table {width: 100%;margin-left:auto; margin-right:auto;}
		td {padding:2px; text-align: center;border-top: 1px solid #ccc;}
		th {padding:2px; text-align: center}
		#fileBackground {position:absolute;width:205px;max-width:205px;height:29px;margin: -30px 0 0 116px;background-color:gainsboro;}
		#fileExists {
			background-color:transparent;
			max-width:185px;
			overflow:hidden;
			height:35px;
			margin:-32px 0 0 116px;
			position:absolute;
			font-size:0.8em;
			z-index:1;
		}
		@fileName {line-height:35px;}
		input[type='file'] {
			color: transparent;
			overflow:hidden;
		}
		/*IE Hacks*/
		@media screen\0 {
			#fileBackground{margin-left:0px;width:222px;max-width:222px;height:29px;}
			#fileExists{margin: -27px 0 0 10px;height:42px;}
		}
		/*Firefox Hacks*/
		@-moz-document url-prefix() {
			#fileBackground{margin-left:125px;width:195px;max-width:195px;}
			#fileExists{max-width:175px;margin:-32px 0 0 135px;height:47px;}
			}
		}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<script type="text/javascript">
		function editFeeder(modelName, feederNum) {
			console.log("modelName:",modelName)
			studyUser = allInputData.user
			window.open("/feeder/" + studyUser + "/" + modelName + "/" + feederNum,  "_blank")
		}

		function downloadTextFile(fileName, text) {
			console.log(text)
			var element = document.createElement('a');
		    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
		    element.setAttribute('download', fileName);

		    element.style.display = 'none';
		    document.body.appendChild(element);

		    element.click();

		    document.body.removeChild(element);
		}
	</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-resilientDist" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
		
			<div class="runningInline postRunInline shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="postRunInline shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="hidden" id="feederName1" name="feederName1"> <!--HACK:pass feeder name back and forth to backend.-->
			</div>
	
			<div class="wideInput">
				<p class="inputSectionHeader">Financial Specs</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Line Unit Cost ($/ft)<span class="classic">The cost of making a new line in units $/ft.  Insert an integer or decimal value.</span></label>
				<input type="text" id="lineUnitCost" name="lineUnitCost" pattern="^\d+\.?\d*?$" onkeypress="blankOutConnectedElement('lineFixedCost')">
			</div>
			<div class="shortInput">
				<label class="tooltip">Switch Cost ($)<span class="classic">The cost of adding a switch.  Insert an integer or decimal value.</span></label>
				<input type="text" id="switchCost" name="switchCost" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Hardening Unit Cost ($/ft)<span class="classic">The cost of hardening a line in $.  Insert an integer or decimal value.</span></label>
				<input type="text" id="hardeningUnitCost" name="hardeningUnitCost" pattern="^\d+\.?\d*?$" onkeypress="blankOutConnectedElement('hardeningFixedCost')">
			</div>
			<div class="shortInput">
				<label class="tooltip">DG Unit Cost ($/MW)<span class="classic">The cost of adding distributed generation to a generator in $/ft.  Insert an integer or decimal value.</span></label>
				<input type="text" id="dgUnitCost" name="dgUnitCost" pattern="^\d+\.?\d*?$" onkeypress="blankOutConnectedElement('dgFixedCost')">
			</div>
			<div class="shortInput">
				<label class="tooltip">Max DG Per Generator (MW)<span class="classic">The maximum DG capacity that a generator supports in MW.  Insert an integer or decimal value.</span></label>
				<input type="text" id="maxDGPerGenerator" name="maxDGPerGenerator" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Hardening Candidates<span class="classic">The IDs of the lines on the system that the user wants to consider hardening. At least one line is required.</span></label>
				<input type="text" id="hardeningCandidates" name="hardeningCandidates" pattern="^(|([\w\d_-]+)(,[\w\d_-]+)*)$">
			</div>
			<div class="shortInput">
				<label class="tooltip">New Line Candidates<span class="classic">Line IDs that indicate which lines the user added within the feeder editor. At least one line is required.</span></label>
				<input type="text" id="newLineCandidates" name="newLineCandidates" pattern="^(|([\w\d_-]+)(,[\w\d_-]+)*)$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Switch Candidates<span class="classic">The IDs of lines on the system where the user wants to consider adding a switch. At least one line is required.</span></label>
				<input type="text" id="switchCandidates" name="switchCandidates" pattern="^(|([\w\d_-]+)(,[\w\d_-]+)*)$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Generator Candidates<span class="classic">The IDs of nodes on the system where the user wants to consider adding distributed generation. At least one node is required.</span></label>
				<input type="text" id="generatorCandidates" name="generatorCandidates" pattern="^(|([\w\d_-]+)(,[\w\d_-]+)*)$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Powerflow<span class="classic">Choice of powerflow to use. The default, Network Flow, is a faster and simpler version of the Full Powerflow.</span></label>
				<select id="power_flow" name="power_flow" />
					<option value="network_flow">Network Flow</option>
					<option value="lindist_flow">Full Powerflow</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Critical Loads<span class="classic">Load IDs that indicate which loads are deemed as critical.</span></label>
				<input type="text" id="criticalLoads" name="criticalLoads" pattern="^(|([\w\d_-]+)(,[\w\d_-]+)*)$">
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Simulation Specs</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Weather Impacts (.asc file)<span class="classic">Please see the documentation at the help link for the required format. If this field is blank the OMF will re-use the file from the previous run.</span></label>
				<input id="weatherImpactsFile" type="file" style="display:none" onchange="handle_files(this.files,'weatherImpacts','weatherImpactsFileName')">
				<input id="weatherImpacts" name="weatherImpacts" type="hidden">
				<div>
					<label for="weatherImpactsFile" class="fileButton">Choose File</label>
					<input id="weatherImpactsFileName" name="weatherImpactsFileName" value='' readonly class="uploadFileName">
				</div>
			</div>
			<!-- <div class="shortInput">
				<label class="tooltip">XR Matrices (.json file)<span class="classic">Please see the documentation at the help link for the required format. If this field is blank the OMF will re-use the file from the previous run.</span></label>
				<input id="xrMatricesDataFile" type="file" style="display:none" onchange="handle_files(this.files,'xrMatrices','xrMatricesFileName')">
				<input id="xrMatrices" name="xrMatrices" type="hidden">
				<div>
					<label for="xrMatricesDataFile" class="fileButton">Choose File</label>
					<input id="xrMatricesFileName" name="xrMatricesFileName" value='' readonly class="uploadFileName">
				</div>
			</div> -->
			<div class="shortInput">
				<label class="tooltip">Damage Scenarios (.json file)<span class="classic">Please see the documentation at the help link for the required format. If this field is blank the OMF will re-use the file from the previous run.</span></label>
				<input id="scenariosDataFile" type="file" style="display:none" onchange="handle_files(this.files,'scenarios','scenariosFileName')">
				<input id="scenarios" name="scenarios" type="hidden">
				<div>
					<label for="scenariosDataFile" class="fileButton">Choose File</label>
					<input id="scenariosFileName" name="scenariosFileName" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Critical Load Met (%)<span class="classic">Indicates the percent of critical load that must be met in each damage scenario.  Insert an integer or decimal value representing a percentage.</span></label>
				<input type="text" id="criticalLoadMet" name="criticalLoadMet" pattern="^\d{1,3}(\.\d*?)?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Non-Critical Load Met (%)<span class="classic">Indicates the percent of non-critical load that must be met in each damage scenario.  Insert an integer or decimal value representing a percentage.</span></label>
				<input type="text" id="nonCriticalLoadMet" name="nonCriticalLoadMet" pattern="^\d{1,3}(\.\d*?)?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Chance Constraint (%)<span class="classic">Indicates the percent of damage scenarios where load constraints above must be met.  Insert an integer or decimal value representing a percentage.</span></label>
				<input type="text" id="chanceConstraint" name="chanceConstraint" pattern="^\d{1,3}(\.\d*?)?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Phase Variation<span class="classic">Controls the amount of phase imbalancer allowed in the system's transformers.</span></label>
				<input type="text" id="phaseVariation" name="phaseVariation" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label>Simulation Date (YYYY-MM-DD)</label>
				<input type="text" id="simulationDate" name="simulationDate" pattern="^\d\d\d\d-\d\d-\d\d$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Zip Code<span class="classic">Zip code of the planned array's geographical location.</span></label>
				<input type="text" id="simulationZipCode" name="simulationZipCode" pattern="^\d{5}(?:[-\s]\d{4})?$">
			</div>

			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" type="submit" onmousedown="checkDamageScenarioUsage();" class="stoppedInline postRunInline">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {	
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output" class="postRun">
		<p class='reportTitle'><b>One Line Diagram (Scroll to Zoom, Drag to Pan)</b></p>
		<div class="content" style="margin-top:0px">
			<div id="diagram">	
				<img id="oneLineDiagram" style="padding: 0px; display: block; margin-left: auto; margin-right: auto; max-width: 100%; max-height: 100%;"/>
				<script>gebi("oneLineDiagram").src = "data:image/png;base64," + allOutputData.oneLineDiagram</script>
				<script src="{{pathPrefix}}/static/wheelzoom.js"></script>
				<script type="text/javascript">
						images = wheelzoom(document.querySelectorAll('img'), {zoom: 0.1, maxZoom: 10});
				</script>
			</div>
		</div>
		<p class='reportTitle'><b>Damage Scenarios</b></p>
		<div class="content" style="margin-top:0px">
			<div id="scenarioDisplay">
			</div>
		</div>

		<p class='reportTitle'><b>Design Solution</b></p>
		<div class="content" style="margin-top:0px">
			<div id="designDisplay">
			</div>
			<div id="tables">
				<script>
					var rdtOutput = allOutputData.rdtRawOut;
					var gfmOutput = allOutputData.gfmRawOut;
					rdtOutput = JSON.parse(rdtOutput);
					gfmOutput = JSON.parse(gfmOutput);
					var scenarioDict = [];
					var lineData = allOutputData.lineData;
					var totalCost = 0.0;
					var critLoadMetDict = [];
					var nonCritLoadMetDict = [];
					var dataDict = [];
					var designHTML = "";
					var tableBuilder = ""; 

					//DESIGN SOLUTION
					tableBuilder = "<tr><th>Device ID</th><th>Type</th><th>Action</th><th>Cost</th></tr>";
					for(var i = 0; i < rdtOutput.design_solution.generators.length; i++) {
						generator = rdtOutput.design_solution.generators[i];
						genCost = parseFloat(allOutputData["generatorData"].replace(/\,/g,''));
						tableBuilder = tableBuilder + "<tr><td>" + generator.id + "</td><td>Generator</td><td>Built with 5 MW of capacity</td><td>$" + genCost + "</td></tr>";
						totalCost = totalCost + genCost;
					}
					for(var j = 0; j < rdtOutput.design_solution.lines.length; j++) {
						line = rdtOutput.design_solution.lines[j];
						if(line.id in lineData) {
							var hardened = "Hardened";
							var switchBuilt = ", Switch built";
							lineCost = lineData[line.id];
							if(line.hardened == false) {
								hardened = "Unhardened";
								lineCost = "0";
							} else if (line.hardened == undefined) {
								hardened = "Not a Hardening Candidate";
								lineCost = "0";
							}
							if(line.switch_built == false) {
								switchBuilt = ", Switch not built";
							}
							lineID = line.id;
							if (lineCost != 0.0) {
								tableBuilder = tableBuilder + "<tr><td>" + lineID + "</td><td>Line</td><td>" + hardened + switchBuilt + "</td><td>$" +  lineCost + "</td></tr>";							
							}
							totalCost = parseFloat(lineCost.replace(/\,/g,'')) + totalCost;
						}
						
					}
					secondRunValid = ""
					secondRunValidStyle = ""
					if(allOutputData.secondGLD == "True") {
						secondRunValidStyle =  "color: #54c465;" 
						secondRunValid = "Powerflow Validated";
					}
					else {
						secondRunValidStyle =  "color: red;" 
						secondRunValid = "Powerflow Not Validated";
					}
					designHTML = designHTML + '<table id="totalCostTable"><tr><th><div style="float: left;">Total Cost</div><div style="' + secondRunValidStyle + 'float: right;">' + secondRunValid + '</div></th></tr><tr><td>$' + totalCost.toFixed(2) + '</td></tr></table>';
					designHTML = designHTML + '<table id="solutionComponents">' + tableBuilder + '</table>';

					//DAMAGE SCENARIOS
					for(var j = 0; j < rdtOutput.scenario_solution.length; j++) {
						scenario = rdtOutput.scenario_solution[j]; 
						critLoadMetDict[scenario.id] = '<tr><td colspan="4"><b>Scenario ' + parseFloat(j + 1) + ' damage summary: </b>' + scenario.non_critical_load_met.toFixed(2) + ' non-critical load lost, '+ scenario.critical_load_met.toFixed(2) + ' critical load lost</td></tr>';
					}
					tableHeader = "<tr><th>Scenario ID</th><th>Device ID</th><th>Type</th><th>Result</th></tr>";
					for(var j = 0; j < gfmOutput.scenarios.length; j++) {
						tableBuilder = "";
						scenario = gfmOutput.scenarios[j]; 
						for(var k = 0; k < scenario.hardened_disabled_lines.length; k++) {
							hdLine = scenario.hardened_disabled_lines[k];
							tableBuilder = tableBuilder + "<tr><td>" + String(parseFloat(scenario.id) + 1) + "</td><td>" + hdLine + "</td><td>Hardened Line</td><td>Disabled</td></tr>";
						}
						for(k = 0; k < scenario.disable_lines.length; k++) {
							dLine = scenario.disable_lines[k];
							tableBuilder = tableBuilder + "<tr><td>" + String(parseFloat(scenario.id) + 1) + "</td><td>" + dLine + "</td><td>Line</td><td>Disabled</td></tr>";
						}
						if(scenario.hardened_disabled_lines.length == 0 && scenario.disable_lines.length == 0) {
							tableBuilder = tableBuilder + "<tr><td colspan='4'>No components affected.</td></tr>";
						}
						scenarioDict[parseFloat(scenario.id) + 1] = tableBuilder + critLoadMetDict[parseFloat(scenario.id) + 1];
					}
					var scenarioHTML= tableHeader;
					for (var scenarioID in scenarioDict) {
						scenarioHTML = scenarioHTML + scenarioDict[scenarioID] + "";
					}
					scenarioHTML = "<table>" + scenarioHTML + "</table>";

					gebi("scenarioDisplay").innerHTML = scenarioHTML + "";	
					gebi("designDisplay").innerHTML = designHTML + "";
				</script>
			</div>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Download Output Data</p>	
		<div style="text-align:left" class="content" style="margin-top:0px">
			<a style="padding:10px" onclick="downloadTextFile('gfmOutput.txt', allOutputData['gfmRawOut'])">General Fragility Model (GFM) Output</a><br>
			<a style="padding:10px" onclick="downloadTextFile('rdtOutput.txt', allOutputData['rdtRawOut'])">Resilient Design Tool (RDT) Output</a><br>
			<a style="padding:10px" onclick="downloadTextFile('gridlabdOutput.txt', JSON.stringify(allOutputData['gridlabdRawOut'], null, 2))">GridLAB-D (GLD) Output</a>
		</div>
	</div>
</body>