<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
	/*Styles will go here*/
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="{{pathPrefix}}/static/d3.v3.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Description</p>
	<div id="input" class="content" style="page-break-after:always">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shorterInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-solarSunda" target="blank">Help?</a> </label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shorterInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shorterInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shorterInput runningInline postRunInline">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shorterInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="shorterInput">
				<label class="tooltip">Zip Code<span class="classic">Zip code of the planned array's geographical location.</span></label>
				<input type="text" id="zipCode" name="zipCode" pattern="^\d{5}(?:[-\s]\d{4})?$" required="required">
			</div>
			<!-- TODO: Use bigger tooltip size -->
			<div class="shorterInput">
				<label class="tooltip">System Array Size (kW-DC)<span class="classic">Nameplate generation of array solar panels in kW-DC. If '-' is entered, a panel size of 1.4 times the System Output Size (kW-AC) will be used. <br><br> The SUNDA project recommends a panel size of 1.4 times larger than the desired System Output Size kW-AC (inverter size). E.g. the SUNDA 1 mW-AC template system has panels sized at 1.4 mW-DC nameplate capacity. System Array Size cannot be smaller than 1.</span></label>
				<input type="text" id="systemSize" name="systemSize" required="required" pattern="^(\d{2,}|[1-9])(\.\d+)?$">
			</div>
			<div class="shorterInput">
				<label class="tooltip">System Output Size (kW-AC)<span class="classic">Size of the total inverters in kW-AC for the system. System Output Size cannot be smaller than 1.</span></label>
				<input type="text" id="inverterSize" name="inverterSize" required="required" pattern="^(\d{2,}|[1-9])(\.\d+)?$">
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">PV System Specs</p>
			</div>
			<hr>
			<div class="shorterInput">
				<label class="tooltip">PV Degradation (%/year)<span class="classic">Please note that the default is 0.8% per year, not 80% per year.</span></label>
				<input type="text" id="degradation" name="degradation" required="required" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shorterInput">
				<label class="tooltip">Inverter Efficiency (%)<span class="classic">This value will be available on the inverter datasheet. Inverter Efficiency cannot be less than 1%.</span></label>
				<input type="text" id="inverterEfficiency" name="inverterEfficiency" pattern="^(100|\d{2}|[1-9])(\.\d+)?$" required="required" />
			</div>
			<div class="shorterInput">
				<label class="tooltip">Non-Inverter Efficiency (%)<span class="classic">This takes into account losses from soiling, shading, wiring, diode losses, etc. Non-Inverter Efficiency cannot be less than 1%.</span></label>
				<input type="text" id="nonInverterEfficiency" name="nonInverterEfficiency" pattern="^(100|\d{2}|[1-9])(\.\d+)?$" required="required" />
			</div>
			<div class="shorterInput">
				<label class="tooltip">Tilt (degrees)<span class="classic">The tilt of the solar panels measured as an angle in degrees between panels and ground. If '-' is entered, the latitude of the zipcode will be used.</span></label>
				<input type="text" id="tilt" name="tilt" pattern="^(90|[1-8]\d|\d)?$|-" required="required"/>
			</div>
			<div class="shorterInput">
				<label class="tooltip">Azimuth (degrees)<span class="classic">Cardinal direction the PV system will face. 180 in the northern hemisphere is due South. Azimuth is restricted to 0-360 degrees. Azimuth of 360 should be denoted as 0.</span></label>
				<input type="text" id="azimuth" name="azimuth" pattern="^(3[0-5]\d|[1-2]\d{2}|\d{2}|\d)(\.\d+)?$" required="required" />
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Construction Costs</p>
			</div>
			<hr>
			<div class="shorterInput">
				<label>Land (acres)</label>
				<input type="text" id="landAmount" name="landAmount" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shorterInput">
				<label class="tooltip">Land Acquisition<span class="classic">If this is equal to owned, land cost will be zero. Otherwise it will be calculated based on the 'Land Cost' input.</span></label>
				<select id="landOwnership" name="landOwnership">
					<option value="Owned">Owned</option>
					<option value="Purchased">Purchased</option>
					<option value="Leased">Leased</option>
				</select>
			</div>
			<div class="shorterInput">
				<label>Land Cost ($/acre)</label>
				<input type="text" id="costAcre" name="costAcre" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shorterInput">
				<label>Module Cost ($/Wp)</label>
				<input type="text" id="moduleCost" name="moduleCost" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shorterInput">
				<label>Racking Cost ($/Wp)</label>
				<input type="text" id="rackCost" name="rackCost" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shorterInput">
				<label class="tooltip">Inverter Unit Cost ($)<span class="classic">For each 500 kW-AC inverter, the SUNDA template cost is $107,000. For smaller systems, a 250 kW-AC inverter is available at $61,963.</span></label>
				<input type="text" id="inverterCost" name="inverterCost" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shorterInput">
				<label class="tooltip">Mechanical Labor ($/hr)<span class="classic">For installation.</span></label>
				<input type="text" id="mechLabor" name="mechLabor" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shorterInput">
				<label class="tooltip">Electrical Labor ($/hr)<span class="classic">For installation.</span></label>
				<input type="text" id="elecLabor" name="elecLabor" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shorterInput">
				<label class="tooltip">Project Management Cost ($)<span class="classic">Covers the cost for co-op time and expense in doing the project.</span></label>
				<input type="text" id="pmCost" name="pmCost" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shorterInput">
				<label class="tooltip">Interconnect Costs ($)<span class="classic">Costs for connecting from the design included medium voltage transformer to the substation.</span></label>
				<input type="text" id="interCost" name="interCost" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shorterInput">
				<label class="tooltip">Development Costs (%)<span class="classic">The consulting, legal and banking costs associated with setting up such a system. If doing a Tax Equity flip this may be as much as 5%.</span></label>
				<input type="text" id="devCost" name="devCost" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required">
			</div>
			<div class="shorterInput">
				<label class="tooltip">EPC Markup (%)<span class="classic">Costs as a percent of hardware costs. Usually 10% of Hardware Costs, but some EPCs allow the co-op to directly purchase the big ticket items like PV modules, inverters and racking through National Discount program and only charge the 10% on the balance of the system hardware needed to complete, thus an effective 3% in that case.</span></label>
				<input type="text" id="EPCRate" name="EPCRate" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required"/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Financing Information</p>
			</div>
			<hr>
			<div class="shorterInput">
				<label class="tooltip">Discount Rate (%)<span class="classic">The cost of capital to the co-op. The default is close to the 20yr Treasury-bill rate for the project period.</span></label>
				<input type="text" id="discRate" name="discRate" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required"/>
			</div>
			<div class="shorterInput">
				<label class="tooltip">Loan Interest Rate (%)<span class="classic">Loan interest rate, usually from 2.0% for RUS to 8.5% for a commercial lender.</span></label>
				<input type="text" id="loanRate" name="loanRate" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required"/>
			</div>
			<div class="shorterInput">
				<label class="tooltip">NCREB Tax Credit Rate (%)<span class="classic">The rate used by the Treasury Department to calculate the 70% interest reimbursement.</span></label>
				<input type="text" id="NCREBRate" name="NCREBRate" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required"/>
			</div>
			<div class="shorterInput">
				<label class="tooltip">Lease Buyback Rate (%)<span class="classic">Lease buyback effective rate. Only available if there is a for-profit subsidiary owned by the co-op.</span></label>
				<input type="text" id="taxLeaseRate" name="taxLeaseRate" pattern="^-?(100|\d{2}|[1-9]|0\.\d*[1-9])(\.\d*[1-9])?" required="required"/>
			</div>
			<div class="shorterInput">
				<label class="tooltip">Targeted Tax Equity Return (%)<span class="classic">Tax equity return rate. Typical Tax equity partners in the renewable market are looking for about 8.5%</span></label>
				<input type="text" id="taxEquityReturn" name="taxEquityReturn" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required"/>
			</div>
			<div class="shorterInput">
				<label class="tooltip">Distribution Adder ($/kWH)<span class="classic">An adder for the real costs of distributing the electricity from the PV array to the end customers. Used to provide comparison of PV rate to existing retail rate. </span></label>
				<input type="text" id="distAdder" name="distAdder" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">PPA Information</p>
			</div>
			<hr>
			<div class="shorterInput">
				<label class="tooltip">First year energy cost ($/MWh)<span class="classic">Used to compare Utility-owned facilities to 3rd party PPA offerings. Set to 0 if unneeded.</span></label>
				<input type="text" id="firstYearEnergyCostPPA" name="firstYearEnergyCostPPA" pattern="^\d+\.?\d*?$" required="required"/>
			</div>
			<div class="shorterInput">
				<label class="tooltip">Annual Escalation Rate (%)<span class="classic">A fixed escalation rate at which the price will increase year to year.</span></label>
				<input type="text" id="annualEscRatePPA" name="annualEscRatePPA" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required"/>
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {	
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<script id="globalOutputScripting">
			// Global settings for charts.
			Highcharts.setOptions({global: { useUTC: false }, credits:{enabled:false} })
			// Alert the user if some of the inputs were invalid.
			arrayOfMaxes = allOutputData.LevelizedCosts.filter(function(x){return x[1]==200})
			if (arrayOfMaxes.length > 0) {alert("Warning: a levelized cost was higher than the loan algorithms could calculate. It is being displayed as $200/MWh.")}
			if (parseFloat(allInputData.landAmount) < allOutputData.minLandSize) {alert("Warning: the minimum amount of land required for this system based on its latitude is " + allOutputData.minLandSize + " acres, but you have specified " + allInputData.landAmount + " acres.")}
			if (parseFloat(allInputData.systemSize) > 2.0 * allInputData.inverterSize) {alert("Warning: the inverter appears to be poorly sized to the Array size.  Please review your inputs. Array size is: " + allInputData.systemSize + "kW and your inverter is only " + allInputData.inverterSize + "kW. Most inverts will not tolerate more than 2x nameplate rating")}
			// Function to add a vector to a table as a row.
			function insertMetric(tableId, name, vector) {
				table = gebi(tableId)
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = name
				for (i=0; i<vector.length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = delimitNumbers(vector[i].toFixed(0))
				}
			}
		</script>
		<p class="reportTitle postRun">Levelized Cost Comparison <font size="2">(based on a 25yr system life)</font></p>
		<div id="levelizedCostReport" class="tightContent postRun">
			<div id="levelizedCostDiv" style="display:inline-block"></div>
			<script>
				levelizedCostChart = new Highcharts.Chart({
					plotOptions:{column:{dataLabels:{enabled:true, format: '{point.y:,.2f}'}, pointPadding:0.2, borderWidth:0}},
					xAxis:{type:'category',tickColor:'gray',lineColor:'gray',crosshair:true},
					yAxis:{title:{text:'Levelized Cost ($/MWh)'}},
					title:false,
					series:[{name:'Levelized Cost ($/MWh)', color:'green', data:allOutputData.LevelizedCosts}],
					chart:{marginBottom:40,zoomType:'disabled',renderTo:'levelizedCostDiv',type:'column', marginRight:20, marginBottom:60, marginTop:30, height:300, width:490, backgroundColor:null},
					tooltip:false,
					legend:false})
			</script>
			<div id="levelizedCostTableDiv" style="display:inline-block; width:490px; height:350px">
				<table style="margin:5px">
					<style>td, th {padding:5 0 5 20;}</style>
					<thead>
						<th></th>
						<th>Levelized Cost of Energy ($/MWh)</th>
						<th>Cost per Panel, Community Solar</th>
						<th>Cost per 10W of Panel, Community Solar</th>
					</thead>
					<tr>
						<th>Direct Loan</th>
						<td id="levelCostDirect"></td>
						<script>gebi("levelCostDirect").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.levelCostDirect).toFixed(2))</script>
						<td id="costPanelDirect"></td>
						<script>gebi("costPanelDirect").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.costPanelDirect).toFixed(2))</script>
						<td id="cost10WPanelDirect"></td>
						<script>gebi("cost10WPanelDirect").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.cost10WPanelDirect).toFixed(2))</script>
					</tr>
					<tr>
						<th>NCREBs Financing</th>
						<td id="levelCostNCREB"></td>
						<script>gebi("levelCostNCREB").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.levelCostNCREB).toFixed(2))</script>
						<td id="costPanelNCREB"></td>
						<script>gebi("costPanelNCREB").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.costPanelNCREB).toFixed(2))</script>
						<td id="cost10WPanelNCREB"></td>
						<script>gebi("cost10WPanelNCREB").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.cost10WPanelNCREB).toFixed(2))</script>
					</tr>
						<th>Lease Buyback</th>
						<td id="levelCostTaxLease"></td>
						<script>gebi("levelCostTaxLease").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.levelCostTaxLease).toFixed(2))</script>
						<td id="costPanelTaxLease"></td>
						<script>gebi("costPanelTaxLease").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.costPanelTaxLease).toFixed(2))</script>
						<td id="cost10WPanelTaxLease"></td>
						<script>gebi("cost10WPanelTaxLease").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.cost10WPanelTaxLease).toFixed(2))</script>
					<tr>
						<th>Tax Equity Flip</th>
						<td id="levelCostTaxEquity"></td>
						<script>gebi("levelCostTaxEquity").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.levelCostTaxEquity).toFixed(2))</script>
						<td id="costPanelTaxEquity"></td>
						<script>gebi("costPanelTaxEquity").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.costPanelTaxEquity).toFixed(2))</script>
						<td id="cost10WPanelTaxEquity"></td>
						<script>gebi("cost10WPanelTaxEquity").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.cost10WPanelTaxEquity).toFixed(2))</script>
					</tr>
					<tr>
						<th>PPA Comparison</th>
						<td id="levelCostPPA"></td>
						<script>gebi("levelCostPPA").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.levelCostPPA).toFixed(2))</script>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<!-- TODO: Add units to costs and percentages -->
		<p class="reportTitle postRun">Cost Breakdown</p>
		<div id="levelizedCostReport" class="tightContent postRun">
			<div id="breakdownPieChart" style="display:inline-block"></div>
			<script>
				costChart = new Highcharts.Chart({
					title: false,
					series: [{type: "pie", name:"% of Total Cost", data:allOutputData.costsPieChart}],
					tooltip: {pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'},
					chart:{"marginBottom":40,"zoomType":"disabled","renderTo":"breakdownPieChart","type":"column","marginRight":20,"marginBottom":70,"height":300,"width":490,"backgroundColor":null},
					plotOptions: {
						pie: {dataLabels: {enabled:false, style:{color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'}, connectorColor: 'silver'}, showInLegend:true}}})
			</script>
			<div id="breakdownCostDiv" style="display:inline-block; width:490px; height:350px">
				<table id="breakdownCostTable" style="margin-top:30px">
					<style>td, th {padding:5 0 5 20;}</style>
					<thead>
						<th>Component Class</th>
						<th>Cost ($)</th>
						<th>Percentage of Total (%)</th>
					</thead>
				</table>
				<script>
					pieRef = allOutputData.costsPieChart
					for (var chartRow = 0; chartRow < pieRef.length; chartRow++) {
						thisPerc = pieRef[chartRow].y / allOutputData.totalCost
						insertMetric("breakdownCostTable", pieRef[chartRow].name, [pieRef[chartRow].y, thisPerc * 100])
					}
				</script>
			</div>
		</div>
		<p class="reportTitle postRun">Additional Output</p>
		<div id="additionalOutputReport" class="content postRun" style="margin-top:5px; height:300px">
			<div id="mapHere" style="display:inline-block; width:490px; height:280px; float:left"></div>
			<script>
				width = 490, height = 280
				projection = d3.geo.albersUsa().scale(600).translate([width/2, height/2])
				path = d3.geo.path()
					.projection(projection)
				svg = d3.select("#mapHere").append("svg")
					.attr("width", width)
					.attr("height", height)
				group = svg.append("g")
				group.attr("transorm", "scale(.2, .2)")
				d3.json('{{pathPrefix}}/static/state_boundaries.json', function(collection) {
					group.selectAll('path')
						.data(collection.features)
						.enter().append('path')
						.attr('d', d3.geo.path().projection(projection))
						.attr('id', function(d){return d.properties.name.replace(/\s+/g, '')})
						.style('fill', 'gray')
						.style('stroke', 'white')
						.style('stroke-width', 1)})
				d3.json("{{pathPrefix}}/static/city_locations.json", function(new_us_places){
					climate = allInputData.climateName
					ST_NAME = climate.split("-")
					ST = ST_NAME[0]
					NAME = ST_NAME[1].replace("_"," ")
					my_coords = projection(new_us_places[ST][NAME])
					r = 5
					circle = svg.append("circle")
						.attr("cx", my_coords[0])
						.attr("cy", my_coords[1])
						.attr("r", 5)
						.attr("class", "HighlightCircle")
					circle.append("svg:title").text(climate)})
			</script>
			<div class="shorterInput">
				<strong>Installed System Cost</strong>
				<p id="totalCost"></p>
				<script>gebi("totalCost").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.totalCost).toFixed(0))</script>
			</div>
			<div class="shorterInput">
				<strong>$/Wp-DC Installed</strong>
				<p id="costWdc"></p>
				<script>gebi("costWdc").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.costWdc).toFixed(2))</script>
			</div>
			<div class="shorterInput">
				<strong class="tooltip" style="display:inline">Calculated Capacity Factor<span class="classic">Calculated as first year generation (kWh-AC) divided by inverters size (kW-AC).</span></strong>
				<p id="capFactor"></p>
				<script>gebi("capFactor").innerHTML = delimitNumbers(parseFloat(allOutputData.capFactor).toFixed(0)) +  "%"</script>
			</div>
			<div class="shorterInput">
				<strong>Percentage Clipping</strong>
				<p id="perClip"></p>
				<script type="text/javascript">gebi("perClip").innerHTML = (parseFloat(allOutputData.percentClipped).toFixed(1)) + "%"</script>
			</div>
			<div class="shorterInput">
				<strong>First Year System Output (MWh-AC)</strong>
				<p id="1yearMWH"></p>
				<script>gebi("1yearMWH").innerHTML = delimitNumbers((parseFloat(allOutputData.oneYearGenerationWh)/1000000).toFixed(0))</script>
			</div>
			<div class="shorterInput">
				<strong>Length of Analysis</strong>
				<p id="yearsOfAnalysis">25 years</p>
			</div>
			<div class="shorterInput">
				<strong>Climate TMY Data Selected</strong>
				<p id="climSource"></p>
				<script>gebi("climSource").innerHTML = allInputData.climateName</script>
			</div>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Download Full Model</p>
		<div id="fullModelDownload" class="content postRun" style="margin-top:5px">
			<p>A more detailed and fully editable Excel version of this model is <a href="https://www.dropbox.com/s/piyh2qc806c7ab2/SUNDA%20Solar%20Costing%20%20Financing%20Screening%20Tool%20-%20released.xlsm?dl=1">available here.</a></p>
		</div>

	</div>
</body>