<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/d3.v3.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>

	<!-- Plotly  Import -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<!-- Leaflet  Imports -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
	integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
	integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
	crossorigin=""></script>

    <!-- Leaflet  Marker Cluster Imports -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
    
    <style>#map {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<!-- Required Inputs -->
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-solarDisagg" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline ">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<!-- Model Specific Inputs -->
			<div class="wideInput">
				<p class="inputSectionHeader">Model Parameters</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Aggregate Net Loads (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<script type="text/javascript">
					insert_file_upload_block('meterFileName', 'meterData');
				</script>
			</div>
			<div class="shortInput">
				<label class="tooltip">Solar Load (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<script type="text/javascript">
					insert_file_upload_block('solarFileName', 'solarData');
				</script>
			</div>
			<div class="shortInput">
				<label class="tooltip">LatLon Coordinates Dynamic (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<script type="text/javascript">
					insert_file_upload_block('latLonFileName', 'latLonData');
				</script>
			</div>
			<div style="display:none" class="shortInput">
				<label class="tooltip">Weather Coordinates (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<script type="text/javascript">
					insert_file_upload_block('weatherFileName', 'weatherData');
				</script>
			</div>
			<div class="shortInput">
				<label class="tooltip">Start Date<span class="classic">Enter start date of the period you are uploading.</span></label>
				<input type="text" id="year" name="year" required="required" placeholder="2017-01-01"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">ASOS Weather Station<span class="classic">Please see the documentation at the green 'Help?' for information on selecting an appropriate ASOS station.</span></label>
				<select id="asosStation" name="asosStation">
					<script type="text/javascript">
						//Load asos station and populate the dropdown list
						d3.csv("{{pathPrefix}}/static/asosStationTable.csv", function(data) {
							$.each(data, function(index, value) {
								let newEntry = value['State'] + '-' + value['County'] + '-' + value['Station Name'] + '-' + value['Station Id'];
								$("#asosStation").append(
									$('<option></option>').val(value['Station Id']).html(newEntry));
							});
							$("#asosStation").val(allInputData.asosStation);
						});
					</script>
				</select>
			</div>
			<!-- Required Buttons -->
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<!-- Output tables, graphs, etc -->
	<div id="output">
		<!-- Subgraphs
		<p class="reportTitle postRun">Solar Disaggregation Results</p>
		<div id="analysisSummary" class="content postRun">
			<div id="plotly-div"></div>
			<script type="text/javascript">
  				Plotly.newPlot("plotly-div", JSON.parse(allOutputData["graphJSON"]), JSON.parse(allOutputData["layoutJSON"]) || {})
			</script>
		</div> -->
		<p class="reportTitle postRun">Solar Disaggregation Results</p>
		<div id="analysisSummary2" class="content postRun">
			<div id="plotly-div2"></div>
			<script type="text/javascript">
  				Plotly.newPlot("plotly-div2", JSON.parse(allOutputData["graphWeatherJSON"]), JSON.parse(allOutputData["layoutWeatherJSON"]) || {})
			</script>
			<div id="plotly-div3"></div>
			<script type="text/javascript">
  				Plotly.newPlot("plotly-div3", JSON.parse(allOutputData["graphSolarJSON"]), JSON.parse(allOutputData["layoutSolarJSON"]) || {});
  				//console.log(allOutputData["layoutSolarJSON"]);
  				//console.log(allOutputData["graphSolarJSON"]);
			</script>
			<div id="plotly-div4"></div>
			<script type="text/javascript">
				allPlots = document.getElementById("analysisSummary2");
				for (meter in allOutputData.meterJSON){
					let node = document.createElement("div");
					node.setAttribute("id", "meter-div" + meter);
					console.log(meter);
					var graphDiv = gebi("meter-div" + meter);
					console.log(allOutputData["meterJSON"][meter]['layout']);
					console.log(allOutputData["meterJSON"][meter]['data']);
					allPlots.appendChild(node)
					Plotly.newPlot("meter-div" + meter, JSON.parse(allOutputData['meterJSON'][meter]['data'], JSON.parse(allOutputData["meterJSON"][meter]['layout']) || {}));
					Plotly.relayout("meter-div" + meter, {"width": 980, "yaxis": {"title": "Watts"}, "title": "Meter", "legend": {"y": 1.2, "x": 0, "orientation": "h"}, "height": 400});
					console.log(graphDiv);
					//Plotly.newPlot("plotly-div4", JSON.parse(allOutputData['meterJSON'][3]['data'], JSON.parse(allOutputData["meterJSON"][3]['layout']) || {}))
				}
			</script>
		</div>
		<div id="mapInsert"></div>
		<script type="text/javascript">
			if(modelStatus === "finished"){
				mapHtml = '<p class="reportTitle">Meter Locations</p><div id="climateReport" class="tightContent"><div id="map"></div></div>'
				gebi('mapInsert').innerHTML = mapHtml
				var bounds = [];

				var map = L.map(
					'map', {
					center: [0, 0],
					zoom: 1,
					maxBounds: bounds,
					layers: [],
					worldCopyJump: false,
					crs: L.CRS.EPSG3857,
					zoomControl: true,
				});

				var tile_layer = L.tileLayer(
					'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
					{
					"attribution": null, 
					"detectRetina": false, 
					"maxNativeZoom": 18, 
					"maxZoom": 18, 
					"minZoom": 0, 
					"noWrap": false, 
					"subdomains": "abc"
					}
				).addTo(map);

				var marker_cluster = L.markerClusterGroup({});
				map.addLayer(marker_cluster);
						  
				for (meter in allOutputData.loadLocations){
				//console.log(allOutputData.loadLocations[meter])
					bounds.push([allOutputData.loadLocations[meter]['netLoadLat'], allOutputData.loadLocations[meter]['netLoadLon']]);
					var circleColor = "#808080";
					if (allOutputData.loadLocations[meter]['netLoadName'].includes('Solar')) {
						//console.log("testing");
						circleColor = '#FFFF00';
					}
					else if (allOutputData.loadLocations[meter]['netLoadName'].includes('ASOS')) {
						circleColor = '#FFA500';
					}
					var circle_marker = L.circleMarker(
					[allOutputData.loadLocations[meter]['netLoadLat'], allOutputData.loadLocations[meter]['netLoadLon']],
					{
						"bubblingMouseEvents": true, 
						"color": circleColor, 
						"dashArray": null, 
						"dashOffset": null, 
						"fill": true, 
						"fillColor": circleColor, 
						"fillOpacity": 0.9, 
						"fillRule": "evenodd", 
						"lineCap": "round", 
						"lineJoin": "round", 
						"opacity": 1.0, 
						"radius": 10, 
						"stroke": true, 
						"weight": 3
					}).addTo(marker_cluster);
					
					circle_marker.bindTooltip(
						'<div>' + allOutputData.loadLocations[meter]['netLoadName'] + '</div>',
						{"sticky": true}
					);
				}

				map.fitBounds(
					bounds
				);
			}
		</script>
	</div>
</body>