<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		thead{font-weight:bold} table{width:980px; font-size:10}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="{{pathPrefix}}/static/heatmap.src.js"></script>
	<script src="{{pathPrefix}}/static/d3.v3.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-solarFinancial" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Solar System Parameters</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Zip Code<span class="classic">Zip code of the planned array's geographical location.</span></label>
				<input type="text" id="zipCode" name="zipCode" pattern="^\d{5}(?:[-\s]\d{4})?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">System Size (kWp-DC)<span class="classic">DC output rating of the solar panels in kilowatts.</span></label>
				<input type="text" id="systemSize" name="systemSize" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Inverter Size (kW-AC)<span class="classic">Size of the total inverters in kW-AC for the system. Used to determine energy clipping in the Hourly System Average Power Output graph.</span></label>
				<input type="text" id="inverterSize" name="inverterSize" required="required" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Inverter &amp; Transformer Efficiency (%)<span class="classic">Combined Inverter and Transformer Efficiency in converting DC power to AC power. The Inverter efficiency can be obtained from the Weighted Efficiency (CEC) Method.</span></label>
				<input type="text" id="inverterEfficiency" name="inverterEfficiency" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required" >
			</div>
			<div class="shortInput">
				<label class="tooltip">Projected Life of System (Years)<span class="classic">Typical industry standard is 30 years.</span></label>
				<input type="text" id="lifeSpan" name="lifeSpan" pattern="^\d+$" required="required"/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Financial Variables</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Retail Energy Cost ($/kWh)<span class="classic">Residential rate.</span></label>
				<input type="text" id="retailCost" name="retailCost" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Discount Rate (%)<span class="classic">Discount rate used in discounted cashflow analysis output.</span></label>
				<input type="text" id="discountRate" name="discountRate" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">SREC Cashflow<span class="classic">Annual income expcted from Solar Renewable Energy Credits. Input a value for each year separated by commas. For example, income of 100 dollars for 3 years and then 50 dollars on the 4th year would be entered as <em>100,100,100,50.</em></label>
				<input type="text" id="srecCashFlow" name="srecCashFlow" pattern="^(\d,)*\d$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Installation Cost ($)<span class="classic">Full cost of the system.</span></label>
				<input type="text" id="installCost" name="installCost" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Op. and Maint. Cost ($)<span class="classic">Annual cost to operate and maintain the system.</span></label>
				<input type="text" id="omCost" name="omCost" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Advanced Options</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Max Power Temperature Coefficient (%/&deg;C)<span class="classic">Percentage decrease  of the solar module's output power for every degree over 25 degrees centigrade.</span></label>
				<input type="text" id="gamma" name="gamma" required="required" />
			</div>
			<div class="shortInput">
				<label class="tooltip">Tracker Rotation Limit (degrees)<span class="classic">How far each module in a tracking system is able to rotate if on a tracker, measured from the horizontal.</span></label>
				<input type="text" id="rotlim" name="rotlim" pattern="^\d+\.?\d*$" required="required" />
			</div>
			<div class="shortInput">
				<label class="tooltip">Tracking Mode<span class="classic">Type of tracking system the PV array will use if any.</span></label>
				<select id="trackingMode" name="trackingMode"/>
					<option value="0">Fixed</option>
					<option value="1">1 Axis</option>
					<option value="2">2 Axis</option>
					<option value="3">Azimuth Axis</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Tilt (degrees)<span class="classic">The tilt of the solar panels measured as an angle in degrees between panels and ground. If '-' is entered, the latitude of the zipcode will be used.</span></label>
				<input type="text" id="tilt" name="tilt" pattern="^(90|[1-8]\d|\d)?$|-" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Azimuth (degrees)<span class="classic">Cardinal direction the PV system will face. 180 in the northern hemisphere is due South.</span></label>
				<input type="text" id="azimuth" name="azimuth" pattern="^\d+\.?\d*$" required="required" />
			</div>
			<div class="shortInput">
				<label class="tooltip">PV Module Derate (%)<span class="classic">Derate factor accounting for DC to AC conversion losses.</span></label>
				<input type="text" id="pvModuleDerate" name="pvModuleDerate" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required" >
			</div>
			<div class="shortInput">
				<label class="tooltip">Annual Array Degradation (%)<span class="classic">Typical industry standard is 0.5% degradation per year.</span></label>
				<input type="text" id="degradation" name="degradation" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Mismatch Derate (%)<span class="classic">The derate factor for PV module mismatch accounts for manufacturing tolerances that yield PV modules with slightly different current-voltage characteristics. Consequently, when connected together electrically they do not operate at their respective peak efficiencies.</span></label>
				<input type="text" id="mismatch" name="mismatch" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required" >
			</div>
			<div class="shortInput">
				<label class="tooltip">Diodes/Connection Derate (%)<span class="classic">The derate factor for diodes and connections accounts for losses from voltage drops across diodes used to block the reverse flow of current and from resistive losses in electrical connections.</span></label>
				<input type="text" id="diodes" name="diodes" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required" >
			</div>
			<div class="shortInput">
				<label class="tooltip">DC Wiring Derate (%)<span class="classic">The derate factor for DC wiring accounts for resistive losses in the wiring between modules and the wiring connecting the PV array to the inverter.</span></label>
				<input type="text" id="dcWiring" name="dcWiring" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required" >
			</div>
			<div class="shortInput">
				<label class="tooltip">AC Wiring Derate (%)<span class="classic">The derate factor for AC wiring accounts for resistive losses in the wiring between the inverter and the connection to the local utility service.</span></label>
				<input type="text" id="acWiring" name="acWiring" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required" >
			</div>
			<div class="shortInput">
				<label class="tooltip">Soiling Derate (%)<span class="classic">The derate factor for soiling accounts for dirt, snow, or other foreign matter on the front surface of the PV module that reduces the amount of solar radiation reaching the solar cells of the PV module. Dirt accumulation on the PV module surface is location and weather dependent, with greater soiling losses (up to 25% for some California locations) for high-trafffic, high-pollution areas with infrequent rain. For northern locations in winter, snow will reduce the amount of energy produced, with the severity of the reduction a function of the amount of snow received and how long it remains on the PV modules. Snow remains the longest when sub-freezing temperatures prevail, small PV array tilt angles prevent snow from sliding off, the PV array is closely integrated into the roof, and the roof or other structure in the vicinity facilitates snow drifting onto the PV modules. </span></label>
				<input type="text" id="soiling" name="soiling" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required" >
			</div>
			<div class="shortInput">
				<label class="tooltip">Shading Derate (%)<span class="classic">The derate factor for shading accounts for situations when PV modules are shaded by nearby buildings, objects, or other PV modules and array structure.</span></label>
				<input type="text" id="shading" name="shading" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required" >
			</div>
			<div class="shortInput">
				<label class="tooltip">System Availibility Derate<span class="classic">The derate factor for system availability accounts for times when the system is off due to maintenance and inverter and utility outages.</span></label>
				<input type="text" id="sysAvail" name="sysAvail" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required" >
			</div>
			<div class="shortInput">
				<label class="tooltip">Age Derate<span class="classic">The derate factor for age accounts for losses in performance over time due primarily to weathering of the PV modules. The loss in performance is typically 0.5% per year.</span></label>
				<input type="text" id="age" name="age" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required" >
			</div>
			<div class="shortInput">
				<label class="tooltip">Simulation Start Date (YYYY-MM-DD)<span class="classic">Currently we only support a yearlong analysis starting on 1 Jan; the year has no effect on the results.</span></label>
				<input type="text" id="simStartDate" name="simStartDate" pattern="^\d\d\d\d-\d\d-\d\d$" readonly/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Simulation Length<span class="classic">Currently we only support a yearlong analysis, i.e. 8760 hours.</span></label>
				<input type="text" id="simLength" name="simLength" pattern="^\d+$" readonly />
			</div>
			<div class="shortInput">
				<label>Length Units</label>
				<select id="simLengthUnits" name="simLengthUnits" disabled="true">
					<option value="minutes">Minutes</option>
					<option value="hours" selected>Hours</option>
					<option value="days">Days</option>
				</select>
			</div>
			<div class="wideInput" style="text-align:right">
				<a id="downloadLink" type="button" class="stoppedInline postRunInline" href="#" download>Download Excel</a>
				<script type="text/javascript">
					$("#downloadLink").attr("href", "/downloadModelData/"+allInputData.user+"/"+allInputData.modelName+"/"+allOutputData.excel)
				</script>
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {	
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<script id="globalOutputScripting">
			Highcharts.setOptions({global: { useUTC: true }})
			// Clean up the non-ISO date strings we get.
			function dateOb(inStr) {return Date.parse(inStr.replace(/-/g,"/"))}
			pointStart = dateOb(allOutputData.timeStamps[0])
			pointInterval = dateOb(allOutputData.timeStamps[1]) - pointStart
			function insertMetric(tableId, name, vector) {
				// Add a vector to a table as a row.
				table = gebi(tableId)
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = name
				for (i=0; i<vector.length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = delimitNumbers(vector[i].toFixed(0))
				}
			}
		</script>
		<p class="reportTitle postRun" style="page-break-before:always">Summary of Analysis</p>
		<div id="analysisSummary" class="content postRun">
			<div class="shortInput">
				<strong>Project Name</strong>
				<p id="projName"></p>
			</div>
			<div class="shortInput">
				<strong>Climate Source</strong>
				<p id="climSource"></p>
			</div>
			<br/>
			<div class="shortInput">
				<strong>System Size (kWp-DC)</strong>
				<p id="sysSize"></p>
			</div>
			<div class="shortInput">
				<strong>Inverter Size (kW-AC)</strong>
				<p id="invSize"></p>
			</div>
			<div class="shortInput">
				<strong>Percentage Clipping</strong>
				<p id="perClip"></p>
			</div>
			<br/>
			<div class="shortInput">
				<strong>Purchase Cost</strong>
				<p id="purchCost"></p>
			</div>
			<div class="shortInput">
				<strong>Cost Per kWp ($/kWp) </strong>
				<p id="costperKWP"></p>
			</div>
			<br/>
			<div class="shortInput">
				<strong>1st Year kWh</strong>
				<p id="1yearKWH"></p>
			</div>
			<div class="shortInput">
				<strong>1st Year Energy Sales</strong>
				<p id="1yearSales"></p>
			</div>
			<div class="shortInput">
				<strong>1st Year O&amp;M</strong>
				<p id="1yearOM"></p>
			</div>
			<div class="shortInput">
				<strong>Life kWh Production</strong>
				<p id="lifeKWH"></p>
			</div>
			<div class="shortInput">
				<strong>Life Energy Sales</strong>
				<p id="lifeEnergy"></p>
			</div>
			<div class="shortInput">
				<strong>Life O&amp;M Costs</strong>
				<p id="lifeOM"></p>
			</div>
			<div class="shortInput">
				<strong>ROI</strong>
				<p id="ROI"></p>
			</div>
			<div class="shortInput">
				<strong>NPV</strong>
				<p id="NPV"></p>
			</div>
			<div class="shortInput">
				<strong>IRR</strong>
				<p id="IRR"></p>
			</div>
			<script type="text/javascript">
				// Set values for this section.
				gebi("projName").innerHTML = allInputData.modelName
				gebi("climSource").innerHTML = allInputData.climateName
				gebi("sysSize").innerHTML = parseFloat(allInputData.systemSize)
				gebi("invSize").innerHTML = parseFloat(allInputData.inverterSize)
				gebi("perClip").innerHTML = (parseFloat(allOutputData.percentClipped).toFixed(1)) + "%"
				gebi("purchCost").innerHTML = "$" + delimitNumbers(parseFloat(allInputData.installCost))
				gebi("costperKWP").innerHTML = (parseFloat(allInputData.installCost)/parseFloat(allInputData.systemSize)).toFixed(0)
				gebi("1yearKWH").innerHTML = delimitNumbers((parseFloat(allOutputData.oneYearGenerationWh)/1000).toFixed(0))
				gebi("1yearSales").innerHTML = "$" + delimitNumbers(allOutputData.lifeGenerationDollars[0].toFixed(0))
				gebi("1yearOM").innerHTML = "$" + delimitNumbers(parseFloat(allInputData.omCost).toFixed(0))
				gebi("lifeKWH").innerHTML = delimitNumbers((parseFloat(allOutputData.lifeGenerationWh)/1000).toFixed(0))
				gebi("lifeOM").innerHTML = "$" + delimitNumbers((parseFloat(allInputData.omCost)*parseFloat(allInputData.lifeSpan)).toFixed(0))
				gebi("lifeEnergy").innerHTML = "$" + delimitNumbers(allOutputData.lifeEnergySales.toFixed(0))
				gebi("ROI").innerHTML = parseFloat(allOutputData.ROI).toFixed(3)
				gebi("NPV").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.NPV.toFixed(0)))
				gebi("NPV").innerHTML = "$" + delimitNumbers(parseFloat(allOutputData.NPV.toFixed(0)))
				gebi("IRR").innerHTML = parseFloat(allOutputData.IRR)
			</script>
		</div>
		<p class="reportTitle postRun">Hourly Solar Generation</p>
		<div id="powerGenerationReport" class="tightContent postRun">
			<div id="powerTimeSeries"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"enableMouseTracking":false, "marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}},
					"title":{"text":null},
					"series": [{"marker":{"enabled":false},"color":"pink","data":allOutputData.powerOutputAc,"name":"Generated in DC"},{"marker":{"enabled":false},"color":"red","data":allOutputData.InvClipped,"name":"After DC-AC Conversion", "visible":true}],
					"yAxis":{"title":{"text":"Power (W-AC)","style":{"color":"gray"}},"plotLines":[{"color": "orange",
						"dashStyle": "ShortDash",
						"width": 2,
						"label":{"text":"DC Nameplate","align":"right","y":12,"x":0},
						"value": parseFloat(allInputData.systemSize)*1000,"zIndex": 10}, {"color": "orange",
						"dashStyle": "ShortDash",
						"width": 2,
						"label":{"text":"AC Nameplate","align":"left","y":12,"x":0},
						"value": parseFloat(allInputData.inverterSize)*1000,"zIndex": 10}],"min":0},
					"chart":{"zoomType":"x","marginBottom":40,"width":1000,"height":250,"marginRight":20,"renderTo":"powerTimeSeries","type":"line"},
					"tooltip":{"enabled":false, "valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Monthly Energy Output</p>
		<div id="monthlyPerformanceReport" class="tightContent postRun">
			<div id="monthlyPerformanceDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"column":{"stacking":'normal'},"series":{"animation":false,"shadow":false},"line":{"marker":{"enabled":false}}},
					"xAxis":{"type":"category","tickColor":"gray","lineColor":"gray"},
					"title":{"text":null},
					"series":[{"name":"Energy Generated", "color":"orange", "data":allOutputData.monthlyGeneration, "dataLabels":{"enabled":false}}],
					"yAxis":{"title":{"text":"Energy (Wh-AC)","style":{"color":"gray"}}},
					"chart":{"marginBottom":40,"zoomType":"disabled","renderTo":"monthlyPerformanceDiv","type":"column","marginRight":20,"height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":false})
			</script>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Seasonal System Performance</p>
		<div id="seasonalPerformanceChart" class="tightContent postRun">
			<div id="seasonalPerformanceDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"chart":{"marginBottom":55,"renderTo":"seasonalPerformanceDiv","type":"heatmap","marginRight":20, width:1000, height:400},
					title: false,
			        credits: {text: 'Does not adjust for Daylight Savings Time', href:'', position: {align: 'right', verticalAlign: 'bottom', y:-320, x:-25}},
					yAxis: {categories: ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"], title:null, reversed:true},
					xAxis: {categories: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23], title: {"text":"Hour of the Day","style":{"color":"gray"}}},
					colorAxis: {min: 0, minColor: '#FFFFFF', maxColor:"#c4463a"},
					legend:{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal", title: {"text":"Energy (Wh-AC)","style":{"color":"gray"}}},
					tooltip: false,
					series: [{
						name: "System Output (AC)",
						borderWidth: 0,
						data: allOutputData.seasonalPerformance,
						dataLabels: {enabled:false}}]})
			</script>
		</div>
		<p class="reportTitle postRun">Cash Flow</p>
		<div id="cashFlowReport" class="tightContent postRun">
			<div id="cashFlowChartDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"column":{"stacking":"normal"},"series":{"animation":false,"shadow":false},"spline":{"animation":false,"shadow":false}},
					"xAxis":{"title":{"text":"Year After Installation","style":{"color":"gray"}},"type":"linear","tickColor":"gray","lineColor":"gray","tickInterval":1,"minorTickColor":"gray", "minorTickInterval":5},
					"title":{"text":"ROI:" + allOutputData.ROI.toFixed(3) + ", NPV:$" + delimitNumbers(allOutputData.NPV.toFixed(0)) + ", IRR:" + allOutputData.IRR, "verticalAlign":"bottom", "align":"right", "y":-50, "x":-10, "style":{"color":"#333333", "fontSize":"12px"}},
					"series":[{"name":"Energy Sales", "data":allOutputData.lifeGenerationDollars},
						{"name":"Op. and Maint. Costs", "data":allOutputData.lifeOmCosts},
						{"name":"Purchase Costs", "data":allOutputData.lifePurchaseCosts},
						{"name":"Net", "type":"spline", "data":allOutputData.netCashFlow},
						{"name":"Cumulative", "type":"spline", "data":allOutputData.cumCashFlow}],
					"yAxis":{"title":{"text":"Income ($)","style":{"color":"gray"}}},
					"chart":{"marginBottom":55,"zoomType":"x","renderTo":"cashFlowChartDiv","type":"column","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Monthly Data Table</p>
		<div id="monthlySummaryReport" class="tightContent postRun tableReport">
			<table id="monthlySummaryTable">
			</table>
			<script>
				table = gebi("monthlySummaryTable")
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = "Month"
				for (i=0; i<allOutputData.monthlyGeneration.map(function(x){return x[1]}).length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"][i]
				}
				insertMetric("monthlySummaryTable","Single Residential PV System Generation (kWh)", allOutputData.monthlyGeneration.map(function(x){return x[1]/1000}))
			</script>
		</div>
		<p class="reportTitle postRun">Annual Data Table</p>
		<div id="annualSummaryReport" class="tightContent postRun tableReport">
			<table id="annualSummaryTable">
			</table>
			<script>
				insertMetric("annualSummaryTable","Year", Array.apply(null, {length: parseFloat(allInputData.lifeSpan)}).map(Number.call, Number))
				insertMetric("annualSummaryTable","Generation Income", allOutputData.lifeGenerationDollars)
				insertMetric("annualSummaryTable","Purchase Costs", allOutputData.lifePurchaseCosts)
				insertMetric("annualSummaryTable","Op. and Maint. Costs", allOutputData.lifeOmCosts)
				insertMetric("annualSummaryTable","Net Income", allOutputData.netCashFlow)
				insertMetric("annualSummaryTable","Cumulative Income", allOutputData.cumCashFlow)
			</script>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Irradiance</p>
		<div id="irradianceReport" class="tightContent postRun">
			<div id="irradianceChartDiv"></div>
			<script>
				irradianceSeriesData = [
					{"name":"Plane of Array Irradiance","marker":{"enabled":false},"color":"gold","data":allOutputData.climate["Plane of Array Irradiance (W/m^2)"],"visible":true},
					{"name":"Global Horizontal Radiation","marker":{"enabled":false},"color":"goldenrod","data":allOutputData.climate["Global Horizontal Radiation (W/m^2)"],"visible":true} ]
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":true}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}},
					"title":{"text":null},
					"series":irradianceSeriesData,
					"yAxis":{"title":{"text":"Irradiance (W/m^2)","style":{"color":"gray"}}, "min":0},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"irradianceChartDiv","type":"line","marginRight":20, "height":300,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Other Climate Variables</p>
		<div id="climateReport" class="tightContent postRun">
			<div id="climateChartDiv"></div>
			<script>
				climateSeriesData = [
					{"name":"Ambient Temperature (F)","marker":{"enabled":false},"color":"dimgray","data":allOutputData.climate["Ambient Temperature (F)"]},
					{"name":"Cell Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Cell Temperature (F)"]},
					{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]} ]
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}},
					"title":{"text":null},
					"series":climateSeriesData,
					"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}, "min":0},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Simulation Location</p>
		<div id="studyDetail" class="tightContent postRun detailsContainer" style="position: relative">
			<div id="mapHere"></div>
			<script type="text/javascript">
				width = 1000, height = 350
				projection = d3.geo.albersUsa().scale(600).translate([width/2, height/2])
				path = d3.geo.path()
					.projection(projection)
				svg = d3.select("#mapHere").append("svg")
					.attr("width", width)
					.attr("height", height)
				group = svg.append("g")
				group.attr("transorm", "scale(.2, .2)")
				d3.json('{{pathPrefix}}/static/state_boundaries.json', function(collection) {
					group.selectAll('path')
						.data(collection.features)
						.enter().append('path')
						.attr('d', d3.geo.path().projection(projection))
						.attr('id', function(d){return d.properties.name.replace(/\s+/g, '')})
						.style('fill', 'gray')
						.style('stroke', 'white')
						.style('stroke-width', 1)})
				d3.json("{{pathPrefix}}/static/city_locations.json", function(new_us_places){
					climate = allInputData.climateName
					ST_NAME = climate.split("-")
					ST = ST_NAME[0]
					NAME = ST_NAME[1].replace("_"," ")
					my_coords = projection(new_us_places[ST][NAME])
					r = 5
					circle = svg.append("circle")
						.attr("cx", my_coords[0])
						.attr("cy", my_coords[1])
						.attr("r", 5)
						.attr("class", "HighlightCircle")
					circle.append("svg:title").text(climate)})
			</script>
		</div>
	</div>
</body>