<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		thead{font-weight:bold} table{width:980px; font-size:10}
		g.node rect, circle {fill:lightgray}
		path.link {stroke-width:8px; fill:none}
		text {font-size:10pt}
		.inVal {text-decoration:underline}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="{{pathPrefix}}/static/heatmap.src.js"></script>
	<script src="{{pathPrefix}}/static/d3.v3.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-solarCashflow" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Solar System Parameters</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Zip Code<span class="classic">Zip code of the planned array's geographical location.</span></label>
				<input type="text" id="zipCode" name="zipCode" pattern="^\d{5}(?:[-\s]\d{4})?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">System Size (kWp-DC)<span class="classic">Average residential PV system size in your service territory, in kilowatts-DC.</span></label>
				<input type="text" id="systemSize" name="systemSize" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Residential Customers With Solar (%)<span class="classic">Percentage of residential customers who own PV systems. A value of five percent is entered as a "5".</span></label>
				<input type="text" id="resPenetration" name="resPenetration" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required">
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Financial Variables</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Retail Energy Cost ($/kWh)<span class="classic">Retail rate for residential consumers.</span></label>
				<input type="text" id="retailCost" name="retailCost" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Average Cost of Purchased Power ($/kWh)<span class="classic">Automatically calculated from other inputs as: Form 7 R.17.m/R.15.m.</span></label>
				<input type="text" id="costofPower" name="costofPower" value = "0.081" readonly/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Solar Service Charge ($/month)<span class="classic">Monthly charge for residential customers with solar installed.</span></label>
				<input type="text" id="solarServiceCharge" name="solarServiceCharge" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Solar Levelized Cost of Energy ($/kWh)<span class="classic">Estimated levelized costs for the energy provided from solar. This estimate effects average bill size for solar residential customers but it doesn't impact rate change assessments.</span></label>
				<input type="text" id="solarLCoE" name="solarLCoE" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Customer Service Charge ($)<span class="classic">Monthly service charge for residential customers if any.</span></label>
				<input type="text" id="customServiceCharge" name="customServiceCharge" pattern="^\d+\.?\d*$" value="15" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Form 7.R.13.TOTAL Other Electric Revenue.<span class="classic">Additional revenue from Form 7 Table R.</span></label>
				<input type="text" id="otherElecRevenue" name="otherElecRevenue" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Form 7.L.5.c TOTAL kWh Purchased<span class="classic">Total energy purchased from Form 7 Table R.</span></label>
				<input type="text" id="totalKWhPurchased" name="totalKWhPurchased" pattern="^\d+\.?\d*$" required="required"/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Form 7 Financial Variables</p>
			</div>
			<hr>
			<div class="shortInput">
				<label>A.2.b Power Production Expense</label>
				<input type="text" id="powerProExpense" name="powerProExpense" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.3.b Cost of Purchased Power</label>
				<input type="text" id="costPurchasedPower" name="costPurchasedPower" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.4.b Transmission Expense</label>
				<input type="text" id="transExpense" name="transExpense" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.5.b Distribution Expense - Operation</label>
				<input type="text" id="distriExpenseO" name="distriExpenseO" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.6.b Distribution Expense - Maintenance</label>
				<input type="text" id="distriExpenseM" name="distriExpenseM" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.7.b Customer Accounts Expense</label>
				<input type="text" id="customerAccountExpense" name="customerAccountExpense" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.8.b Customer Service and Informational Expense</label>
				<input type="text" id="customerServiceExpense" name="customerServiceExpense" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.9.b Sales Expense</label>
				<input type="text" id="salesExpense" name="salesExpense" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.10.b Administrative and General Expense</label>
				<input type="text" id="adminGeneralExpense" name="adminGeneralExpense" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.12.b Depreciation and Amortization Expense</label>
				<input type="text" id="depreAmortiExpense" name="depreAmortiExpense" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.13.b Tax Expense - Property &amp; Gross Receipts</label>
				<input type="text" id="taxExpensePG" name="taxExpensePG" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.14.b Tax Expense - Other</label>
				<input type="text" id="taxExpense" name="taxExpense" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.15.b Interest on Long-Term Debt</label>
				<input type="text" id="interestLongTerm" name="interestLongTerm" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.16.b Interest Charged to Construction - Credit</label>
				<input type="text" id="interestConstruction" name="interestConstruction" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.17.b Interest Expense - Other</label>
				<input type="text" id="interestExpense" name="interestExpense" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.18.b Other Deductions</label>
				<input type="text" id="otherDeductions" name="otherDeductions" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.21.b Non Operating Margins - Interest</label>
				<input type="text" id="nonOpMarginInterest" name="nonOpMarginInterest" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.22.b Allowance for Funds Used During Construction</label>
				<input type="text" id="fundsUsedConstruc" name="fundsUsedConstruc" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.23.b Income (Loss) from Equity Investments</label>
				<input type="text" id="incomeEquityInvest" name="incomeEquityInvest" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.24.b Non Operating Margins - Other</label>
				<input type="text" id="nonOpMarginOther" name="nonOpMarginOther" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.25.b Generation and Transmission Capital Credits</label>
				<input type="text" id="genTransCapCredits" name="genTransCapCredits" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.26.b Other Capital Credits and Patronage Dividends</label>
				<input type="text" id="otherCapCreditsPatroDivident" name="otherCapCreditsPatroDivident" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="shortInput">
				<label>A.27.b Extraordinary Items</label>
				<input type="text" id="extraItems" name="extraItems" pattern="^-?\d+\.?\d*$" required="required"/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader" style="page-break-before:always">Form 7 Table O (a.k.a. R) Variables</p>
			</div>
			<hr>
			<div class="wideInput">
				<table>
					<tr>
						<th></th>
						<th>Jan</th>
						<th>Feb</th>
						<th>Mar</th>
						<th>Apr</th>
						<th>May</th>
						<th>Jun</th>
						<th>Jul</th>
						<th>Aug</th>
						<th>Sep</th>
						<th>Oct</th>
						<th>Nov</th>
						<th>Dec</th>
					</tr>
					<tr>
						<th>Residential Consumers Served</th>
						<td><input type="text" id="janSale" name="janSale" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="febSale" name="febSale" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="marSale" name="marSale" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="aprSale" name="aprSale" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="maySale" name="maySale" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="junSale" name="junSale" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="julSale" name="julSale" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="augSale" name="augSale" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="sepSale" name="sepSale" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="octSale" name="octSale" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="novSale" name="novSale" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="decSale" name="decSale" pattern="^\d+\.?\d*$" required="required"></td>
					</tr>
					<tr>
						<th>Residential KWh Sold</th>
						<td><input type="text" id="janKWh" name="janKWh" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="febKWh" name="febKWh" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="marKWh" name="marKWh" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="aprKWh" name="aprKWh" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="mayKWh" name="mayKWh" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="junKWh" name="junKWh" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="julKWh" name="julKWh" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="augKWh" name="augKWh" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="sepKWh" name="sepKWh" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="octKWh" name="octKWh" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="novKWh" name="novKWh" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="decKWh" name="decKWh" pattern="^\d+\.?\d*$" required="required"></td>
					</tr>
					<tr>
						<th>Residential Revenue</th>
						<td><input type="text" id="janRev" name="janRev" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="febRev" name="febRev" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="marRev" name="marRev" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="aprRev" name="aprRev" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="mayRev" name="mayRev" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="junRev" name="junRev" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="julRev" name="julRev" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="augRev" name="augRev" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="sepRev" name="sepRev" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="octRev" name="octRev" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="novRev" name="novRev" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="decRev" name="decRev" pattern="^\d+\.?\d*$" required="required"></td>
					</tr>
					<tr>
						<th>Total KWh Sold</th>
						<td><input type="text" id="janKWhT" name="janKWhT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="febKWhT" name="febKWhT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="marKWhT" name="marKWhT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="aprKWhT" name="aprKWhT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="mayKWhT" name="mayKWhT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="junKWhT" name="junKWhT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="julKWhT" name="julKWhT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="augKWhT" name="augKWhT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="sepKWhT" name="sepKWhT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="octKWhT" name="octKWhT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="novKWhT" name="novKWhT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="decKWhT" name="decKWhT" pattern="^\d+\.?\d*$" required="required"></td>
					</tr>
					<tr>
						<th>Total Revenue</th>
						<td><input type="text" id="janRevT" name="janRevT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="febRevT" name="febRevT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="marRevT" name="marRevT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="aprRevT" name="aprRevT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="mayRevT" name="mayRevT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="junRevT" name="junRevT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="julRevT" name="julRevT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="augRevT" name="augRevT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="sepRevT" name="sepRevT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="octRevT" name="octRevT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="novRevT" name="novRevT" pattern="^\d+\.?\d*$" required="required"></td>
						<td><input type="text" id="decRevT" name="decRevT" pattern="^\d+\.?\d*$" required="required"></td>
					</tr>
				</table>
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {	
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<script id="globalOutputScripting">
			Highcharts.setOptions({global: { useUTC: true }})
			// Clean up the non-ISO date strings we get.
			function dateOb(inStr) {return Date.parse(inStr.replace(/-/g,"/"))}
			pointStart = dateOb(allOutputData.timeStamps[0])
			pointInterval = dateOb(allOutputData.timeStamps[1]) - pointStart
			function insertMetric(tableId, name, vector) {
				// Add a vector to a table as a row.
				table = gebi(tableId)
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = name
				for (i=0; i<vector.length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = delimitNumbers(vector[i].toFixed(0))
				}
			}
		</script>
		<p class="reportTitle postRun">Hourly Solar Generation Per Generator</p>
		<div id="powerGenerationReport" class="tightContent postRun">
			<div id="powerTimeSeries"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"enableMouseTracking":false, "marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000, "tickColor":"gray","type":"datetime","lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}
					},
					"rangeSelector":{"selected":1,"enabled":true,"inputDateFormat":'%Y-%m-%d'},
					"title":{"text":null},
					"series": [{"marker":{"enabled":false},"color":"red","data":allOutputData.powerOutputAc,"name":"Power Generated"}],
					"yAxis":{"title":{"text":"Power (W)","style":{"color":"gray"}},"plotLines":[{"color": "orange",
						"dashStyle": "ShortDash",
						"width": 2,
						"label":{"text":"Nameplate","align":"right","y":12,"x":0},
						"value": parseFloat(allInputData.systemSize)*1000,"zIndex": 0}],"min":0},
					"chart":{"zoomType":"x","marginBottom":40,"width":1000,"height":250,"marginRight":20,"renderTo":"powerTimeSeries","type":"line"},
					"tooltip":{"enabled":false, "valueDecimals":1},
					"legend":false})
			</script>
		</div>
		<p class="reportTitle postRun">Monthly Utility Energy Consumption</p>
		<div id="monthlyPerformanceReport" class="tightContent postRun">
			<div id="monthlyPerformanceDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"column":{"stacking":'normal'},"series":{"animation":false,"shadow":false},"line":{"marker":{"enabled":false}}},
					"xAxis":{"type":"category","tickColor":"gray","lineColor":"gray"},
					"title":{"text":null},
					"series":[{"name":"From Solar", "color":"orange", "data":allOutputData.totalGeneration, "dataLabels":{"enabled":false}},{"name":"From G&T", "color":"green", "data":allOutputData.totalsolarmonthly, "dataLabels":{"enabled":false}}],
					"yAxis":[{"title":{"text":"Energy (Wh)","style":{"color":"gray"}}}],
					"chart":{"marginBottom":40,"zoomType":"disabled","renderTo":"monthlyPerformanceDiv","type":"column","marginRight":20,"height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle  postRun" style="page-break-before:always">Annual Cash and Power Flows</p>
		<div id="graphicChart" class="tightContent postRun tableReport" style="overflow-x:hidden;overflow-y:hidden;">
			<svg width="1000px" height="520px" viewBox="0.00 0.00 1000.00 500.00">
				<g id="graph0" class="graph">
					<defs>
						<marker id="greenArrow" viewBox="0 0 10 10" refX="0" refY="5" markerWidth="2" markerHeight="2" orient="auto" markerUnits="strokeWidth">
							<path d="M0,0 L10,5 L0,10 Z" style="fill:green"/>
						</marker>
						<marker id="orangeArrow" viewBox="0 0 10 10" refX="0" refY="5" markerWidth="2" markerHeight="2" orient="auto" markerUnits="strokeWidth">
							<path d="M0,0 L10,5 L0,10 Z" style="fill:orange"/>
						</marker>
					</defs>
					<g id="lossesNode" class="node"><circle cx="250" cy="50" r="45"></circle><text x="250" y="50" text-anchor="middle">Technical Losses</text></g>
					<g id="gtNode" class="node"><circle cx="150" cy="250" r="100"></circle><text x="150" y="250" text-anchor="middle">G&amp;T or Other Power Suppliers</text></g>
					<g id="vendorNode" class="node"><circle cx="250" cy="450" r="45"></circle><text x="250" y="450" text-anchor="middle">Non-Power Costs</text></g>
					<g id="patronageNode" class="node"><circle cx="500" cy="50" r="45"></circle><text x="500" y="50" text-anchor="middle">Patronage Capital</text></g>
					<g id="distributionNode" class="node"><rect x="400" y="150" width="200" height="200"></rect><text x="500" y="250" text-anchor="middle">Distribution Utility</text></g>
					<g id="panelsNode" class="node"><circle cx="850" cy="40" r="30"></circle><text x="850" y="40" text-anchor="middle">Panels</text></g>
					<g id="solarConNode" class="node"><rect x="750" y="120" width="200" height="90"></rect><text x="850" y="165" text-anchor="middle">Solar Res. Consumers</text></g>
					<g id="nonSolarConNode" class="node"><rect x="750" y="240" width="200" height="90"></rect><text x="850" y="285" text-anchor="middle">Non-Solar Res. Consumers</text></g>
					<g id="commConNode" class="node"><rect x="750" y="350" width="200" height="90"></rect><text x="850" y="395" text-anchor="middle">C&amp;I Consumers</text></g>
					<path id="patronageCashLink" class="link" d="M500,140 L500,120" style="stroke:green; marker-end:url(#greenArrow)"/>
					<path id="lossesEnergyLink" class="link" d="M395,145 L310,90" style="stroke:orange; marker-end:url(#orangeArrow)"/>
					<path id="vendorCashLink" class="link" d="M395,355 L310,420" style="stroke:green; marker-end:url(#greenArrow)"/>
					<path id="gtEnergyLink" class="link" d="M260,240 L375,240" style="stroke:orange; marker-end:url(#orangeArrow)"/>
					<path id="gtCashLink" class="link" d="M390,260 L275,260" style="stroke:green; marker-end:url(#greenArrow)"/>
					<path id="commConEnergyLink" class="link" d="M610,340 L720,380" style="stroke:orange; marker-end:url(#orangeArrow)"/>
					<path id="commConCashLink" class="link" d="M735,405 L625,365" style="stroke:green; marker-end:url(#greenArrow)"/>
					<path id="nonSolarConEnergyLink" class="link" d="M610,240 L720,265" style="stroke:orange; marker-end:url(#orangeArrow)"/>
					<path id="nonSolarConCashLink" class="link" d="M735,290 L625,265" style="stroke:green; marker-end:url(#greenArrow)"/>
					<path id="solarConEnergyLink" class="link" d="M610,140 L720,140" style="stroke:orange; marker-end:url(#orangeArrow)"/>
					<path id="solarConCashLink" class="link" d="M735,160 L625,160" style="stroke:green; marker-end:url(#greenArrow)"/>
					<path id="panelsCashLink" class="link" d="M840,105 L840,95" style="stroke:green; marker-end:url(#greenArrow)"/>
					<path id="panelsEnergyLink" class="link" d="M860,80 L860,90" style="stroke:orange; marker-end:url(#orangeArrow)"/>
					<text id="patronageCashLabel" fill="green" x="490" y="130" text-anchor="end"></text>
					<text id="lossesEnergyLabel" fill="orange" x="350" y="130" text-anchor="end"></text>
					<text id="vendorCashLabel" fill="green" x="350" y="380" text-anchor="end"></text>
					<text id="gtEnergyLabel" fill="orange" x="330" y="230" text-anchor="middle"></text>
					<text id="gtCashLabel" fill="green" x="330" y="290" text-anchor="middle"></text>
					<text id="solarConEnergyLabel" fill="orange" x="660" y="125" text-anchor="middle"></text>
					<text id="solarConCashLabel" fill="green" x="670" y="180" text-anchor="middle"></text>
					<text id="nonSolarConEnergyLabel" fill="orange" x="625" y="240" text-anchor="start"></text>
					<text id="nonSolarConCashLabel" fill="green" x="710" y="300" text-anchor="end"></text>
					<text id="commConEnergyLabel" fill="orange" x="645" y="350" text-anchor="start"></text>
					<text id="commConCashLabel" fill="green" x="710" y="410" text-anchor="end"></text>
					<text id="panelsEnergyLabel" fill="orange" x="870" y="95" text-anchor="start"></text>
					<text id="panelsCashLabel" fill="green" x="830" y="95" text-anchor="end"></text>
					<text id="avgNonSolarBill" fill="darkgray" x="850" y="305" text-anchor="middle"></text>
					<text id="avgSolarBill" fill="darkgray" x="850" y="185" text-anchor="middle"></text>
					<text id="currentRate" fill="darkgray" x="500" y="280" text-anchor="middle"></text>
					<text id="costofService" fill="darkgray" x="500" y="300" text-anchor="middle"></text>
					<script type="text/javascript">
						function convertunits(nStr, places){
							// Divide nStr by 10^places and return the integer.
							nStr += ''
							x = nStr.split('.')
							x1 = x[0]
							xint = parseInt(x1) / (Math.pow(10, places))
							return xint
						}
						gebi("patronageCashLabel").textContent = "$" + delimitNumbers(allOutputData.Solar.patCapital.toFixed(0))
						gebi("lossesEnergyLabel").textContent = delimitNumbers(convertunits(allOutputData.Solar.losses, 3).toFixed(0)) +" MWh"
						gebi("vendorCashLabel").textContent = "$" + delimitNumbers(allOutputData.BAU.nonPowerCosts.toFixed(0))
						gebi("gtEnergyLabel").textContent = delimitNumbers(convertunits(allOutputData.Solar.totalKWhPurchased, 3).toFixed(0)) + " MWh"
						gebi("gtCashLabel").textContent = "$" + delimitNumbers(allOutputData.Solar.costPurchasedPower.toFixed(0))
						gebi("vendorCashLabel").textContent = "$" + delimitNumbers(allOutputData.BAU.nonPowerCosts.toFixed(0))
						gebi("solarConEnergyLabel").textContent = delimitNumbers(convertunits(allOutputData.Solar.solarResSold, 3).toFixed(0)) + " MWh"
						gebi("solarConCashLabel").textContent = "$" + delimitNumbers(allOutputData.Solar.solarResRev.toFixed(0))
						gebi("nonSolarConEnergyLabel").textContent = delimitNumbers(convertunits(allOutputData.Solar.resNonSolarKWhSold, 3).toFixed(0)) + " MWh"
						gebi("nonSolarConCashLabel").textContent = "$" + delimitNumbers(allOutputData.Solar.resNonSolarRev.toFixed(0))
						gebi("commConEnergyLabel").textContent = delimitNumbers(convertunits(allOutputData.BAU.nonResKWhSold, 3).toFixed(0)) + " MWh"
						gebi("commConCashLabel").textContent = "$" + delimitNumbers(allOutputData.Solar.nonResRev.toFixed(0))
						gebi("panelsEnergyLabel").textContent = delimitNumbers(convertunits(allOutputData.Solar.annualSolarGen, 3).toFixed(0)) + " MWh"
						gebi("panelsCashLabel").textContent = "$" + delimitNumbers(allOutputData.Solar.costSolarGen.toFixed(0))
						gebi("avgNonSolarBill").textContent = "Avg Bill " + delimitNumbers(allOutputData.Solar.avgMonthlyBillNonSolarCus.toFixed(0)) + " $/Month"
						gebi("avgSolarBill").textContent = "Avg Bill " + delimitNumbers(allOutputData.Solar.avgMonthlyBillSolarCus.toFixed(0)) + " $/Month"
						gebi("currentRate").textContent = "BAU Costs " + delimitNumbers(allOutputData.BAU.costofService.toFixed(3)) + " $/kWh"
						gebi("costofService").textContent = "Solar Costs " + delimitNumbers(allOutputData.Solar.costofService.toFixed(3)) + " $/kWh"
					</script>
				</g>
			</svg>
		</div>
		<p class="reportTitle postRun">Form 7.A Statement of Operations - Business as Usual Versus Residential Solar</p>
		<div id="tableReport" class="tightContent postRun tableReport">
			<table id="bauVersusSolarTable">
				<tr><th>ID</th><th>Item</th><th><label class="tooltip">Business as Usual<span class="classic">Underlined values comes directly from the input. All other values in this table are calculated.</span></label></th><th>Solar</th></tr>
				<tr><td>7.A.1.b</td><td>Operating Revenue and Patronage Capital</td><td id="bau_operRevPatroCap" class="inVal"></td><td id="sol_operRevPatroCap"></td></tr>
				<tr><td>7.A.2.b</td><td>Power Production Expense</td><td id="bau_powerProExpense" class="inVal"></td><td id="sol_powerProExpense"></td></tr>
				<tr><td>7.A.3.b</td><td>Cost of Purchased Power</td><td id="bau_costPurchasedPower" class="inVal"></td><td id="sol_costPurchasedPower"></td></tr>
				<tr><td>7.A.4.b</td><td>Transmission Expense</td><td id="bau_transExpense" class="inVal"></td><td id="sol_transExpense"></td></tr>
				<tr><td>7.A.5.b</td><td>Distribution Expense - Operation</td><td id="bau_distriExpenseO" class="inVal"></td><td id="sol_distriExpenseO"></td></tr>
				<tr><td>7.A.6.b</td><td>Distribution Expense - Maintenance</td><td id="bau_distriExpenseM" class="inVal"></td><td id="sol_distriExpenseM"></td></tr>
				<tr><td>7.A.7.b</td><td>Customer Accounts Expense</td><td id="bau_customerAccountExpense" class="inVal"></td><td id="sol_customerAccountExpense"></td></tr>
				<tr><td>7.A.8.b</td><td>Customer Service and Informational Expense</td><td id="bau_customerServiceExpense" class="inVal"></td><td id="sol_customerServiceExpense"></td></tr>
				<tr><td>7.A.9.b</td><td>Sales Expense</td><td id="bau_salesExpense" class="inVal"></td><td id="sol_salesExpense"></td></tr>
				<tr><td>7.A.10.b</td><td>Administrative and General Expense</td><td id="bau_adminGeneralExpense" class="inVal"></td><td id="sol_adminGeneralExpense"></td></tr>
				<tr><td>7.A.11.b</td><td>Total Operation &amp; Maintenance Expense (2 thru 10)</td><td id="bau_totalOMExpense"></td><td id="sol_totalOMExpense"></td></tr>
				<tr><td>7.A.12.b</td><td>Depreciation and Amortization Expense</td><td id="bau_depreAmortiExpense" class="inVal"></td><td id="sol_depreAmortiExpense"></td></tr>
				<tr><td>7.A.13.b</td><td>Tax Expense - Property &amp; Gross Receipts</td><td id="bau_taxExpensePG" class="inVal"></td><td id="sol_taxExpensePG"></td></tr>
				<tr><td>7.A.14.b</td><td>Tax Expense - Other</td><td id="bau_taxExpense" class="inVal"></td><td id="sol_taxExpense"></td></tr>
				<tr><td>7.A.15.b</td><td>Interest on Long-Term Debt</td><td id="bau_interestLongTerm" class="inVal"></td><td id="sol_interestLongTerm"></td></tr>
				<tr><td>7.A.16.b</td><td>Interest Charged to Construction - Credit</td><td id="bau_interestConstruction" class="inVal"></td><td id="sol_interestConstruction"></td></tr>
				<tr><td>7.A.17.b</td><td>Interest Expense - Other</td><td id="bau_interestExpense" class="inVal"></td><td id="sol_interestExpense"></td></tr>
				<tr><td>7.A.18.b</td><td>Other Deductions</td><td id="bau_otherDeductions" class="inVal"></td><td id="sol_otherDeductions"></td></tr>
				<tr><td>7.A.19.b</td><td>Total Cost of Electric Service (11 thru 18)</td><td id="bau_totalCostElecService"></td><td id="sol_totalCostElecService"></td></tr>
				<tr><td>7.A.20.b</td><td>Patronage Capital &amp; Operating Margins (1 minus 19)</td><td id="bau_patCapOperMargins"></td><td id="sol_patCapOperMargins"></td></tr>
				<tr><td>7.A.21.b</td><td>Non Operating Margins - Interest</td><td id="bau_nonOpMarginInterest" class="inVal"></td><td id="sol_nonOpMarginInterest"></td></tr>
				<tr><td>7.A.22.b</td><td>Allowance for Funds Used During Construction</td><td id="bau_fundsUsedConstruc" class="inVal"></td><td id="sol_fundsUsedConstruc"></td></tr>
				<tr><td>7.A.23.b</td><td>Income (Loss) from Equity Investments</td><td id="bau_incomeEquityInvest" class="inVal"></td><td id="sol_incomeEquityInvest"></td></tr>
				<tr><td>7.A.24.b</td><td>Non Operating Margins - Other</td><td id="bau_nonOpMarginOther" class="inVal"></td><td id="sol_nonOpMarginOther"></td></tr>
				<tr><td>7.A.25.b</td><td>Generation and Transmission Capital Credits</td><td id="bau_genTransCapCredits" class="inVal"></td><td id="sol_genTransCapCredits"></td></tr>
				<tr><td>7.A.26.b</td><td>Other Capital Credits and Patronage Dividends</td><td id="bau_otherCapCreditsPatroDivident" class="inVal"></td><td id="sol_otherCapCreditsPatroDivident"></td></tr>
				<tr><td>7.A.27.b</td><td>Extraordinary Items</td><td id="bau_extraItems" class="inVal"></td><td id="sol_extraItems"></td></tr>
				<tr><td>7.A.28.b</td><td>Patronage Capital or Margins (20 thru 27)</td><td id="bau_patCapital"></td><td id="sol_patCapital"></td></tr>
			</table>
			<script>
				// Set all the values in the above table by mapping ID<->allOutput.
				table = gebi("bauVersusSolarTable")
				rows = table.children[0].children
				for (i=1; i<rows.length; i++) {
					tds = rows[i].children
					tds[2].innerHTML = delimitNumbers(allOutputData.BAU[tds[2].id.substring(4)].toFixed(0))
					tds[3].innerHTML = delimitNumbers(allOutputData.Solar[tds[3].id.substring(4)].toFixed(0)) }
			</script>
		</div>
		<!-- TODO: Split into two separate sheet -->
		<p class="reportTitle postRun" style="page-break-before:always">Monthly Data Table</p>
		<div id="monthlySummaryReport" class="tightContent postRun tableReport">
			<table id="monthlySummaryTable">
			</table>
			<script>
                //insertMetric("monthlySummaryTable","Month", allOutputData.monthlyGeneration.map(function(x){return x[0]}))
				table = gebi("monthlySummaryTable")
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = "Month"
				for (i=0; i<allOutputData.monthlyGeneration.map(function(x){return x[1]}).length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"][i]
				}
				insertMetric("monthlySummaryTable","No. Consumer Served", allOutputData.monthlyNoConsumerServedSales.map(function(x){return x[1]}))
				insertMetric("monthlySummaryTable","Single Residential PV System Generation(kWh)", allOutputData.monthlyGeneration.map(function(x){return x[1]/1000}))
				insertMetric("monthlySummaryTable","Total Residential PV Generation(kWh)", allOutputData.totalGeneration.map(function(x){return x[1]}))
				insertMetric("monthlySummaryTable","KWh Sold", allOutputData.monthlyKWhSold.map(function(x){return x[1]}))
				insertMetric("monthlySummaryTable","Revenue", allOutputData.monthlyRevenue.map(function(x){return x[1]}))
				insertMetric("monthlySummaryTable","Total KWh Sold", allOutputData.totalKWhSold.map(function(x){return x[1]}))
				insertMetric("monthlySummaryTable","Total Revenue from Sales of Electric Energy", allOutputData.totalRevenue.map(function(x){return x[1]}))
			</script>
		</div>
		<p class="reportTitle postRun">Irradiance</p>
		<div id="irradianceReport" class="tightContent postRun">
			<div id="irradianceChartDiv"></div>
			<script>
				irradianceSeriesData = [
					{"name":"Plane of Array Irradiance","marker":{"enabled":false},"color":"gold","data":allOutputData.climate["Plane of Array Irradiance (W/m^2)"],"visible":true},
					{"name":"Global Horizontal Radiation","marker":{"enabled":false},"color":"goldenrod","data":allOutputData.climate["Global Horizontal Radiation (W/m^2)"],"visible":true} ]
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":true}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''} },
					"title":{"text":null},
					"series":irradianceSeriesData,
					"yAxis":{"title":{"text":"Irradiance (W/m^2)","style":{"color":"gray"}}, "min":0},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"irradianceChartDiv","type":"line","marginRight":20, "height":300,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Other Climate Variables</p>
		<div id="climateReport" class="tightContent postRun">
			<div id="climateChartDiv"></div>
			<script>
				climateSeriesData = [
					{"name":"Ambient Temperature (F)","marker":{"enabled":false},"color":"dimgray","data":allOutputData.climate["Ambient Temperature (F)"]},
					{"name":"Cell Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Cell Temperature (F)"]},
					{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]} ]
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}},
					"title":{"text":null},
					"series":climateSeriesData,
					"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}, "min":0},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
	</div>
</body>