<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
	/*Styles will go here*/
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="{{pathPrefix}}/static/heatmap.src.js"></script>
	<script src="{{pathPrefix}}/static/d3.v3.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-solarConsumer" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Solar System Parameters</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Zip Code<span class="classic">Zip code of the planned array's geographical location.</span></label>
				<input type="text" id="zipCode" name="zipCode" pattern="^\d{5}(?:[-\s]\d{4})?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">System Size (kWp-DC)<span class="classic">DC output rating of the solar panels in kilowatts.</span></label>
				<input type="text" id="SystemSize" name="SystemSize" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Projected System Life (years)<span class="classic">How many years you expect the system to last. Up to 100 years.</span></label>
				<input type="text" id="years" name="years" pattern="^(100|\d{1,2})(\.\d+)?$" required="required">
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Financial Variables</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Retail Energy Cost ($/kWh)<span class="classic">Retail rate for residential consumers.</span></label>
				<input type="text" id="retailCost" name="retailCost" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Rate Increase (%)</label>
				<input type="text" id="rateIncrease" name="rateIncrease" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Value of Solar Monthly Rate ($)</label>
				<input type="text" id="valueOfSolarRate" name="valueOfSolarRate" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Metering Type<span class="classic">netEnergyMetering: total cost reduced by total solar gen * retail rate.<br><br>
				production: total cost reduced by total solar gen * wholesale rate.<br><br>
				excessEnergyMetering: total cost reduced by total solar gen * retail rate; but, if generation exceeds demand (over the life of the system), only get paid wholesale rate for the excess.</span></label>
				<select id="meteringType" name="meteringType" required="required"/>
					<option value="netEnergyMetering">Net Energy Metering</option>
					<option value="production">Production</option>
					<option value="excessEnergyMetering">Excess Energy Metering</option>
				</select>
			</div>
			<div class="shortInput">
				<label>Renewables in G&amp;T Fuel Mix (%)</label>
				<input type="text" id="greenFuelMix" name="greenFuelMix" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Rooftop Upfront Costs ($)<span class="classic">Cost of a residential rooftop system varies from $2.75/Wdc to $4.15/Wdc.</span></label>
				<input type="text" id="roofUpfrontCosts" name="roofUpfrontCosts" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Utility Solar Charge ($)</label>
				<input type="text" id="utilitySolarMonthlyCharge" name="utilitySolarMonthlyCharge" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>3rd Party Rate ($)</label>
				<input type="text" id="ThirdPartyRate" name="ThirdPartyRate" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>3rd Party Annual Rate Increase (%)</label>
				<input type="text" id="ThirdPartyRateIncrease" name="ThirdPartyRateIncrease" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Community Solar Upfront Cost ($)</label>
				<input type="text" id="comUpfrontCosts" name="comUpfrontCosts" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Community Solar Monthly Charge ($)</label>
				<input type="text" id="comMonthlyCharge" name="comMonthlyCharge" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Community Solar Rate ($/kWh)</label>
				<input type="text" id="comRate" name="comRate" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput">
				<label>Community Solar Rate Increase (%)</label>
				<input type="text" id="comRateIncrease" name="comRateIncrease" pattern="^\d+\.?\d*$" required="required">
			</div>
			<div class="shortInput" style="width:66.5%">
				<label class="tooltip">Monthly Demand (kWh CSV)<span class="classic">12 comma-separated demand values for each month of a typical year.</span></label>
				<input type="text" id="monthlyDemand" name="monthlyDemand" pattern="^(\d*)(,\d*){11}$" required="required">
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {	
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<script id="globalOutputScripting">
			Highcharts.setOptions({global: { useUTC: false }, credits:{enabled:false} })
			// Clean up the non-ISO date strings we get.
			function dateOb(inStr) {return Date.parse(inStr.replace(/-/g,"/"))}
			pointStart = dateOb(allOutputData.timeStamps[0])
			pointInterval = dateOb(allOutputData.timeStamps[1]) - pointStart
		</script>
		<p class="reportTitle postRun">Lifetime Energy Costs</p>
		<div id="lifetimeCostsReport" class="tightContent postRun">
			<div id="lifetimeCostsChartDiv"></div>
			<script>
				levelCostData = [
					['Base Case',allOutputData.totalCostBaseCase],
					['Community Solar', allOutputData.totalCostComS],
					['3rd Party PPA', allOutputData.totalCost3rdParty],
					['Rooftop Solar', allOutputData.totalCostRoof]]
				levelizedCostChart = new Highcharts.Chart({
					plotOptions:{column:{dataLabels:{enabled:true, format: '{point.y:,.0f}'}, pointPadding:0.2, borderWidth:0}},
					xAxis:{type:'category',tickColor:'gray',lineColor:'gray',crosshair:true},
					yAxis:{title:{text:'Cost ($)'}},
					title:false,
					series:[{name:'Levelized Cost ($/MWh)', color:'green', data:levelCostData}],
					chart:{marginBottom:40,zoomType:'disabled',renderTo:'lifetimeCostsChartDiv',type:'column', marginRight:20, marginBottom:60, marginTop:30, height:300, width:1000, backgroundColor:null},
					tooltip:false,
					legend:false})
			</script>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Cumulative Costs</p>
		<div id="cumulativeCostsReport" class="tightContent postRun">
			<div id="cumulativeCostsChartDiv"></div>
			<script>
				cumulCostChart = new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"pointStart":pointStart,"shadow":false,"pointInterval":Date.parse('2012-02-01')-Date.parse('2012-01-01')},"line":{"enableMouseTracking":false, "marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000, "tickColor":"gray","type":"datetime","lineColor":"gray"},
					"rangeSelector":{"selected":1,"enabled":true,"inputDateFormat":'%Y-%m-%d'},
					"title":{"text":null},
					"series": [
						{"color":"black","data":allOutputData['cumulativeBaseCase'],"name":"Base Case"},
						{"color":"red","data":allOutputData['cumulativeComS'],"name":"Community Solar"},
						{"color":"blue","data":allOutputData['cumulative3rdParty'],"name":"3rd Party PPA"},
						{"color":"orange","data":allOutputData['cumulativeRoof'],"name":"Rooftop Solar"}
						],
					"yAxis":{"title":{"text":"Cost ($)","style":{"color":"gray"}},"min":0},
					"chart":{"zoomType":"x","marginBottom":40,"width":1000,"height":250,"marginRight":20,"renderTo":"cumulativeCostsChartDiv","type":"line"},
					"tooltip":{"enabled":false, "valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Detailed Costs By Purchase Type</p>
		<div id="detailedCostsReport" class="tightContent postRun">
			<style>
				table{width:980px; font-size:16; padding:5px;}
				td {padding:2px;}
			</style>
			<table id="detailedCostsTable">
				<thead>
					<th></th>
					<th>Purchase Cost</th>
					<th>Lifetime Cost</th>
					<th>Total Saved<br/> vs. Base</th>
					<th>Average <br/>Monthly Bill</th>
					<th>Energy Cost<br/> ($/kWh)</th>
					<th>Simple <br/>Payback (years)</th>
					<th>Consumption <br/>From Renewables (%)</th>
				</thead>
			</table>
			<script>
				function insertMetric(tableId, name, vector) {
					// Add a vector to a table as a row.
					table = gebi(tableId)
					newRow = table.insertRow()
					newRow.insertCell().innerHTML = name
					for (i=0; i<vector.length; i++) {
						if (vector[i] == -1) {
							cell = newRow.insertCell()
							cell.innerHTML = "None"
						}
						else{
							cell = newRow.insertCell()
							cell.innerHTML = delimitNumbers(vector[i].toFixed(2))
						}
					}
				}
				insertMetric("detailedCostsTable","Base Case",[0, allOutputData["totalCostBaseCase"],0, allOutputData["avgMonthlyBillBaseCase"],allOutputData["kWhCostBaseCase"], -1,allInputData["greenFuelMix"]])
				insertMetric("detailedCostsTable","Community Solar",[allInputData["comUpfrontCosts"], allOutputData["totalCostComS"], allOutputData["totalSavedByComS"], allOutputData["avgMonthlyBillComS"],allOutputData["kWhCostComS"], allOutputData["sppComS"], allOutputData["greenElectrons"]])
				insertMetric("detailedCostsTable","Rooftop Solar",[allInputData["roofUpfrontCosts"], allOutputData["totalCostRoof"], allOutputData["totalSavedByRoof"], allOutputData["avgMonthlyBillRoof"],allOutputData["kWhCostRoof"], allOutputData["sppRoof"], allOutputData["greenElectrons"]])
				insertMetric("detailedCostsTable","3rd Party Solar",[0, allOutputData["totalCost3rdParty"],allOutputData["totalSavedBy3rdParty"], allOutputData["avgMonthlyBill3rdParty"],allOutputData["kWhCost3rdParty"], allOutputData["spp3rdParty"], allOutputData["greenElectrons"]])
			</script>
		</div>
		<p class="reportTitle postRun">Hourly Solar Generation</p>
		<div id="powerGenerationReport" class="tightContent postRun">
			<div id="powerTimeSeries"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation":false,"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"enableMouseTracking":false, "marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000, "tickColor":"gray","type":"datetime","lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''} },
					"rangeSelector":{"selected":1,"enabled":true,"inputDateFormat":'%Y-%m-%d'},
					"title":{"text":null},
					"series": [{"marker":{"enabled":false},"color":"red","data":allOutputData.powerOutputAc,"name":"Power Generated"}],
					"yAxis":{"title":{"text":"Power (W)","style":{"color":"gray"}},"plotLines":[{"color": "orange",
						"dashStyle": "ShortDash",
						"width": 2,
						"label":{"text":"Nameplate","align":"right","y":12,"x":0},
						"value": parseFloat(allInputData.systemSize)*1000,"zIndex": 0}],"min":0},
					"chart":{"zoomType":"x","marginBottom":40,"width":1000,"height":250,"marginRight":20,"renderTo":"powerTimeSeries","type":"line"},
					"tooltip":{"enabled":false, "valueDecimals":1},
					"legend":false})
			</script>
		</div>
		<p class="reportTitle postRun">Irradiance</p>
		<div id="irradianceReport" class="tightContent postRun">
			<div id="irradianceChartDiv"></div>
			<script>
				irradianceSeriesData = [
					{"name":"Plane of Array Irradiance","marker":{"enabled":false},"color":"gold","data":allOutputData.climate["Plane of Array Irradiance (W/m^2)"],"visible":true},
					{"name":"Global Horizontal Radiation","marker":{"enabled":false},"color":"goldenrod","data":allOutputData.climate["Global Horizontal Radiation (W/m^2)"],"visible":true} ]
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":true}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}},
					"title":{"text":null},
					"series":irradianceSeriesData,
					"yAxis":{"title":{"text":"Irradiance (W/m^2)","style":{"color":"gray"}}, "min":0},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"irradianceChartDiv","type":"line","marginRight":20, "height":300,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Other Climate Variables</p>
		<div id="climateReport" class="tightContent postRun">
			<div id="climateChartDiv"></div>
			<script>
				climateSeriesData = [
					{"name":"Ambient Temperature (F)","marker":{"enabled":false},"color":"dimgray","data":allOutputData.climate["Ambient Temperature (F)"]},
					{"name":"Cell Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Cell Temperature (F)"]},
					{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]} ]
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}},
					"title":{"text":null},
					"series":climateSeriesData,
					"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}, "min":0},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
	</div>
</body>