<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
	/*Styles will go here*/
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<script src="{{pathPrefix}}/static/d3.v3.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<!-- Global Functions -->
	<script type="text/javascript">
		// Global setting of Highcharts
		Highcharts.setOptions({global: {useUTC: false}})
		// Clean up the non-ISO date strings we get.
		function dateOb(inStr) {return Date.parse(inStr.replace(/-/g,"/"))}
		pointStart = dateOb(allOutputData.timeStamps[0])
		pointInterval = dateOb(allOutputData.timeStamps[1]) - pointStart
		highChartsTemplate = {
			"chart":{"renderTo":"", "marginRight":20, "marginBottom":35, "zoomType":"x"},
			"title":{"text":null},
			"legend":{"layout":"horizontal", "align":"top", "verticalAlign":"top", "x":50, "y":-10, "borderWidth":0},
			"credits":{"enabled":false},
			"xAxis":{"type":"datetime","maxZoom":108000000, "tickColor":"gray","lineColor":"gray"},
			"yAxis":{"title":{"text":null, "style":{"color":"gray"}}},
			"plotOptions":{"line":{"marker":{"enabled":false}}, "series":{"shadow":false, "pointInterval":pointInterval, "pointStart":pointStart}},
			"tooltip":{"valueDecimals":1},
			"series":[]}
		function editFeeder(modelName, feederNum) {
			console.log("modelName:",modelName)
			studyUser = allInputData.user
			window.open("/feeder/" + studyUser + "/" + modelName + "/" + feederNum,  "_blank")
		}
		// Code to make the toggles work:
		$(document).ready(function(){
			$(".toggle").click(function(){
					$(this).parent().next().toggle(500)
			})
		})
	</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-solarEngineering" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" required="required" pattern="^[\w\s]+$"/></td>
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
			</div>
			<div class="shortInput" style="display:none"><!--HACK:pass feeder name back and forth to backend.-->
				<label>feederName1</label>
				<input type="text" id="feederName1" name="feederName1">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/></td>
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/></td>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/></td>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Zip Code<span class="classic">Zip code of the planned array's geographical location. Use 5-digit Zip Code format</span></label>
				<input type="text" id="zipCode" name="zipCode" pattern="[0-9]{5}" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Simulation Length<span class="classic">Number of time steps in the installation. The current range of acceptable values is 3 - 9999.</span></label>
				<input type="number" id="simLength" name="simLength" required="required" min ="3" max = "9999"/>
			</div>
			<div class="shortInput">
				<label>Length Units</label>
				<select id="simLengthUnits" name="simLengthUnits">
					<option value="hours">Hours</option>
					<option value="minutes">Minutes</option>
				</select>
			</div>
			<div class="shortInput">
				<label>Simulation Start Date (YYYY-MM-DD)</label>
				<input type="text" id="simStartDate" name="simStartDate" required="required" pattern="^\d\d\d\d-\d\d-\d\d$"/>
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" class="postRunInline stoppedInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre style='overflow-x: scroll;' id='errorText'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {	
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<p class="reportTitle postRun">Power Consumption From Transmission System <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="powerConsumptionReport" class="tightContent postRun">
			<div id="powerTimeSeries"></div>
			<script type="text/javascript">
				// power series data
				var powerSeries = {
					"marker":{
						"enabled":false
					},
					"color":"red",
					"data":allOutputData.Consumption.Power,
					"name":"Substation Powerflow (W)"
				}
				var lossesSeries = {
					"marker":{
						"enabled":false
					},
					"color":"orangered",
					"data":allOutputData.Consumption.Losses,
					"name":"Technical Losses (W)",
					"visible": false
				}
				var DGSeries = {
					"marker":{
						"enabled":false
					},
					"color":"seagreen",
					"data":allOutputData.Consumption.DG,
					"name":"DG Power (W)",
					"visible": false
				}
				var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
				localHighChart["chart"]["renderTo"] = "powerTimeSeries"
				localHighChart["chart"]["type"] = "line"
				localHighChart["chart"]["width"] = 1000
				localHighChart["chart"]["height"] = 150
				localHighChart["series"] = [powerSeries, lossesSeries, DGSeries]
				localHighChart["yAxis"]= [{"title":{"text": "Power (W)", "style": {"color": "gray"}}}]
				new Highcharts.Chart(localHighChart);
			</script>
		</div>
		<p class="reportTitle postRun">Transmission Voltage <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="swingVoltageReport" class="tightContent postRun">
			<div id="voltageTimeSeries"></div>
			<script type="text/javascript">
				swingPointStart = dateOb(allOutputData.swingTimestamps[0])
				swingPointInterval = dateOb(allOutputData.swingTimestamps[1]) - pointStart
				swingHighChartsTemplate = {
				"chart":{"renderTo":"", "marginRight":20, "marginBottom":35, "zoomType":"x"},
				"title":{"text":null},
				"legend":{"layout":"horizontal", "align":"top", "verticalAlign":"top", "x":50, "y":-10, "borderWidth":0},
				"credits":{"enabled":false},
				"xAxis":{"type":"datetime","maxZoom":108000000, "tickColor":"gray","lineColor":"gray"},
				"yAxis":{"title":{"text":null, "style":{"color":"gray"}}},
				"plotOptions":{"line":{"marker":{"enabled":false}}, "series":{"shadow":false, "pointInterval":swingPointInterval, "pointStart":swingPointStart}},
				"tooltip":{"valueDecimals":1},
				"series":[]}
				var swingVoltage = {
					"marker":{
						"enabled":false
					},
					"color":"blue",
					"data":allOutputData.swingVoltage,
					"name":"Transmission Voltage (V)",
					"visible":true
				}
				var downlineNodeVolts = {
					"marker":{
						"enabled":false
					},
					"color":"orange",
					"data":allOutputData.downlineNodeVolts,
					"name":"First Node after Regulator (V)",
					"visible":true
				}
				var localHighChart = JSON.parse(JSON.stringify(swingHighChartsTemplate))
				localHighChart["chart"]["renderTo"] = "voltageTimeSeries"
				localHighChart["chart"]["type"] = "line"
				localHighChart["chart"]["width"] = 1000
				localHighChart["chart"]["height"] = 150
				localHighChart["series"] = [swingVoltage, downlineNodeVolts]
				localHighChart["yAxis"]= [{"title":{"text":"Voltage (V)","style":{"color":"black"}},"plotLines": [
							{"color": 'gray', "dashStyle": 'ShortDash', "width": 2, "value": allOutputData.minVoltBand, "zIndex": 0},
							{"color": 'gray', "dashStyle": 'ShortDash', "width": 2, "value": allOutputData.maxVoltBand, "zIndex": 0}]}]
				new Highcharts.Chart(localHighChart);
			</script>
		</div>
		<p class="reportTitle postRun">Substation Power Factor <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="substationPowerFactorReport" class="tightContent postRun">
			<div id="powerFactorTimeSeries"></div>
			<script type="text/javascript">
				swingPointStart = dateOb(allOutputData.swingTimestamps[0])
				swingPointInterval = dateOb(allOutputData.swingTimestamps[1]) - pointStart
				swingHighChartsTemplate = {
				"chart":{"renderTo":"", "marginRight":20, "marginBottom":35, "zoomType":"x"},
				"title":{"text":null},
				"legend":{"layout":"horizontal", "align":"top", "verticalAlign":"top", "x":50, "y":-10, "borderWidth":0},
				"credits":{"enabled":false},
				"xAxis":{"type":"datetime","maxZoom":108000000, "tickColor":"gray","lineColor":"gray"},
				"yAxis":{"title":{"text":null, "style":{"color":"gray"}}},
				"plotOptions":{"line":{"marker":{"enabled":false}}, "series":{"shadow":false, "pointInterval":swingPointInterval, "pointStart":swingPointStart}},
				"tooltip":{"valueDecimals":1,"pointFormat":"{point.y:.5f}"},
				"series":[]}
				var swingPF = {
					"marker":{
						"enabled":false
					},
					"color":"blue",
					"data":allOutputData.powerFactors,
					"name":"Power Factor",
					"visible":true
				}
				var localHighChart = JSON.parse(JSON.stringify(swingHighChartsTemplate))
				localHighChart["chart"]["renderTo"] = "powerFactorTimeSeries"
				localHighChart["chart"]["type"] = "line"
				localHighChart["chart"]["width"] = 1000
				localHighChart["chart"]["height"] = 150
				localHighChart["series"] = [swingPF]
				localHighChart["yAxis"]= [{"title":{"text":"Per Unit (PU)","style":{"color":"black"}},"min":0,"max":1}]
				new Highcharts.Chart(localHighChart);
			</script>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Energy Balance <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="newEnergyBalanceReport" class="tightContent postRun">
			<script type="text/javascript">
				function arrSum(arr) {
					myVal = eval(arr.join("+"))
					if (typeof myVal == "undefined") {return 0} else {return myVal}
				}
				tPower = eval(allOutputData.Consumption.Power.join("+"))
				tLosses = eval(allOutputData.Consumption.Losses.join("+"))
				tDG = eval(allOutputData.Consumption.DG.join("+"))
				tLoads = tPower + tDG - tLosses
				dgExported = []
				fromGrid = []
				for (i = 0; i < allOutputData.Consumption.Power.length; i++) {
					curVal = allOutputData.Consumption.Power[i]
					if (curVal < 0) {dgExported.push(curVal)} else {fromGrid.push(curVal)}
				}
				tDGExported = arrSum(dgExported)
				tFromGrid = arrSum(fromGrid)
				tDGDirect = tLoads + tLosses - tFromGrid
				// Series formatting.
				tLossesSeries = {"pointWidth": 40,  "color":"orangered", "data":[0,tLosses], "type":"bar", "name":"Losses"}
				tLoadsSeries = {"pointWidth": 40, "color":"darkorange", "data":[0,tLoads], "type":"bar", "name":"Loads"}
				tDGSeries = {"pointWidth": 40, "color":"seagreen", "data":[], "type":"bar", "name":"DG"}
				tFromGridSeries = {"pointWidth": 40,  "color":"Red", "data":[tFromGrid,0], "type":"bar", "name":"FromGrid"}
				tDGDirectSeries = {"pointWidth": 40, "color":"RoyalBlue", "data":[tDGDirect,0], "type":"bar", "name":"DGDirect"}
				tDGExportedSeries = {"pointWidth": 40, "color":"LightSeaGreen", "data":[tDGExported,0], "type":"bar", "name":"DG Exported"}
				tDGSeries["data"].push(tDG)
				localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
				localHighChart["chart"]["renderTo"] = "newEnergyBalanceReport"
				localHighChart["chart"]["inverted"] = false
				localHighChart["chart"]["height"] = 250
				localHighChart["chart"]["width"] = 1000
				localHighChart["chart"]["marginBottom"] = 50
				localHighChart["series"] = [tFromGridSeries,tDGDirectSeries,tDGExportedSeries,tLossesSeries,tLoadsSeries]
				localHighChart["xAxis"] = {
					"tickColor":"gray",
					"lineColor":"gray",
					"categories":["Source","Destination"]
					}
				localHighChart["yAxis"] = {"title": {"text": 'Energy (Wh)',"style":{"color":"gray"},"offset":20}},
				localHighChart["plotOptions"] = {
					"bar":{"stacking":"normal"},
				}

				new Highcharts.Chart(localHighChart);
			</script>
		</div>
			<p class="reportTitle postRun" style="">Regulator Tap Changes <a target="_self" class="toggle">Hide / Show</a></p>
			<div id="newRegulatorReport" class="tightContent postRun">
				<script type="text/javascript">

					var regNamesArray=[]
					for (var key in allOutputData)
					{
	  					if (key.indexOf('Regulator') === 0)
	  					{
	  						regName = "allOutputData.".concat(key);
	  						regNamesArray.push(regName)
						}

					}
					if (regNamesArray.length == 0){
							$("#newRegulatorReport").html("<p>&#160;&#160;&#160;No Regulators were found on the feeder.</p>")
						}
					for (var i in regNamesArray){
						reg = regNamesArray[i]
						$("<div/>").appendTo("#newRegulatorReport")
							.attr("class", "regContainer")
							.attr("id", reg)
						$("<div/>").appendTo("#newRegulatorReport")
							.attr("id", "regulatorSeries_" + reg)
						// if no regulators are found, display message
	  					
						
						var reg1ATSeries = {
							"pointWidth": 40,
							"pointInterval": 3 * 3600 * 100,
							"color":"RoyalBlue",
							"data":eval(regNamesArray[i].concat(".RegTapA")),
							"name":"A",
						}

						var reg1BTSeries = {
							"pointWidth": 40,
							"pointInterval": 3 * 3600 * 100,
							"color":"Red",
							"data":eval(regNamesArray[i].concat(".RegTapB")),
							"name":"B",
						}
						var reg1CTSeries = {
							"pointWidth": 40,
							"pointInterval": 3 * 3600 * 100,
							"color":"Green",
							"data":eval(regNamesArray[i].concat(".RegTapC")),
							"name":"C",
						}
					}
						phaseValue= eval(reg.concat(".RegPhases"))
						var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
						localHighChart["chart"]["renderTo"] = "regulatorSeries_" + reg
						localHighChart["chart"]["inverted"] = false
						localHighChart["chart"]["height"] = 150
						localHighChart["chart"]["width"] = 1000
						localHighChart["chart"]["type"] = "line"
						localHighChart["title"]["text"] = reg.substr(14)
						localHighChart["series"] = []
						localHighChart["xAxis"] = { "type":"datetime",
							"tickColor":"gray",
							"lineColor":"gray",
							}
						localHighChart["yAxis"] = {"min": -17, "max" : 17,
							//"startOnTick": "false",
							"title":{ "text": "Tap position",
								"style":{
									"color":"gray"
								}
							}
						}
						localHighChart["plotOptions"] = {
							//"bar":{"stacking":"normal", "shadow":false},
						}
						chart = new Highcharts.Chart(localHighChart);
						if(phaseValue.indexOf('A') != -1)
						{
	  						chart.addSeries(reg1ATSeries)
	  					}
	  					if(phaseValue.indexOf('B') != -1)
						{
	  						chart.addSeries(reg1BTSeries)
						}
						if(phaseValue.indexOf('C') != -1)
						{
	  						chart.addSeries(reg1CTSeries)
	  					}


				</script>
			</div>
			<p class="reportTitle postRun">Cap Bank Activation <a target="_self" class="toggle">Hide / Show</a></p>
			<div id="newCapbankReport" class="tightContent postRun">
				<script type="text/javascript">
					var capNamesArray=[]
					for (var key in allOutputData)
					{

		  				if (key.indexOf('Capacitor') === 0)
		  				{
		  					capName = "allOutputData.".concat(key);
		  					capNamesArray.push(capName)
						}
					}
					if (capNamesArray.length == 0){
							$("#newCapbankReport").html("<p>&#160;&#160;&#160;No Capacitors were found on the feeder.</p>")
						}
					for (var i in capNamesArray)
					{
						cap= capNamesArray[i]
						//$("<div/>").appendTo("#newCapbankReport")
						//	.attr("id", "capacitorSeries")
						$("<div/>").appendTo("#newCapbankReport")
							.attr("class", "capContainer")
							.attr("id", cap)
						// if no regulators are found, display message
	  					
						$("<div/>").appendTo("#newCapbankReport")
							.attr("id", "capacitorSeries_" + cap)
						var cap1BSeries = {
							"pointWidth": 40,
							"pointInterval": 3 * 3600 * 100,
							"color":"Red",
							"data":eval(capNamesArray[i].concat(".Cap1B")),
							"name":"B"
						}
						var cap1ASeries = {
							"pointWidth": 40,
							"pointInterval": 3 * 3600 * 100,
							"color":"RoyalBlue",
							"data":eval(capNamesArray[i].concat(".Cap1A")),
							"name":"A"
						}
						var cap1CSeries = {
							"pointWidth": 40,
							"pointInterval": 3 * 3600 * 100,
							"color":"Green",
							"data":eval(capNamesArray[i].concat(".Cap1C")),
							"name":"C"
						}
						phaseValue= eval(cap.concat(".CapPhases"))
						var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
						localHighChart["chart"]["renderTo"] = "capacitorSeries_" + cap
						localHighChart["chart"]["inverted"] = false
						localHighChart["chart"]["height"] = 150
						localHighChart["chart"]["width"] = 1000
						localHighChart["chart"]["type"] = "column"
						localHighChart["title"]["text"] = cap.substr(14)
						localHighChart["series"] = []
						localHighChart["xAxis"] = {
							"type":"datetime",
							"tickColor":"gray",
							"lineColor":"gray",
							}
						localHighChart["yAxis"] = {"min": 0, "max" : 3,
							"startOnTick": "false",
							"tickInterval":1,
							"title":{ "text": "1 = Active",
								"style":{
									"color":"gray"
								}
							}
						}
						localHighChart["plotOptions"] = {
							"column":{"stacking":"normal", "shadow":false},
						}
						localHighChart["chart"]["title"] = {"align":"center","text":"CapCHART",}
						chart = new Highcharts.Chart(localHighChart);
						if(phaseValue.indexOf('A') != -1)
						{
	  						chart.addSeries(cap1ASeries)
	  					}
	  					if(phaseValue.indexOf('B') != -1)
						{
	  						chart.addSeries(cap1BSeries)
						}
						if(phaseValue.indexOf('C') != -1)
						{
	  						chart.addSeries(cap1CSeries)
	  					}
					}
				</script>
			</div>
		<p class="reportTitle postRun" style="">Triplex Meter Voltages <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="triplexMeterVoltageReport" class="tightContent postRun">
			<div id="triplexMeterVoltageChart"></div>
			<script type="text/javascript">
					triplexSeriesData = [
						{"marker": {"enabled":false}, "color":"LightBlue", "data":allOutputData.allMeterVoltages.Min, "name":"Min"},
						{"marker":{"enabled":false}, "color":"blue", "data":allOutputData.allMeterVoltages.Mean, "name":"Mean"},
						{"marker":{"enabled":false}, "color":"LightBlue", "data":allOutputData.allMeterVoltages.Max, "name":"Max"}]
					var localHighChart = JSON.parse(JSON.stringify(highChartsTemplate))
					localHighChart["chart"]["renderTo"] = "triplexMeterVoltageChart"
					localHighChart["chart"]["width"] = 1000
					localHighChart["chart"]["height"] = 200
					localHighChart["chart"]["type"] = "line"
					localHighChart["series"] = triplexSeriesData
					localHighChart["yAxis"] = {
						"maxRange":20,
						"plotLines": [
							{"color": 'gray', "dashStyle": 'ShortDash', "width": 2, "value": 114, "zIndex": 0},
							{"color": 'gray', "dashStyle": 'ShortDash', "width": 2, "value": 126, "zIndex": 0}],
						"title":{"text":"Volts (V)", "style":{"color":"gray"}}}
					new Highcharts.Chart(localHighChart)
			</script>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">System Voltage Map <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="systemVoltageMap" class="tightContent postRun" style="height:1030px">
			<video width="1000" height="1000" controls preload="auto">
				<source id="timeTravelMovie" src="" type="video/mp4" codecs="h264">
				Your browser does not support the video tag.
				{% if pathPrefix == "" %}
				<script>gebi("timeTravelMovie").src = "/downloadModelData/"+allInputData.user+"/"+allInputData.modelName+"/voltageChart_"+allOutputData.mapTimestamp+".mp4"</script>
				{% else %}
				<script>gebi("timeTravelMovie").src = "{{pathPrefix}}/data/Model/"+allInputData.user+"/"+allInputData.modelName+"/voltageChart_"+ allOutputData.mapTimestamp +".mp4"</script>
				{% endif %}
			</video>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Solar Data <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="irradianceReport" class="tightContent postRun">
			<div id="irradianceChartDiv"></div>
			<script>
				irradianceSeriesData = [
					{"name":'Global Horizontal',"marker":{"enabled":false},"color":"gold","data":allOutputData.climate['Global Horizontal (W/sm)'],"visible":true}]
				new Highcharts.Chart({
					"credits":{"enabled":false},
					"plotOptions":{
						"series":{"animation": false, "pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},
						"line":{"marker":{"enabled":true}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series":irradianceSeriesData,
					"yAxis":{"title":{"text":"Irradiance ( W / m^2 )","style":{"color":"gray"}}, "min":0},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"irradianceChartDiv","type":"line","marginRight":20, "height":300,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Other Climate Variables <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="climateReport" class="tightContent postRun">
			<div id="climateChartDiv"></div>
			<script type="text/javascript">
				climateSeriesData = [
					{"name":"Wind Speed (m/s)","marker":{"enabled":false},"color":"darkgray","data":allOutputData.climate["Wind Speed (m/s)"]},
					{"name":"Temperature (F)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Temperature (F)"]},
					{"name":"Snow Depth (in)","marker":{"enabled":false},"color":"gainsboro","data":allOutputData.climate["Snow Depth (in)"]}]
				new Highcharts.Chart({
					"credits":{"enabled":false},
					"plotOptions":{
						"series":{"pointStart":pointStart,"shadow":false,"pointInterval":pointInterval},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,"tickColor":"gray","type":"datetime","lineColor":"gray"},
					"title":{"text":null},
					"series":climateSeriesData,
					"yAxis":{"title":{"text":"Climate Units","style":{"color":"gray"}}},
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"climateChartDiv","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Study Details <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="studyDetails" class="tightContent postRun detailsContainer" style="position: relative;">
			<div id="mapHere" style="width:495px; height:340px; display:inline-block"></div>
			<script type="text/javascript">
				width = 495, height = 340
				projection = d3.geo.albersUsa().scale(600).translate([width/2, height/2])
				path = d3.geo.path()
					.projection(projection)
				svg = d3.select("#mapHere").append("svg")
					.attr("width", width)
					.attr("height", height)
				group = svg.append("g")
				group.attr("transorm", "scale(.2, .2)")
				d3.json("{{pathPrefix}}/static/state_boundaries.json", function(collection) {
					group.selectAll('path')
						.data(collection.features)
						.enter().append('path')
						.attr('d', d3.geo.path().projection(projection))
						.attr('id', function(d){return d.properties.name.replace(/\s+/g, '')})
						.style('fill', 'gray')
						.style('stroke', 'white')
						.style('stroke-width', 1)})
				d3.json("{{pathPrefix}}/static/city_locations.json", function(new_us_places){
					climate = allInputData.climateName
					ST_NAME = climate.split("-")
					ST = ST_NAME[0]
					NAME = ST_NAME[1].replace("_"," ")
					my_coords = projection(new_us_places[ST][NAME])
					r = 5
					circle = svg.append("circle")
						.attr("cx", my_coords[0])
						.attr("cy", my_coords[1])
						.attr("r", 5)
						.attr("class", "HighlightCircle")
					circle.append("svg:title").text(climate)})
			</script>
			<div id="runtimeStatsReport" style="width:495px; height:340px; margin:5 0 0 0; overflow-y:scroll; overflow-x:hidden; display:inline-block; vertical-align:top">
				<pre id="stdout" style="font-size:13px; text-align:left"></pre>
			</div>
			<script>gebi("stdout").innerHTML = allOutputData.stdout</script>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Gridlab-D Warnings <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="gridlabDWarningsBlock" class="tightContent postRun detailsContainer" style="position: relative;">
				<pre id="stderr" style="font-size:13px; text-align:left; padding-left: 10px;overflow-x: scroll; overflow-y: scroll; width: 100%"></pre>
			<script>gebi("stderr").innerHTML = allOutputData.stderr</script>
		</div>
		<p class="reportTitle postRun">Gridlab-D Violation Summary <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="gridlabDViolationSummary" class="tightContent postRun detailsContainer" style="position: relative;">
				<pre id="vioSum" style="font-size:13px; text-align:left; padding-left: 10px;overflow-x: scroll; overflow-y: scroll; width: 100%"></pre>
			<script>gebi("vioSum").innerHTML = allOutputData.violationSummary</script>
		</div>
		<p class="reportTitle postRun">Gridlab-D Violation Log <a target="_self" class="toggle">Hide / Show</a></p>
		<div id="gridlabDViolationLog" class="tightContent postRun detailsContainer" style="position: relative;">
				<pre id="vioLog" style="font-size:13px; height: 400px; text-align:left; overflow-x: scroll; overflow-y: scroll; width: 100%"></pre>
			<script>gebi("vioLog").innerHTML = allOutputData.violationLog</script>
		</div>
	</div>
</body>