
<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		#Metric {
			font-weight:bold;
			width:175px;
		}
		#SPP {
			font-weight:bold;
		}
		#tableHead {
			margin-top:20px;
		}
		/*File Styles*/
		#fileBackground{position:absolute;width:205px;max-width:205px;height:29px;margin: -30px 0 0 116px;background-color:gainsboro;}
		#fileExists {
			background-color:transparent;
			max-width:185px;
			overflow-x:auto;
			overflow-y:hidden;
			height:35px;
			margin:-32px 0 0 116px;
			position:absolute;
			font-size:0.8em;
			z-index:1;
		}
		#demandCurveFileName {line-height:35px;}
		input[type='file'] {
		  color: transparent;
		}
		/*IE Hacks*/
		@media screen\0 {
			#fileBackground{margin-left:0px;width:222px;max-width:222px;height:29px;}
			#fileExists{margin: -27px 0 0 10px;height:42px;}
		}
		/*Firefox Hacks*/
		@-moz-document url-prefix() {
			#fileBackground{margin-left:125px;width:195px;max-width:195px;}
			#fileExists{max-width:175px;margin:-32px 0 0 135px;height:47px;}
		 }
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-storageArbitrage" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline ">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Economic Variables</p>
			</div>
			<hr>
			<div class="shortInput">
				<label>Unit Capacity (kWh-AC)</label>
				<input type="text" id="cellCapacity" name="cellCapacity" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Charge Rating (kW)</label>
				<input type="text" id="chargeRate" name="chargeRate" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Discharge Rating (kW)</label>
				<input type="text" id="dischargeRate" name="dischargeRate" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Unit Quantity</label>
				<input type="text" id="cellQuantity" name="cellQuantity" required="required" pattern="^\d+$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Maximum Depth of Discharge (%)<span class="classic">The maximum safe discharge capacity of the battery system, typically between 80% - 90%.</span></label>
				<input type="text" id="dodFactor" name="dodFactor" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Battery Round Trip Efficiency (%)<span class="classic">The efficiency of the DC battery system, to be used with the Inverter efficiency to get Battery System AC Round Trip Efficiency equal to this value times <i>Inverter Efficiency &amp; Transformer Efficiency</i> &#178;</span></label>
				<input type="text" id="batteryEfficiency" name="batteryEfficiency" required="required" pattern="^\d+\.?\d*?$">
			</div>
			<div class="shortInput">
				<label class="tooltip">Inverter &amp; Transformer Efficiency (%)<span class="classic">Combined Inverter and Transformer Efficiency in converting DC power to AC power. Used in the Battery System AC Round Trip Efficiency calculation. The Inverter efficiency is obtained from the Weighted Efficiency (CEC) Method.</span></label>
				<input type="text" id="inverterEfficiency" name="inverterEfficiency" pattern="^(100|\d\d|\d)(\.\d+)?$" required="required" >
			</div>
			<div class="shortInput">
				<label>Unit Cost (installed)</label>
				<input type="text" id="cellCost" name="cellCost" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Battery Cycles in Lifetime</label>
				<input type="text" id="batteryCycleLife" name="batteryCycleLife" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label>Financial Projection Length (years)</label>
				<input type="text" id="projYears" name="projYears" required="required" pattern="^\d+$"/>
			</div>
			<div class="shortInput">
				<label>Discount Rate (%)</label>
				<input type="text" id="discountRate" name="discountRate" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Demand Curve (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<input id="demandCurveFile" type="file" style="display:none" onchange="handle_files(this.files,'demandCurve','fileName')">
				<input id="demandCurve" name="demandCurve" type="hidden">
				<div>
					<label for="demandCurveFile" class="fileButton">Choose File</label>
					<input id="fileName" name="fileName" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="wideInput">
				<p class="inputSectionHeader">Time Of Use Price Information</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Price Curve (.csv file)<span class="classic">Please see the documentation at the help link for the required format.</span></label>
				<input id="priceCurveFile" type="file" style="display:none" onchange="handle_files(this.files,'priceCurve','priceFileName')">
				<input id="priceCurve" name="priceCurve" type="hidden">
				<div>
					<label for="priceCurveFile" class="fileButton">Choose File</label>
					<input id="priceFileName" name="priceFileName" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label></label>
				<label class="tooltip">Price Threshold for Discharge ($)<span class="classic">The model discharges the battery when the current price is greater than this value.</span></label>
				<input type="text" id="dischargePriceThreshold" name="dischargePriceThreshold" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Price Threshold for Charge ($)<span class="classic">The model charges the battery when the current price is less than this value.</span></label>
				<input type="text" id="chargePriceThreshold" name="chargePriceThreshold" required="required" pattern="^\d+\.?\d*?$"/>
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {	
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<script id="globalOutputScripting">
			function insertMetric(tableId, name, vector) {
				// Add a vector to a table as a row.
				table = gebi(tableId)
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = "<div id=\"metric\">" + name + "</div>"
				for (i=0; i<vector.length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = delimitNumbers(vector[i].toFixed(0))
				}
			}
		</script>
		<script id="globalOutputScripting">
			function insertDollarMetric(tableId, name, vector) {
				// Add a vector to a table as a row.
				table = gebi(tableId)
				newRow = table.insertRow()
				newRow.insertCell().innerHTML = "<div id=\"metric\">" + name + "</div>"
				for (i=0; i<vector.length; i++) {
					cell = newRow.insertCell()
					cell.innerHTML = "$" + delimitNumbers(vector[i].toFixed(0))
				}
			}
		</script>
		<p class="reportTitle postRun">Monthly Cost Comparison</p>
		<div id="levelizedCostReport" class="tightContent postRun">
			<div id="levelizedCostTableDiv" style="display:inline-block; width:1000px">
				<table id="monthlySummaryTable" style="margin:5px;width:990px">
					<style>td, th {padding:7 0 5 20;text-align: left;font-size:0.7em;}</style>
					<div id="tableHead">
						<thead>
							<th></th>
							<th>Jan</th>
							<th>Feb</th>
							<th>Mar</th>
							<th>Apr</th>
							<th>May</th>
							<th>Jun</th>
							<th>Jul</th>
							<th>Aug</th>
							<th>Sep</th>
							<th>Oct</th>
							<th>Nov</th>
							<th>Dec</th>
						</thead>
					</div>
				</table>
				<script>
					// insertMetric("monthlySummaryTable","Existing Demand (kW)", allOutputData.monthlyDemand)
					insertMetric("monthlySummaryTable","Energy Offset(kW)", allOutputData.energyOffset)
					insertMetric("monthlySummaryTable","Energy to Recharge (kWh)", allOutputData.kWhtoRecharge)
					insertDollarMetric("monthlySummaryTable","Energy Offset Savings ($)", allOutputData.dischargeSavings)
					insertDollarMetric("monthlySummaryTable","Cost to Recharge Battery ($)", allOutputData.costToRecharge)
					insertDollarMetric("monthlySummaryTable","Net Benefit ($)", allOutputData.benefitNet)
				</script>
				<script>
					table = gebi("monthlySummaryTable")
					newRow = table.insertRow()
					newRow.insertCell().innerHTML = ""
					newRow = table.insertRow()
					newRow.insertCell().innerHTML = "<div id=\"SPP\">Financial Calculations:</div>"
					newRow.insertCell().innerHTML = "<div id=\"SPP\">NPV:</div>"
					cell = newRow.insertCell()
					cell.innerHTML = "$" + delimitNumbers(allOutputData.NPV.toFixed(0))
					cell = newRow.insertCell()
					cell.innerHTML + ""
					newRow.insertCell().innerHTML = "<div id=\"SPP\">SPP:</div>"
					cell = newRow.insertCell()
					cell.innerHTML = delimitNumbers(allOutputData.SPP.toFixed(3))
				</script>
			</div>
		</div>
		<script type="text/javascript">
			// Global Highcharts settings.
			Highcharts.setOptions({global:{useUTC:true}})
		</script>
		<p class="reportTitle postRun" style="page-break-before:always">Demand Before and After Storage</p>
		<div id="irradianceReport" class="tightContent postRun">
			<div id="demandBattChart"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							"pointStart":Date.parse(allOutputData.startDate),
							"shadow":false,
							"pointInterval":3600000},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,
						"tickColor":"#D3D3D3",
						"tickLength":-680,
						"type":"datetime",
						"lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}
					},
					"yAxis":{
						"title":{"text":"Power (W)","style":{"color":"gray"}},
						"min":0,
						"minorTickColor":"gray", "minorTickInterval":"auto",
						"plotLines":[{"color": "lightgray",
						"dashStyle": "ShortDash",
						"width": 2,
						"label":{"text":"Max Power:" + delimitNumbers(allOutputData.batteryDischargekWMax.toFixed(3)/1000) + "kW", "align":"right","y":-5,"x":-790, "style":{"color":"gray", "fontsize":"12px"}},
						"value": allOutputData.batteryDischargekWMax,"zIndex": 10}],"min":-1},
					"title":{"text":null},
					"series":[
						{"name":"Historical","marker":{"enabled":false},"color":"red","data":allOutputData.demand,"enableMouseTracking":false},
						{"name":"After Storage","marker":{"enabled":false},"color":"purple","data":allOutputData.demandAfterBattery,"enableMouseTracking":false},
						{"name":"Storage Discharge","marker":{"enabled":false},"color":"lightgray","data":allOutputData.batteryDischargekW}],
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"demandBattChart","type":"line","marginRight":20, "height":750,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun">Battery State of Charge</p>
		<div id="irradianceReport" class="tightContent postRun">
			<div id="batterySocChart"></div>
			<script>
				var dodFactor = 100 - parseFloat(allInputData.dodFactor)
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							"pointStart":Date.parse(allOutputData.startDate),
							"shadow":false,
							"pointInterval":3600000},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,
						"tickColor":"#D3D3D3",
						"tickLength":-205,
						"type":"datetime",
						"lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}
					},
					"yAxis":
						{"title":{"text":"SoC (%)","style":{"color":"gray"}}, "min":0, "max":100,
						"minorTickColor":"gray", "minorTickInterval":5,
						"plotLines":[{"color": "gray",
						"dashStyle": "ShortDash",
						"width": 2,
						"label":{"text":"Max specified DOD:" + (100 - allInputData.dodFactor) + "%","align":"right","y":-5,"x":-775, "style":{"color":"gray", "fontsize":"12px"}},
						"value": dodFactor,"zIndex": 10}],"min":0},
					"title":{"text":"Cycle Equivalents:" + delimitNumbers(allOutputData.cycleEquivalents.toFixed(1))+ "  Battery Life:" + delimitNumbers(allOutputData.batteryLife.toFixed(1)) + " yrs", "verticalAlign":"bottom", "align":"right", "y":-28-dodFactor*2, "x":-10, "style":{"color":"#333333", "fontSize":"12px"}},
					"series":[
						{"name":"Battery SoC","marker":{"enabled":false},"color":"gray","data":allOutputData.batterySoc}
						],
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"batterySocChart","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<!-- TODO: Make into preview graph: http://jsfiddle.net/gh/get/jquery/1.7.2/highslide-software/highcharts.com/tree/master/samples/stock/xaxis/minorticks/	 -->
		<!-- TEST AREA BEGIN -->
		<p class="reportTitle postRun">Price Input</p>
		<div id="Price Input" class="tightContent postRun">
			<div id="priceChart"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							"pointStart":Date.parse(allOutputData.startDate),
							"shadow":false,
							"pointInterval":3600000},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{"maxZoom":108000000,
						"tickColor":"#D3D3D3",
						"tickLength":-205,
						"type":"datetime",
						"lineColor":"gray",
						"dateTimeLabelFormats":{ month: '%b', year: ''}
					},
					"yAxis":
						{"title":{"text":"Price Point ($/kWh)","style":{"color":"gray"}}, "min":0, 
						"minorTickColor":"gray", "minorTickInterval":5,
						"min":0},
					"title":{"text":null},
					"series":[
						{"name":"Price Curve","marker":{"enabled":false},"color":"gray","data":allOutputData.price}
						],
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"priceChart","type":"line","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":2},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<!-- TEST AREA END. -->
		<p class="reportTitle postRun" style="page-break-before:always">Cash Flow</p>
		<div id="cashFlowReport" class="tightContent postRun">
			<div id="cashFlowChartDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"column":{"stacking":'normal'},"series":{"animation":false,"shadow":false},"spline":{"animation":false,"shadow":false}},
					"xAxis":{"title":{"text":"Year After Installation","style":{"color":"gray"}},"type":"linear","tickColor":"gray","tickInterval":1,"lineColor":"gray","minorTickColor":"gray", "minorTickInterval":5},
					"title":{"text":"NPV:$" + delimitNumbers(allOutputData.NPV.toFixed(0)) + "; SPP:" + allOutputData.SPP.toFixed(3) + ": LCOE: " + allOutputData.LCOE.toFixed(2) +"$/kWh", "verticalAlign":"bottom", "align":"right", "y":-50, "x":-10, "style":{"color":"#333333", "fontSize":"12px"}},
					"series":[{"name":"Net Benefits", "data":allOutputData.netCashflow},
						{"name":"Cumulative Return", "type":"spline", "data":allOutputData.cumulativeCashflow}
					],
					"yAxis":{"title":{"text":"Income ($)","style":{"color":"gray"}}},
					"chart":{"marginBottom":55,"zoomType":"x","renderTo":"cashFlowChartDiv","type":"column","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
	</div>
</body>