<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		table {width: 80%;margin-left:auto; margin-right:auto;}
		td {padding:2px; text-align: center;border-top: 1px solid #ccc;}
		th {padding:2px; text-align: center}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<!-- Required Inputs -->
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-vbatDispatch" target="blank" style="font-weight:bold">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline ">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<!-- Model Specific Inputs -->
			<div class="wideInput">
				<p class="inputSectionHeader">Simulation Specs</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Load Type<span class="classic">Device to be used in calculations</span></label>
				<select id="load_type" onchange="loadDefaultParameters()" name="load_type">
				<script type="text/javascript">
					function loadDefaultParameters(){
						var x = gebi('load_type').value;
						if (x == 1){ //AC
							gebi('capacitance').value = '2';
							gebi('resistance').value = '2';
							gebi('power').value = '5.6';
							gebi('cop').value = '2.5';
							gebi('deadband').value = '0.625';
							gebi('setpoint').value = '22.5';
						} else if (x == 2){ //HP
							gebi('capacitance').value = '2';
							gebi('resistance').value = '2';
							gebi('power').value = '5.6';
							gebi('cop').value = '3.5';
							gebi('deadband').value = '0.625';
							gebi('setpoint').value = '19.5';
						} else if (x == 3) { //RG
							gebi('capacitance').value = '0.6';
							gebi('resistance').value = '90';
							gebi('power').value = '0.3';
							gebi('cop').value = '2';
							gebi('deadband').value = '1.5';
							gebi('setpoint').value = '2.5';
						} else { //WH
							gebi('capacitance').value = '0.4';
							gebi('resistance').value = '120';
							gebi('power').value = '4.5';
							gebi('cop').value = '1';
							gebi('deadband').value = '3';
							gebi('setpoint').value = '48.5';
						}
					}
				</script>
					<option value="1">Air Conditioner</option>
					<option value="2">Heat Pump</option>
					<option value="3">Refrigerator</option>
					<option value="4">Water Heater</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Number of Devices<span class="classic">Total number of devices to simulate. Must be greater than 99</span></label>
				<input type="text" id="number_devices" name="number_devices" pattern="[1-9][0-9]{2,8}" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Rated Power (kW)<span class="classic">Max power per device. Must be a positive rational number between 0.1 and 7.2.</span></label>
				<input type="text" id="power" name="power" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Thermal Capacitance (kWh/&degC)<span class="classic">Capacitance of each device. Must be between 0.2 and 2.5 with exactly one decimal digit.</span></label>
				<input type="text" id="capacitance" name="capacitance" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Thermal Resistance (&degC/kW)<span class="classic">Resistance of each device. Must be between 1.5 and 140.</span></label>
				<input type="text" id="resistance" name="resistance" pattern="^\d+\.?\d*?$" required="required">
			</div>			
			<div class="shortInput">
				<label class="tooltip">COP<span class="classic">Coefficient of power of each device. Must be between 1 and 3.5</span></label>
				<input type="text" id="cop" name="cop" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Temperature Setpoint (&degC)<span class="classic">Setpoint for each device. Must be between 1.7 and 54.</span></label>
				<input type="text" id="setpoint" name="setpoint" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Temperature Deadband (&degC)<span class="classic">Deadband for each device. Must be between 0.125 and 2.</span></label>
				<input type="text" id="deadband" name="deadband" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Unit Cost ($/unit)<span class="classic">Cost per device for equipping it to respond to load control signals. E.g. for a direct load control program, this would be the cost of a load control switch, typically about $100.</span></label>
				<input type="text" id="unitDeviceCost" name="unitDeviceCost" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Upkeep Cost ($/unit/year)<span class="classic">Maintenance cost each year per device for replacing or repairing defective load control equipment.</span></label>
				<input type="text" id="unitUpkeepCost" name="unitUpkeepCost" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Demand Charge Cost ($/kW)<span class="classic">Demand charge utility pays for peak demand events. Assumed to be calculated based on monthly single highest peak.</span></label>
				<input type="text" id="demandChargeCost" name="demandChargeCost" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Energy Cost ($/kWh)<span class="classic">Cost of energy bought by the utility. I.e. wholesale (not retail) cost.</span></label>
				<input type="text" id="electricityCost" name="electricityCost" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Financial Projection Length (years)<span class="classic">Number of years to project out estimated savings.</span></label>
				<input type="text" id="projectionLength" name="projectionLength" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Discount Rate (%)<span class="classic">Discount rate used in financial analysis.</span></label>
				<input type="text" id="discountRate" name="discountRate" pattern="[1-9][0-9]{0,2}" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Demand Curve (.csv file)<span class="classic">Please see the documentation at the green 'Help?' link above for the required format and an example file.</span></label>
				<input id="demandCurveFile" type="file" style="display:none" onchange="handle_files(this.files,'demandCurve','fileName')">
				<input id="demandCurve" name="demandCurve" type="hidden">
				<div>
					<label for="demandCurveFile" class="fileButton">Choose File</label>
					<input id="fileName" name="fileName" value='' readonly class="uploadFileName">
				</div>
			</div>
			<div class="shortInput">
				<label class="tooltip">Temperature Curve in &degC (.csv file)<span class="classic">Please see the documentation at the help link for the required format and an example temperature file.</span></label>
				<input id="tempCurveFile" type="file" style="display:none" onchange="handle_files(this.files,'tempCurve','tempFileName')">
				<input id="tempCurve" name="tempCurve" type="hidden">
				<div>
					<label for="tempCurveFile" class="fileButton">Choose File</label>
					<input id="tempFileName" name="tempFileName" value='' readonly class="uploadFileName">
				</div>
			</div>
			<!-- Required Buttons -->
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" type="submit" class="stoppedInline postRunInline">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.<br>
		If you chose the 'Water Heater' configuration, expect 4 minute run time. Otherwise 30 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<!-- Output tables, graphs, etc. -->
	<div id="output" class="postRun">
		<p class="reportTitle postRun" style="page-break-before:always">VBAT Energy Available & Demand Impact</p>
		<div id="powerReport" class="tightContent postRun">
			<div id="powerChart"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							// "pointStart":Date.parse(allOutputData.startDate),
							"shadow":false,
							"pointInterval":3600000},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{
						"maxZoom":108000000,
						"tickColor":"gray",
						"dateTimeLabelFormats":{
							"month": '%b %e'
						},
						"type":"datetime",
						"lineColor":"gray"
					},
					"yAxis":{
						"title":{"text":"Unit","style":{"color":"gray"}},
					},
					"title":{"text": allOutputData.dataCheck, "verticalAlign":"bottom", "align":"right", "y":-400, "x":-150, "style":{"color":"gray", "fontSize":"36px"}},
					"series":[
						{"name":"Optimal dispatch (kW)","marker":{"enabled":false},"color":"red","data":allOutputData.VBpower,"pointPlacement": +0.1},
						{"name":"VBAT state of charge (kWh)","marker":{"enabled":false},"color":"purple","data":allOutputData.VBenergy,"pointPlacement": -0.2},
						{"name":"Demand (kW)","marker":{"enabled":false},"color":"gray","data":allOutputData.demand},
						{"name":"Demand after VBAT (kW)","marker":{"enabled":false},"color":"blue","data":allOutputData.demandAdjusted},
					],
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"powerChart","type":"line","marginRight":20, "height":500,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<!--<p class="reportTitle postRun" style="page-break-before:always">VBAT Demand Impact</p>
		<div id="demandReport" class="tightContent postRun">
			<div id="demandChart"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							"shadow":false,
							"pointInterval":3600000},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{
						"maxZoom":108000000,
						"tickColor":"gray",
						"dateTimeLabelFormats":{
							"month": '%b %e'
						},
						"type":"datetime",
						"lineColor":"gray"
					},
					"yAxis":{
						"title":{"text":"Demand (kWh)","style":{"color":"gray"}},
					},
					"title":{"text":null},
					"series":[
						{"name":"Demand","marker":{"enabled":false},"color":"red","data":allOutputData.demand},
						{"name":"Demand after VBAT","marker":{"enabled":false},"color":"purple","data":allOutputData.demandAdjusted},
					],
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"demandChart","type":"line","marginRight":20, "height":750,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":0,"y":0,"layout":"horizontal"}})
			</script>
		</div>-->
		<p class="reportTitle postRun">Monthly Cost Comparison</p>
		<div id="levelizedCostReport" class="tightContent postRun">
			<div id="levelizedCostTableDiv" style="display:inline-block; width:1000px">
				<table id="monthlySummaryTable" style="margin:5px;width:990px">
					<style>td, th {padding:7 0 5 20;text-align: left;font-size:0.7em;}</style>
					<div id="tableHead">
						<thead>
							<th></th>
							<th>Jan</th>
							<th>Feb</th>
							<th>Mar</th>
							<th>Apr</th>
							<th>May</th>
							<th>Jun</th>
							<th>Jul</th>
							<th>Aug</th>
							<th>Sep</th>
							<th>Oct</th>
							<th>Nov</th>
							<th>Dec</th>
						</thead>
					</div>
				</table>
				<script id="globalOutputScripting">
					function insertMetric(tableId, name, vector) {
						// Add a vector to a table as a row.
						table = gebi(tableId)
						newRow = table.insertRow()
						newRow.insertCell().innerHTML = "<div id=\"metric\">" + name + "</div>"
						for (i=0; i<vector.length; i++) {
							cell = newRow.insertCell()
							cell.innerHTML = delimitNumbers(vector[i].toFixed(0))
						}
					}
				</script>
				<script>
					insertMetric("monthlySummaryTable","Peak Demand (kW)", allOutputData.peakDemand)
					insertMetric("monthlySummaryTable","Adjusted Peak Demand (kW)", allOutputData.peakAdjustedDemand)
					insertMetric("monthlySummaryTable","Energy (kWh)", allOutputData.energyMonthly)
					insertMetric("monthlySummaryTable","Adjusted Energy (kWh)", allOutputData.energyAdjustedMonthly)
					insertMetric("monthlySummaryTable","Energy Cost ($)", allOutputData.energyCost)
					insertMetric("monthlySummaryTable","Energy Cost using VBAT ($)", allOutputData.energyCostAdjusted)
					insertMetric("monthlySummaryTable","Demand Charge ($)", allOutputData.demandCharge)
					insertMetric("monthlySummaryTable","Demand Charge using VBAT ($)", allOutputData.demandChargeAdjusted)
					insertMetric("monthlySummaryTable","Total Cost ($)", allOutputData.totalCost)
					insertMetric("monthlySummaryTable","Total Cost using VBAT ($)", allOutputData.totalCostAdjusted)
					insertMetric("monthlySummaryTable","Savings ($)", allOutputData.savings)
				</script>
				<!--<script>
					//table = gebi("monthlySummaryTable")
					//newRow = table.insertRow()
					//newRow.insertCell().innerHTML = ""
					newRow = table.insertRow()
					//newRow.insertCell().innerHTML = "<div id=\"SPP\">Financial Calculations:</div>"
					newRow.insertCell().innerHTML = "<div id=\"NPV\">NPV:</div>"
					cell = newRow.insertCell()
					cell.innerHTML = "$" + delimitNumbers(allOutputData.NPV.toFixed(0))
					newRow = table.insertRow()
					newRow.insertCell().innerHTML = "<div id=\"SPP\">SPP:</div>"
					cell = newRow.insertCell()
					cell.innerHTML = delimitNumbers(allOutputData.SPP.toFixed(3))
					//cell = newRow.insertCell()
					//cell.innerHTML + ""
				</script>-->
			</div>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Cash Flow Projection</p>
		<div id="cashFlowReport" class="tightContent postRun">
			<div id="cashFlowChartDiv"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{"column":{"stacking":'normal'},"series":{"animation":false,"shadow":false},"spline":{"animation":false,"shadow":false}},
					"xAxis":{"title":{"text":"Year After Installation","style":{"color":"gray"}},"type":"linear","tickColor":"gray","tickInterval":1,"lineColor":"gray","minorTickColor":"gray", "minorTickInterval":5},
					"title":{"text":"NPV:$" + allOutputData.NPV.toFixed(0) + " ;	SPP:" + allOutputData.SPP.toFixed(3), "verticalAlign":"bottom", "align":"right", "y":-50, "x":-10, "style":{"color":"#333333", "fontSize":"12px"}},
					//"title":{"text":""},
					"series":[{"name":"Net Benefits", "data":allOutputData.netCashflow},
						{"name":"Cumulative Return", "type":"spline", "data":allOutputData.cumulativeCashflow}
					],
					"yAxis":{"title":{"text":"Income ($)","style":{"color":"gray"}}},
					"chart":{"marginBottom":55,"zoomType":"x","renderTo":"cashFlowChartDiv","type":"column","marginRight":20, "height":250,"width":1000},
					"tooltip":{"valueDecimals":1},
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
	</div>
</body>