<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		table {width: 80%;margin-left:auto; margin-right:auto;}
		td {padding:2px; text-align: center;border-top: 1px solid #ccc;}
		th {padding:2px; text-align: center}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<!-- Required Inputs -->
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-transmission" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline ">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<!-- Model Specific Inputs -->
			<div class="wideInput">
				<p class="inputSectionHeader">Simulation Specs</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Load Type<span class="classic">Device to be used in calculations</span></label>
				<select id="load_type" onchange="loadDefaultParameters()" name="load_type">
				<script type="text/javascript">
					function loadDefaultParameters(){
						var x = gebi('load_type').value;
						if (x == 1){ //AC
							gebi('capacitance').value = '2';
							gebi('resistance').value = '2';
							gebi('power').value = '5.6';
							gebi('cop').value = '2.5';
							gebi('deadband').value = '0.625';
							gebi('setpoint').value = '22.5';
						} else if (x == 2){ //HP
							gebi('capacitance').value = '2';
							gebi('resistance').value = '2';
							gebi('power').value = '5.6';
							gebi('cop').value = '3.5';
							gebi('deadband').value = '0.625';
							gebi('setpoint').value = '19.5';
						} else if (x == 3) { //RG
							gebi('capacitance').value = '0.6';
							gebi('resistance').value = '90';
							gebi('power').value = '0.3';
							gebi('cop').value = '2';
							gebi('deadband').value = '1.5';
							gebi('setpoint').value = '2.5';
						} else { //WH
							gebi('capacitance').value = '0.4';
							gebi('resistance').value = '120';
							gebi('power').value = '4.5';
							gebi('cop').value = '1';
							gebi('deadband').value = '3';
							gebi('setpoint').value = '48.5';
						}
					}
				</script>
					<option value="1">Air Conditioner</option>
					<option value="2">Heat Pump</option>
					<option value="3">Refrigerator</option>
					<option value="4">Water Heater</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Zip Code<span class="classic">Zip code of temperature data to be used</span></label>
				<select id="zipcode" name="zipcode">
					<option value="'default'">Default</option>
					<option value="94128">94128 - San Francisco Intl Airport</option>
					<option value="97218">97218 - Portland Intl Airport</option>
					<option value="98158">98158 - Seattle Intl Airport </option>
					<option value="'ADAK NAS'">AK - Adak Nas</option>
					<option value="'AMBLER'">AK - Ambler</option>
					<option value="'ANAKTUVUK PASS'">AK - Anaktuvuk Pass</option>
					<option value="'ANCHORAGE INTL AP'">AK - Anchorage Intl Ap</option>
					<option value="'ANCHORAGE MERRILL FIELD'">AK - Anchorage Merrill Field</option>
					<option value="'ANCHORAGE/ELMENDORF'">AK - Anchorage/Elmendorf</option>
					<option value="'ANIAK AIRPORT'">AK - Aniak Airport</option>
					<option value="'ANNETTE ISLAND AP'">AK - Annette Island Ap</option>
					<option value="'ANVIK'">AK - Anvik</option>
					<option value="'BARROW W POST-W ROGERS ARPT [NSA - ARM]'">AK - Barrow W Post-W Rogers Arpt [Nsa - Arm]</option>
					<option value="'BETHEL AIRPORT'">AK - Bethel Airport</option>
					<option value="'BETTLES FIELD'">AK - Bettles Field</option>
					<option value="'BIG DELTA ALLEN AAF'">AK - Big Delta Allen Aaf</option>
					<option value="'BIG RIVER LAKE'">AK - Big River Lake</option>
					<option value="'BIRCHWOOD'">AK - Birchwood</option>
					<option value="'CHULITNA'">AK - Chulitna</option>
					<option value="'COLD BAY ARPT'">AK - Cold Bay Arpt</option>
					<option value="'CORDOVA'">AK - Cordova</option>
					<option value="'DEADHORSE'">AK - Deadhorse</option>
					<option value="'DILLINGHAM (AMOS)'">AK - Dillingham (Amos)</option>
					<option value="'DUTCH HARBOR'">AK - Dutch Harbor</option>
					<option value="'EMMONAK'">AK - Emmonak</option>
					<option value="'FAIRBANKS INTL ARPT'">AK - Fairbanks Intl Arpt</option>
					<option value="'FAIRBANKS/EIELSON A'">AK - Fairbanks/Eielson A</option>
					<option value="'FORT YUKON'">AK - Fort Yukon</option>
					<option value="'GAMBELL'">AK - Gambell</option>
					<option value="'GULKANA INTERMEDIATE FIELD'">AK - Gulkana Intermediate Field</option>
					<option value="'GUSTAVUS'">AK - Gustavus</option>
					<option value="'HAYES RIVER'">AK - Hayes River</option>
					<option value="'HEALY RIVER AIRPORT'">AK - Healy River Airport</option>
					<option value="'HOMER ARPT'">AK - Homer Arpt</option>
					<option value="'HOONAH'">AK - Hoonah</option>
					<option value="'HOOPER BAY'">AK - Hooper Bay</option>
					<option value="'HUSLIA'">AK - Huslia</option>
					<option value="'HYDABURG SEAPLANE'">AK - Hydaburg Seaplane</option>
					<option value="'ILIAMNA ARPT'">AK - Iliamna Arpt</option>
					<option value="'JUNEAU INT'L ARPT'">AK - Juneau Int'L Arpt</option>
					<option value="'KAKE SEAPLANE BASE'">AK - Kake Seaplane Base</option>
					<option value="'KENAI MUNICIPAL AP'">AK - Kenai Municipal Ap</option>
					<option value="'KETCHIKAN INTL AP'">AK - Ketchikan Intl Ap</option>
					<option value="'KING SALMON ARPT'">AK - King Salmon Arpt</option>
					<option value="'KODIAK AIRPORT'">AK - Kodiak Airport</option>
					<option value="'KOTZEBUE RALPH WEIN MEMORIAL'">AK - Kotzebue Ralph Wein Memorial</option>
					<option value="'LAKE HOOD SEAPLANE'">AK - Lake Hood Seaplane</option>
					<option value="'MCGRATH ARPT'">AK - Mcgrath Arpt</option>
					<option value="'MEKORYUK'">AK - Mekoryuk</option>
					<option value="'MIDDLETON ISLAND AUT'">AK - Middleton Island Aut</option>
					<option value="'MINCHUMINA'">AK - Minchumina</option>
					<option value="'NENANA MUNICIPAL AP'">AK - Nenana Municipal Ap</option>
					<option value="'NOME MUNICIPAL ARPT'">AK - Nome Municipal Arpt</option>
					<option value="'NORTHWAY AIRPORT'">AK - Northway Airport</option>
					<option value="'PALMER MUNICIPAL'">AK - Palmer Municipal</option>
					<option value="'PETERSBURG'">AK - Petersburg</option>
					<option value="'POINT HOPE (AWOS)'">AK - Point Hope (Awos)</option>
					<option value="'PORT HEIDEN'">AK - Port Heiden</option>
					<option value="'SAINT MARY`S (AWOS)'">AK - Saint Mary`S (Awos)</option>
					<option value="'SAND POINT'">AK - Sand Point</option>
					<option value="'SAVOONGA'">AK - Savoonga</option>
					<option value="'SELAWIK'">AK - Selawik</option>
					<option value="'SEWARD'">AK - Seward</option>
					<option value="'SHEMYA AFB'">AK - Shemya Afb</option>
					<option value="'SHISHMAREF (AWOS)'">AK - Shishmaref (Awos)</option>
					<option value="'SITKA JAPONSKI AP'">AK - Sitka Japonski Ap</option>
					<option value="'SKAGWAY AIRPORT'">AK - Skagway Airport</option>
					<option value="'SLEETMUTE'">AK - Sleetmute</option>
					<option value="'SOLDOTNA'">AK - Soldotna</option>
					<option value="'ST PAUL ISLAND ARPT'">AK - St Paul Island Arpt</option>
					<option value="'TALKEETNA STATE ARPT'">AK - Talkeetna State Arpt</option>
					<option value="'TANANA RALPH M CALHOUN MEM AP'">AK - Tanana Ralph M Calhoun Mem Ap</option>
					<option value="'TOGIAC VILLAGE AWOS'">AK - Togiac Village Awos</option>
					<option value="'UNALAKLEET FIELD'">AK - Unalakleet Field</option>
					<option value="'VALDEZ PIONEER FIEL'">AK - Valdez Pioneer Fiel</option>
					<option value="'VALDEZ WSO'">AK - Valdez Wso</option>
					<option value="'WHITTIER'">AK - Whittier</option>
					<option value="'WRANGELL'">AK - Wrangell</option>
					<option value="'YAKUTAT STATE ARPT'">AK - Yakutat State Arpt</option>
					<option value="'ANNISTON METROPOLITAN AP'">AL - Anniston Metropolitan Ap</option>
					<option value="'AUBURN-OPELIKA APT'">AL - Auburn-Opelika Apt</option>
					<option value="'BIRMINGHAM MUNICIPAL AP'">AL - Birmingham Municipal Ap</option>
					<option value="'CAIRNS FIELD FORT RUCKER'">AL - Cairns Field Fort Rucker</option>
					<option value="'DOTHAN MUNICIPAL AP'">AL - Dothan Municipal Ap</option>
					<option value="'GADSEN MUNI (AWOS)'">AL - Gadsen Muni (Awos)</option>
					<option value="'HUNTSVILLE INTL/JONES FIELD'">AL - Huntsville Intl/Jones Field</option>
					<option value="'MAXWELL AFB'">AL - Maxwell Afb</option>
					<option value="'MOBILE DOWNTOWN AP'">AL - Mobile Downtown Ap</option>
					<option value="'MOBILE REGIONAL AP'">AL - Mobile Regional Ap</option>
					<option value="'MONTGOMERY DANNELLY FIELD'">AL - Montgomery Dannelly Field</option>
					<option value="'MUSCLE SHOALS REGIONAL AP'">AL - Muscle Shoals Regional Ap</option>
					<option value="'TROY AF'">AL - Troy Af</option>
					<option value="'TUSCALOOSA MUNICIPAL AP'">AL - Tuscaloosa Municipal Ap</option>
					<option value="'BATESVILLE (AWOS)'">AR - Batesville (Awos)</option>
					<option value="'BENTONVILLE (AWOS)'">AR - Bentonville (Awos)</option>
					<option value="'EL DORADO GOODWIN FIELD'">AR - El Dorado Goodwin Field</option>
					<option value="'FAYETTEVILLE DRAKE FIELD'">AR - Fayetteville Drake Field</option>
					<option value="'FLIPPIN (AWOS)'">AR - Flippin (Awos)</option>
					<option value="'FORT SMITH REGIONAL AP'">AR - Fort Smith Regional Ap</option>
					<option value="'HARRISON FAA AP'">AR - Harrison Faa Ap</option>
					<option value="'JONESBORO MUNI'">AR - Jonesboro Muni</option>
					<option value="'LITTLE ROCK ADAMS FIELD'">AR - Little Rock Adams Field</option>
					<option value="'LITTLE ROCK AFB'">AR - Little Rock Afb</option>
					<option value="'MEMORIAL FLD'">AR - Memorial Fld</option>
					<option value="'PINE BLUFF FAA AP'">AR - Pine Bluff Faa Ap</option>
					<option value="'ROGERS (AWOS)'">AR - Rogers (Awos)</option>
					<option value="'SILOAM SPRING(AWOS)'">AR - Siloam Spring(Awos)</option>
					<option value="'SPRINGDALE MUNI'">AR - Springdale Muni</option>
					<option value="'STUTTGART (AWOS)'">AR - Stuttgart (Awos)</option>
					<option value="'TEXARKANA WEBB FIELD'">AR - Texarkana Webb Field</option>
					<option value="'WALNUT RIDGE (AWOS)'">AR - Walnut Ridge (Awos)</option>
					<option value="'CASA GRANDA (AWOS)'">AZ - Casa Granda (Awos)</option>
					<option value="'DAVIS MONTHAN AFB'">AZ - Davis Monthan Afb</option>
					<option value="'DEER VALLEY/PHOENIX'">AZ - Deer Valley/Phoenix</option>
					<option value="'DOUGLAS BISBEE-DOUGLAS INTL A'">AZ - Douglas Bisbee-Douglas Intl A</option>
					<option value="'FLAGSTAFF PULLIAM ARPT'">AZ - Flagstaff Pulliam Arpt</option>
					<option value="'GRAND CANYON NATL P'">AZ - Grand Canyon Natl P</option>
					<option value="'KINGMAN (AMOS)'">AZ - Kingman (Amos)</option>
					<option value="'LUKE AFB'">AZ - Luke Afb</option>
					<option value="'PAGE MUNI (AMOS)'">AZ - Page Muni (Amos)</option>
					<option value="'PHOENIX SKY HARBOR INTL AP'">AZ - Phoenix Sky Harbor Intl Ap</option>
					<option value="'PRESCOTT LOVE FIELD'">AZ - Prescott Love Field</option>
					<option value="'SAFFORD (AMOS)'">AZ - Safford (Amos)</option>
					<option value="'SCOTTSDALE MUNI'">AZ - Scottsdale Muni</option>
					<option value="'SHOW LOW MUNICIPAL'">AZ - Show Low Municipal</option>
					<option value="'TUCSON INTERNATIONAL AP'">AZ - Tucson International Ap</option>
					<option value="'WINSLOW MUNICIPAL AP'">AZ - Winslow Municipal Ap</option>
					<option value="'YUMA INTL ARPT'">AZ - Yuma Intl Arpt</option>
					<option value="'YUMA MCAS'">AZ - Yuma Mcas</option>
					<option value="'ALTURAS'">CA - Alturas</option>
					<option value="'ARCATA AIRPORT'">CA - Arcata Airport</option>
					<option value="'BAKERSFIELD MEADOWS FIELD'">CA - Bakersfield Meadows Field</option>
					<option value="'BEALE AFB'">CA - Beale Afb</option>
					<option value="'BISHOP AIRPORT'">CA - Bishop Airport</option>
					<option value="'BLUE CANYON AP'">CA - Blue Canyon Ap</option>
					<option value="'BLYTHE RIVERSIDE CO ARPT'">CA - Blythe Riverside Co Arpt</option>
					<option value="'BURBANK-GLENDALE-PASSADENA AP'">CA - Burbank-Glendale-Passadena Ap</option>
					<option value="'CAMARILLO (AWOS)'">CA - Camarillo (Awos)</option>
					<option value="'CAMP PENDLETON MCAS'">CA - Camp Pendleton Mcas</option>
					<option value="'CARLSBAD/PALOMAR'">CA - Carlsbad/Palomar</option>
					<option value="'CHINA LAKE NAF'">CA - China Lake Naf</option>
					<option value="'CHINO AIRPORT'">CA - Chino Airport</option>
					<option value="'CHULA VISTA BROWN FIELD NAAS'">CA - Chula Vista Brown Field Naas</option>
					<option value="'CONCORD CONCORD-BUCHANAN FIEL'">CA - Concord Concord-Buchanan Fiel</option>
					<option value="'CRESCENT CITY FAA AI'">CA - Crescent City Faa Ai</option>
					<option value="'DAGGETT BARSTOW-DAGGETT AP'">CA - Daggett Barstow-Daggett Ap</option>
					<option value="'EDWARDS AFB'">CA - Edwards Afb</option>
					<option value="'FRESNO YOSEMITE INTL AP'">CA - Fresno Yosemite Intl Ap</option>
					<option value="'FULLERTON MUNICIPAL'">CA - Fullerton Municipal</option>
					<option value="'HAYWARD AIR TERM'">CA - Hayward Air Term</option>
					<option value="'IMPERIAL'">CA - Imperial</option>
					<option value="'JACK NORTHROP FLD H'">CA - Jack Northrop Fld H</option>
					<option value="'LANCASTER GEN WM FOX FIELD'">CA - Lancaster Gen Wm Fox Field</option>
					<option value="'LEMOORE REEVES NAS'">CA - Lemoore Reeves Nas</option>
					<option value="'LIVERMORE MUNICIPAL'">CA - Livermore Municipal</option>
					<option value="'LOMPOC (AWOS)'">CA - Lompoc (Awos)</option>
					<option value="'LONG BEACH DAUGHERTY FLD'">CA - Long Beach Daugherty Fld</option>
					<option value="'LOS ANGELES INTL ARPT'">CA - Los Angeles Intl Arpt</option>
					<option value="'MARCH AFB'">CA - March Afb</option>
					<option value="'MERCED/MACREADY FLD'">CA - Merced/Macready Fld</option>
					<option value="'MODESTO CITY-COUNTY AP'">CA - Modesto City-County Ap</option>
					<option value="'MONTAGUE SISKIYOU COUNTY AP'">CA - Montague Siskiyou County Ap</option>
					<option value="'MONTEREY NAF'">CA - Monterey Naf</option>
					<option value="'MOUNTAIN VIEW MOFFETT FLD NAS'">CA - Mountain View Moffett Fld Nas</option>
					<option value="'NAPA CO. AIRPORT'">CA - Napa Co. Airport</option>
					<option value="'NEEDLES AIRPORT'">CA - Needles Airport</option>
					<option value="'OAKLAND METROPOLITAN ARPT'">CA - Oakland Metropolitan Arpt</option>
					<option value="'OXNARD AIRPORT'">CA - Oxnard Airport</option>
					<option value="'PALM SPRINGS INTL'">CA - Palm Springs Intl</option>
					<option value="'PALM SPRINGS THERMAL AP'">CA - Palm Springs Thermal Ap</option>
					<option value="'PALMDALE AIRPORT'">CA - Palmdale Airport</option>
					<option value="'PASO ROBLES MUNICIPAL ARPT'">CA - Paso Robles Municipal Arpt</option>
					<option value="'POINT MUGU NF'">CA - Point Mugu Nf</option>
					<option value="'PORTERVILLE (AWOS)'">CA - Porterville (Awos)</option>
					<option value="'RED BLUFF MUNICIPAL ARPT'">CA - Red Bluff Municipal Arpt</option>
					<option value="'REDDING MUNICIPAL ARPT'">CA - Redding Municipal Arpt</option>
					<option value="'RIVERSIDE MUNI'">CA - Riverside Muni</option>
					<option value="'SACRAMENTO EXECUTIVE ARPT'">CA - Sacramento Executive Arpt</option>
					<option value="'SACRAMENTO METROPOLITAN AP'">CA - Sacramento Metropolitan Ap</option>
					<option value="'SALINAS MUNICIPAL AP'">CA - Salinas Municipal Ap</option>
					<option value="'SAN DIEGO LINDBERGH FIELD'">CA - San Diego Lindbergh Field</option>
					<option value="'SAN DIEGO MIRAMAR NAS'">CA - San Diego Miramar Nas</option>
					<option value="'SAN DIEGO NORTH ISLAND NAS'">CA - San Diego North Island Nas</option>
					<option value="'SAN DIEGO/MONTGOMER'">CA - San Diego/Montgomer</option>
					<option value="'SAN FRANCISCO INTL AP'">CA - San Francisco Intl Ap</option>
					<option value="'SAN JOSE INTL AP'">CA - San Jose Intl Ap</option>
					<option value="'SAN LUIS CO RGNL'">CA - San Luis Co Rgnl</option>
					<option value="'SANDBERG'">CA - Sandberg</option>
					<option value="'SANTA ANA JOHN WAYNE AP'">CA - Santa Ana John Wayne Ap</option>
					<option value="'SANTA BARBARA MUNICIPAL AP'">CA - Santa Barbara Municipal Ap</option>
					<option value="'SANTA MARIA PUBLIC ARPT'">CA - Santa Maria Public Arpt</option>
					<option value="'SANTA MONICA MUNI'">CA - Santa Monica Muni</option>
					<option value="'SANTA ROSA (AWOS)'">CA - Santa Rosa (Awos)</option>
					<option value="'SOUTH LAKE TAHOE'">CA - South Lake Tahoe</option>
					<option value="'STOCKTON METROPOLITAN ARPT'">CA - Stockton Metropolitan Arpt</option>
					<option value="'TRAVIS FIELD AFB'">CA - Travis Field Afb</option>
					<option value="'TRUCKEE-TAHOE'">CA - Truckee-Tahoe</option>
					<option value="'TWENTYNINE PALMS'">CA - Twentynine Palms</option>
					<option value="'UKIAH MUNICIPAL AP'">CA - Ukiah Municipal Ap</option>
					<option value="'VAN NUYS AIRPORT'">CA - Van Nuys Airport</option>
					<option value="'VISALIA MUNI (AWOS)'">CA - Visalia Muni (Awos)</option>
					<option value="'YUBA CO'">CA - Yuba Co</option>
					<option value="'AKRON WASHINGTON CO AP'">CO - Akron Washington Co Ap</option>
					<option value="'ALAMOSA SAN LUIS VALLEY RGNL'">CO - Alamosa San Luis Valley Rgnl</option>
					<option value="'ASPEN PITKIN CO SAR'">CO - Aspen Pitkin Co Sar</option>
					<option value="'AURORA BUCKLEY FIELD ANGB'">CO - Aurora Buckley Field Angb</option>
					<option value="'BROOMFIELD/JEFFCO [BOULDER - SURFRAD]'">CO - Broomfield/Jeffco [Boulder - Surfrad]</option>
					<option value="'COLORADO SPRINGS MUNI AP'">CO - Colorado Springs Muni Ap</option>
					<option value="'CORTEZ/MONTEZUMA CO'">CO - Cortez/Montezuma Co</option>
					<option value="'CRAIG-MOFFAT'">CO - Craig-Moffat</option>
					<option value="'DENVER INTL AP'">CO - Denver Intl Ap</option>
					<option value="'DENVER/CENTENNIAL [GOLDEN - NREL]'">CO - Denver/Centennial [Golden - Nrel]</option>
					<option value="'DURANGO/LA PLATA CO'">CO - Durango/La Plata Co</option>
					<option value="'EAGLE COUNTY AP'">CO - Eagle County Ap</option>
					<option value="'FORT COLLINS (AWOS)'">CO - Fort Collins (Awos)</option>
					<option value="'GRAND JUNCTION WALKER FIELD'">CO - Grand Junction Walker Field</option>
					<option value="'GREELEY/WELD (AWOS)'">CO - Greeley/Weld (Awos)</option>
					<option value="'GUNNISON CO. (AWOS)'">CO - Gunnison Co. (Awos)</option>
					<option value="'HAYDEN/YAMPA (AWOS)'">CO - Hayden/Yampa (Awos)</option>
					<option value="'LA JUNTA MUNICIPAL AP'">CO - La Junta Municipal Ap</option>
					<option value="'LAMAR MUNICIPAL'">CO - Lamar Municipal</option>
					<option value="'LEADVILLE/LAKE CO.'">CO - Leadville/Lake Co.</option>
					<option value="'LIMON'">CO - Limon</option>
					<option value="'MONTROSE CO. ARPT'">CO - Montrose Co. Arpt</option>
					<option value="'PUEBLO MEMORIAL AP'">CO - Pueblo Memorial Ap</option>
					<option value="'RIFLE/GARFIELD RGNL'">CO - Rifle/Garfield Rgnl</option>
					<option value="'TRINIDAD LAS ANIMAS COUNTY AP'">CO - Trinidad Las Animas County Ap</option>
					<option value="'BRIDGEPORT SIKORSKY MEMORIAL'">CT - Bridgeport Sikorsky Memorial</option>
					<option value="'DANBURY MUNICIPAL'">CT - Danbury Municipal</option>
					<option value="'GROTON NEW LONDON AP'">CT - Groton New London Ap</option>
					<option value="'HARTFORD BRADLEY INTL AP'">CT - Hartford Bradley Intl Ap</option>
					<option value="'HARTFORD BRAINARD FD'">CT - Hartford Brainard Fd</option>
					<option value="'NEW HAVEN TWEED AIRPORT'">CT - New Haven Tweed Airport</option>
					<option value="'OXFORD (AWOS)'">CT - Oxford (Awos)</option>
					<option value="'DOVER AFB'">DE - Dover Afb</option>
					<option value="'WILMINGTON NEW CASTLE CNTY AP'">DE - Wilmington New Castle Cnty Ap</option>
					<option value="'CRESTVIEW BOB SIKES AP'">FL - Crestview Bob Sikes Ap</option>
					<option value="'DAYTONA BEACH INTL AP'">FL - Daytona Beach Intl Ap</option>
					<option value="'FORT LAUDERDALE'">FL - Fort Lauderdale</option>
					<option value="'FORT LAUDERDALE HOLLYWOOD INT'">FL - Fort Lauderdale Hollywood Int</option>
					<option value="'FORT MYERS PAGE FIELD'">FL - Fort Myers Page Field</option>
					<option value="'GAINESVILLE REGIONAL AP'">FL - Gainesville Regional Ap</option>
					<option value="'HOMESTEAD AFB'">FL - Homestead Afb</option>
					<option value="'JACKSONVILLE INTL ARPT'">FL - Jacksonville Intl Arpt</option>
					<option value="'JACKSONVILLE NAS'">FL - Jacksonville Nas</option>
					<option value="'JACKSONVILLE/CRAIG'">FL - Jacksonville/Craig</option>
					<option value="'KEY WEST INTL ARPT'">FL - Key West Intl Arpt</option>
					<option value="'KEY WEST NAS'">FL - Key West Nas</option>
					<option value="'LAKELAND LINDER RGN'">FL - Lakeland Linder Rgn</option>
					<option value="'MACDILL AFB'">FL - Macdill Afb</option>
					<option value="'MARATHON AIRPORT'">FL - Marathon Airport</option>
					<option value="'MAYPORT NS'">FL - Mayport Ns</option>
					<option value="'MELBOURNE REGIONAL AP'">FL - Melbourne Regional Ap</option>
					<option value="'MIAMI INTL AP'">FL - Miami Intl Ap</option>
					<option value="'MIAMI/KENDALL-TAMIA'">FL - Miami/Kendall-Tamia</option>
					<option value="'MIAMI/OPA LOCKA'">FL - Miami/Opa Locka</option>
					<option value="'NAPLES MUNICIPAL'">FL - Naples Municipal</option>
					<option value="'NASA SHUTTLE FCLTY'">FL - Nasa Shuttle Fclty</option>
					<option value="'OCALA MUNI (AWOS)'">FL - Ocala Muni (Awos)</option>
					<option value="'ORLANDO EXECUTIVE AP'">FL - Orlando Executive Ap</option>
					<option value="'ORLANDO INTL ARPT'">FL - Orlando Intl Arpt</option>
					<option value="'ORLANDO SANFORD AIRPORT'">FL - Orlando Sanford Airport</option>
					<option value="'PANAMA CITY BAY CO'">FL - Panama City Bay Co</option>
					<option value="'PENSACOLA FOREST SHERMAN NAS'">FL - Pensacola Forest Sherman Nas</option>
					<option value="'PENSACOLA REGIONAL AP'">FL - Pensacola Regional Ap</option>
					<option value="'SARASOTA BRADENTON'">FL - Sarasota Bradenton</option>
					<option value="'SOUTHWEST FLORIDA I'">FL - Southwest Florida I</option>
					<option value="'ST LUCIE CO INTL'">FL - St Lucie Co Intl</option>
					<option value="'ST PETERSBURG ALBERT WHITTED'">FL - St Petersburg Albert Whitted</option>
					<option value="'ST PETERSBURG CLEAR'">FL - St Petersburg Clear</option>
					<option value="'TALLAHASSEE REGIONAL AP [ISIS]'">FL - Tallahassee Regional Ap [Isis]</option>
					<option value="'TAMPA INTERNATIONAL AP'">FL - Tampa International Ap</option>
					<option value="'TYNDALL AFB'">FL - Tyndall Afb</option>
					<option value="'VALPARAISO ELGIN AFB'">FL - Valparaiso Elgin Afb</option>
					<option value="'VALPARAISO HURLBURT'">FL - Valparaiso Hurlburt</option>
					<option value="'VERO BEACH MUNICIPAL ARPT'">FL - Vero Beach Municipal Arpt</option>
					<option value="'WEST PALM BEACH INTL ARPT'">FL - West Palm Beach Intl Arpt</option>
					<option value="'WHITING FIELD NAAS'">FL - Whiting Field Naas</option>
					<option value="'ALBANY DOUGHERTY COUNTY AP'">GA - Albany Dougherty County Ap</option>
					<option value="'ALMA BACON COUNTY AP'">GA - Alma Bacon County Ap</option>
					<option value="'ATHENS BEN EPPS AP'">GA - Athens Ben Epps Ap</option>
					<option value="'ATLANTA HARTSFIELD INTL AP'">GA - Atlanta Hartsfield Intl Ap</option>
					<option value="'AUGUSTA BUSH FIELD'">GA - Augusta Bush Field</option>
					<option value="'BRUNSWICK GOLDEN IS'">GA - Brunswick Golden Is</option>
					<option value="'BRUNSWICK MALCOLM MCKINNON AP'">GA - Brunswick Malcolm Mckinnon Ap</option>
					<option value="'COLUMBUS METROPOLITAN ARPT'">GA - Columbus Metropolitan Arpt</option>
					<option value="'DEKALB PEACHTREE'">GA - Dekalb Peachtree</option>
					<option value="'FORT BENNING LAWSON'">GA - Fort Benning Lawson</option>
					<option value="'FULTON CO ARPT BROW'">GA - Fulton Co Arpt Brow</option>
					<option value="'HUNTER AAF'">GA - Hunter Aaf</option>
					<option value="'MACON MIDDLE GA REGIONAL AP'">GA - Macon Middle Ga Regional Ap</option>
					<option value="'MARIETTA DOBBINS AFB'">GA - Marietta Dobbins Afb</option>
					<option value="'MOODY AFB/VALDOSTA'">GA - Moody Afb/Valdosta</option>
					<option value="'ROME R B RUSSELL AP'">GA - Rome R B Russell Ap</option>
					<option value="'SAVANNAH INTL AP'">GA - Savannah Intl Ap</option>
					<option value="'VALDOSTA WB AIRPORT'">GA - Valdosta Wb Airport</option>
					<option value="'WARNER ROBINS AFB'">GA - Warner Robins Afb</option>
					<option value="'ANDERSEN AFB'">GU - Andersen Afb</option>
					<option value="'GUAM WFO'">GU - Guam Wfo</option>
					<option value="'BARBERS POINT NAS'">HI - Barbers Point Nas</option>
					<option value="'HILO INTERNATIONAL AP'">HI - Hilo International Ap</option>
					<option value="'HONOLULU INTL ARPT'">HI - Honolulu Intl Arpt</option>
					<option value="'KAHULUI AIRPORT'">HI - Kahului Airport</option>
					<option value="'KANEOHE BAY MCAS'">HI - Kaneohe Bay Mcas</option>
					<option value="'KAPALUA'">HI - Kapalua</option>
					<option value="'KONA INTL AT KEAHOL'">HI - Kona Intl At Keahol</option>
					<option value="'LANAI'">HI - Lanai</option>
					<option value="'LIHUE AIRPORT'">HI - Lihue Airport</option>
					<option value="'MOLOKAI (AMOS)'">HI - Molokai (Amos)</option>
					<option value="'ALGONA'">IA - Algona</option>
					<option value="'ATLANTIC'">IA - Atlantic</option>
					<option value="'BOONE MUNI'">IA - Boone Muni</option>
					<option value="'BURLINGTON MUNICIPAL AP'">IA - Burlington Municipal Ap</option>
					<option value="'CARROLL'">IA - Carroll</option>
					<option value="'CEDAR RAPIDS MUNICIPAL AP'">IA - Cedar Rapids Municipal Ap</option>
					<option value="'CHARITON'">IA - Chariton</option>
					<option value="'CHARLES CITY'">IA - Charles City</option>
					<option value="'CLARINDA'">IA - Clarinda</option>
					<option value="'CLINTON MUNI (AWOS)'">IA - Clinton Muni (Awos)</option>
					<option value="'COUNCIL BLUFFS'">IA - Council Bluffs</option>
					<option value="'CRESTON'">IA - Creston</option>
					<option value="'DECORAH'">IA - Decorah</option>
					<option value="'DENISON'">IA - Denison</option>
					<option value="'DES MOINES INTL AP'">IA - Des Moines Intl Ap</option>
					<option value="'DUBUQUE REGIONAL AP'">IA - Dubuque Regional Ap</option>
					<option value="'ESTHERVILLE MUNI'">IA - Estherville Muni</option>
					<option value="'FAIR FIELD'">IA - Fair Field</option>
					<option value="'FORT DODGE (AWOS)'">IA - Fort Dodge (Awos)</option>
					<option value="'FORT MADISON'">IA - Fort Madison</option>
					<option value="'KEOKUK MUNI'">IA - Keokuk Muni</option>
					<option value="'KNOXVILLE'">IA - Knoxville</option>
					<option value="'LE MARS'">IA - Le Mars</option>
					<option value="'MASON CITY MUNICIPAL ARPT'">IA - Mason City Municipal Arpt</option>
					<option value="'MONTICELLO MUNI'">IA - Monticello Muni</option>
					<option value="'MUSCATINE'">IA - Muscatine</option>
					<option value="'NEWTON MUNI'">IA - Newton Muni</option>
					<option value="'OELWEN'">IA - Oelwen</option>
					<option value="'ORANGE CITY'">IA - Orange City</option>
					<option value="'OTTUMWA INDUSTRIAL AP'">IA - Ottumwa Industrial Ap</option>
					<option value="'RED OAK'">IA - Red Oak</option>
					<option value="'SHELDON'">IA - Sheldon</option>
					<option value="'SHENANDOAH MUNI'">IA - Shenandoah Muni</option>
					<option value="'SIOUX CITY SIOUX GATEWAY AP'">IA - Sioux City Sioux Gateway Ap</option>
					<option value="'SPENCER'">IA - Spencer</option>
					<option value="'STORM LAKE'">IA - Storm Lake</option>
					<option value="'WASHINGTON'">IA - Washington</option>
					<option value="'WATERLOO MUNICIPAL AP'">IA - Waterloo Municipal Ap</option>
					<option value="'WEBSTER CITY'">IA - Webster City</option>
					<option value="'BOISE AIR TERMINAL [UO]'">ID - Boise Air Terminal [Uo]</option>
					<option value="'BURLEY MUNICIPAL ARPT'">ID - Burley Municipal Arpt</option>
					<option value="'CALDWELL (AWOS)'">ID - Caldwell (Awos)</option>
					<option value="'COEUR D`ALENE(AWOS)'">ID - Coeur D`Alene(Awos)</option>
					<option value="'HAILEY/FRIEDMAN MEM'">ID - Hailey/Friedman Mem</option>
					<option value="'IDAHO FALLS FANNING FIELD'">ID - Idaho Falls Fanning Field</option>
					<option value="'JOSLIN FLD MAGIC VA [TWIN FALLS - UO]'">ID - Joslin Fld Magic Va [Twin Falls - Uo]</option>
					<option value="'LEWISTON NEZ PERCE CNTY AP'">ID - Lewiston Nez Perce Cnty Ap</option>
					<option value="'MALAD CITY'">ID - Malad City</option>
					<option value="'MOUNTAIN HOME AFB'">ID - Mountain Home Afb</option>
					<option value="'POCATELLO REGIONAL AP'">ID - Pocatello Regional Ap</option>
					<option value="'SALMON/LEMHI (AWOS)'">ID - Salmon/Lemhi (Awos)</option>
					<option value="'SODA SPRINGS/TIGERT'">ID - Soda Springs/Tigert</option>
					<option value="'AURORA MUNICIPAL'">IL - Aurora Municipal</option>
					<option value="'BELLEVILLE SCOTT AFB'">IL - Belleville Scott Afb</option>
					<option value="'CAHOKIA/ST. LOUIS'">IL - Cahokia/St. Louis</option>
					<option value="'CENTRAL ILLINOIS RG'">IL - Central Illinois Rg</option>
					<option value="'CHICAGO MIDWAY AP'">IL - Chicago Midway Ap</option>
					<option value="'CHICAGO OHARE INTL AP'">IL - Chicago Ohare Intl Ap</option>
					<option value="'CHICAGO/WAUKEGAN'">IL - Chicago/Waukegan</option>
					<option value="'DECATUR'">IL - Decatur</option>
					<option value="'MARION REGIONAL'">IL - Marion Regional</option>
					<option value="'MOLINE QUAD CITY INTL AP'">IL - Moline Quad City Intl Ap</option>
					<option value="'MOUNT VERNON (AWOS)'">IL - Mount Vernon (Awos)</option>
					<option value="'PEORIA GREATER PEORIA AP'">IL - Peoria Greater Peoria Ap</option>
					<option value="'QUINCY MUNI BALDWIN FLD'">IL - Quincy Muni Baldwin Fld</option>
					<option value="'ROCKFORD GREATER ROCKFORD AP'">IL - Rockford Greater Rockford Ap</option>
					<option value="'SOUTHERN ILLINOIS'">IL - Southern Illinois</option>
					<option value="'SPRINGFIELD CAPITAL AP'">IL - Springfield Capital Ap</option>
					<option value="'STERLING ROCKFALLS'">IL - Sterling Rockfalls</option>
					<option value="'UNIV OF ILLINOIS WI [BONDVILLE - SURFRAD]'">IL - Univ Of Illinois Wi [Bondville - Surfrad]</option>
					<option value="'W. CHICAGO/DU PAGE'">IL - W. Chicago/Du Page</option>
					<option value="'DELAWARE CO JOHNSON'">IN - Delaware Co Johnson</option>
					<option value="'EVANSVILLE REGIONAL AP'">IN - Evansville Regional Ap</option>
					<option value="'FORT WAYNE INTL AP'">IN - Fort Wayne Intl Ap</option>
					<option value="'GRISSOM ARB'">IN - Grissom Arb</option>
					<option value="'HUNTINGBURG'">IN - Huntingburg</option>
					<option value="'INDIANAPOLIS INTL AP'">IN - Indianapolis Intl Ap</option>
					<option value="'LAFAYETTE PURDUE UNIV AP'">IN - Lafayette Purdue Univ Ap</option>
					<option value="'MONROE CO'">IN - Monroe Co</option>
					<option value="'SOUTH BEND MICHIANA RGNL AP'">IN - South Bend Michiana Rgnl Ap</option>
					<option value="'TERRE HAUTE HULMAN REGIONAL A'">IN - Terre Haute Hulman Regional A</option>
					<option value="'CHANUTE MARTIN JOHNSON AP'">KS - Chanute Martin Johnson Ap</option>
					<option value="'CONCORDIA BLOSSER MUNI AP'">KS - Concordia Blosser Muni Ap</option>
					<option value="'DODGE CITY REGIONAL AP'">KS - Dodge City Regional Ap</option>
					<option value="'EMPORIA MUNICIPAL AP'">KS - Emporia Municipal Ap</option>
					<option value="'FORT RILEY MARSHALL AAF'">KS - Fort Riley Marshall Aaf</option>
					<option value="'GARDEN CITY MUNICIPAL AP'">KS - Garden City Municipal Ap</option>
					<option value="'GOODLAND RENNER FIELD'">KS - Goodland Renner Field</option>
					<option value="'GREAT BEND (AWOS)'">KS - Great Bend (Awos)</option>
					<option value="'HAYS MUNI (AWOS)'">KS - Hays Muni (Awos)</option>
					<option value="'HILL CITY MUNICIPAL AP'">KS - Hill City Municipal Ap</option>
					<option value="'HUTCHINSON MUNICIPAL AP'">KS - Hutchinson Municipal Ap</option>
					<option value="'LIBERAL MUNI'">KS - Liberal Muni</option>
					<option value="'MANHATTAN RGNL'">KS - Manhattan Rgnl</option>
					<option value="'MCCONNELL AFB'">KS - Mcconnell Afb</option>
					<option value="'NEWTON (AWOS)'">KS - Newton (Awos)</option>
					<option value="'OLATHE JOHNSON CO INDUSTRIAL'">KS - Olathe Johnson Co Industrial</option>
					<option value="'OLATHE/JOHNSON CO.'">KS - Olathe/Johnson Co.</option>
					<option value="'RUSSELL MUNICIPAL AP'">KS - Russell Municipal Ap</option>
					<option value="'SALINA MUNICIPAL AP'">KS - Salina Municipal Ap</option>
					<option value="'TOPEKA FORBES FIELD'">KS - Topeka Forbes Field</option>
					<option value="'TOPEKA MUNICIPAL AP'">KS - Topeka Municipal Ap</option>
					<option value="'WICHITA MID-CONTINENT AP'">KS - Wichita Mid-Continent Ap</option>
					<option value="'WICHITA/COL. JABARA'">KS - Wichita/Col. Jabara</option>
					<option value="'BOWLING GREEN WARREN CO AP'">KY - Bowling Green Warren Co Ap</option>
					<option value="'CINCINNATI NORTHERN KY AP'">KY - Cincinnati Northern Ky Ap</option>
					<option value="'FORT CAMPBELL AAF'">KY - Fort Campbell Aaf</option>
					<option value="'FORT KNOX GODMAN AAF'">KY - Fort Knox Godman Aaf</option>
					<option value="'HENDERSON CITY'">KY - Henderson City</option>
					<option value="'JACKSON JULIAN CARROLL AP'">KY - Jackson Julian Carroll Ap</option>
					<option value="'LEXINGTON BLUEGRASS AP'">KY - Lexington Bluegrass Ap</option>
					<option value="'LONDON-CORBIN AP'">KY - London-Corbin Ap</option>
					<option value="'LOUISVILLE BOWMAN FIELD'">KY - Louisville Bowman Field</option>
					<option value="'LOUISVILLE STANDIFORD FIELD'">KY - Louisville Standiford Field</option>
					<option value="'PADUCAH BARKLEY REGIONAL AP'">KY - Paducah Barkley Regional Ap</option>
					<option value="'SOMERSET(AWOS)'">KY - Somerset(Awos)</option>
					<option value="'ALEXANDRIA ESLER REGIONAL AP'">LA - Alexandria Esler Regional Ap</option>
					<option value="'BARKSDALE AFB'">LA - Barksdale Afb</option>
					<option value="'BATON ROUGE RYAN ARPT'">LA - Baton Rouge Ryan Arpt</option>
					<option value="'ENGLAND AFB'">LA - England Afb</option>
					<option value="'FORT POLK AAF'">LA - Fort Polk Aaf</option>
					<option value="'HOUMA-TERREBONNE'">LA - Houma-Terrebonne</option>
					<option value="'LAFAYETTE REGIONAL AP'">LA - Lafayette Regional Ap</option>
					<option value="'LAKE CHARLES REGIONAL ARPT'">LA - Lake Charles Regional Arpt</option>
					<option value="'LAKE CHARLES WB AIRP'">LA - Lake Charles Wb Airp</option>
					<option value="'MONROE REGIONAL AP'">LA - Monroe Regional Ap</option>
					<option value="'NEW IBERIA NAAS'">LA - New Iberia Naas</option>
					<option value="'NEW ORLEANS ALVIN CALLENDER F'">LA - New Orleans Alvin Callender F</option>
					<option value="'NEW ORLEANS INTL ARPT'">LA - New Orleans Intl Arpt</option>
					<option value="'NEW ORLEANS LAKEFRONT AP'">LA - New Orleans Lakefront Ap</option>
					<option value="'PATTERSON MEMORIAL'">LA - Patterson Memorial</option>
					<option value="'SHREVEPORT DOWNTOWN'">LA - Shreveport Downtown</option>
					<option value="'SHREVEPORT REGIONAL ARPT'">LA - Shreveport Regional Arpt</option>
					<option value="'BARNSTABLE MUNI BOA'">MA - Barnstable Muni Boa</option>
					<option value="'BEVERLY MUNI'">MA - Beverly Muni</option>
					<option value="'BOSTON LOGAN INT'L ARPT'">MA - Boston Logan Int'L Arpt</option>
					<option value="'CHICOPEE FALLS WESTO'">MA - Chicopee Falls Westo</option>
					<option value="'LAWRENCE MUNI'">MA - Lawrence Muni</option>
					<option value="'MARTHAS VINEYARD'">MA - Marthas Vineyard</option>
					<option value="'NANTUCKET MEMORIAL AP'">MA - Nantucket Memorial Ap</option>
					<option value="'NEW BEDFORD RGNL'">MA - New Bedford Rgnl</option>
					<option value="'NORTH ADAMS'">MA - North Adams</option>
					<option value="'NORWOOD MEMORIAL'">MA - Norwood Memorial</option>
					<option value="'OTIS ANGB'">MA - Otis Angb</option>
					<option value="'PLYMOUTH MUNICIPAL'">MA - Plymouth Municipal</option>
					<option value="'PROVINCETOWN (AWOS)'">MA - Provincetown (Awos)</option>
					<option value="'WESTFIELD BARNES MUNI AP'">MA - Westfield Barnes Muni Ap</option>
					<option value="'WORCHESTER REGIONAL ARPT'">MA - Worchester Regional Arpt</option>
					<option value="'ANDREWS AFB'">MD - Andrews Afb</option>
					<option value="'BALTIMORE BLT-WASHNGTN INT'L'">MD - Baltimore Blt-Washngtn Int'L</option>
					<option value="'HAGERSTOWN RGNL RIC'">MD - Hagerstown Rgnl Ric</option>
					<option value="'PATUXENT RIVER NAS'">MD - Patuxent River Nas</option>
					<option value="'SALISBURY WICOMICO CO AP'">MD - Salisbury Wicomico Co Ap</option>
					<option value="'AUBURN-LEWISTON'">ME - Auburn-Lewiston</option>
					<option value="'AUGUSTA AIRPORT'">ME - Augusta Airport</option>
					<option value="'BANGOR INTERNATIONAL AP'">ME - Bangor International Ap</option>
					<option value="'BAR HARBOR (AWOS)'">ME - Bar Harbor (Awos)</option>
					<option value="'CARIBOU MUNICIPAL ARPT'">ME - Caribou Municipal Arpt</option>
					<option value="'HOULTON INTL ARPT'">ME - Houlton Intl Arpt</option>
					<option value="'MILLINOCKET MUNICIPAL AP'">ME - Millinocket Municipal Ap</option>
					<option value="'NAVAL AIR STATION'">ME - Naval Air Station</option>
					<option value="'NORTHERN AROOSTOOK'">ME - Northern Aroostook</option>
					<option value="'PORTLAND INTL JETPORT'">ME - Portland Intl Jetport</option>
					<option value="'PRESQUE ISLE MUNICIP'">ME - Presque Isle Municip</option>
					<option value="'ROCKLAND/KNOX(AWOS)'">ME - Rockland/Knox(Awos)</option>
					<option value="'SANFORD MUNI (AWOS)'">ME - Sanford Muni (Awos)</option>
					<option value="'WATERVILLE (AWOS)'">ME - Waterville (Awos)</option>
					<option value="'WISCASSET'">ME - Wiscasset</option>
					<option value="'ALPENA COUNTY REGIONAL AP'">MI - Alpena County Regional Ap</option>
					<option value="'ANN ARBOR MUNICIPAL'">MI - Ann Arbor Municipal</option>
					<option value="'BATTLE CREEK KELLOGG AP'">MI - Battle Creek Kellogg Ap</option>
					<option value="'BENTON HARBOR/ROSS'">MI - Benton Harbor/Ross</option>
					<option value="'CADILLAC WEXFORD CO AP'">MI - Cadillac Wexford Co Ap</option>
					<option value="'CHIPPEWA CO INTL'">MI - Chippewa Co Intl</option>
					<option value="'DETROIT CITY AIRPORT'">MI - Detroit City Airport</option>
					<option value="'DETROIT METROPOLITAN ARPT'">MI - Detroit Metropolitan Arpt</option>
					<option value="'DETROIT WILLOW RUN AP'">MI - Detroit Willow Run Ap</option>
					<option value="'ESCANABA (AWOS)'">MI - Escanaba (Awos)</option>
					<option value="'FLINT BISHOP INTL ARPT'">MI - Flint Bishop Intl Arpt</option>
					<option value="'GRAND RAPIDS KENT COUNTY INT''">MI - Grand Rapids Kent County Int'</option>
					<option value="'HANCOCK HOUGHTON CO AP'">MI - Hancock Houghton Co Ap</option>
					<option value="'HOUGHTON LAKE ROSCOMMON CO AR'">MI - Houghton Lake Roscommon Co Ar</option>
					<option value="'HOWELL'">MI - Howell</option>
					<option value="'IRON MOUNTAIN/FORD'">MI - Iron Mountain/Ford</option>
					<option value="'IRONWOOD (AWOS)'">MI - Ironwood (Awos)</option>
					<option value="'JACKSON REYNOLDS FIELD'">MI - Jackson Reynolds Field</option>
					<option value="'KALAMAZOO BATTLE CR'">MI - Kalamazoo Battle Cr</option>
					<option value="'LANSING CAPITAL CITY ARPT'">MI - Lansing Capital City Arpt</option>
					<option value="'MANISTEE (AWOS)'">MI - Manistee (Awos)</option>
					<option value="'MENOMINEE (AWOS)'">MI - Menominee (Awos)</option>
					<option value="'MOUNT CLEMENS SELFRIDGE FLD'">MI - Mount Clemens Selfridge Fld</option>
					<option value="'MUSKEGON COUNTY ARPT'">MI - Muskegon County Arpt</option>
					<option value="'OAKLAND CO INTL'">MI - Oakland Co Intl</option>
					<option value="'OSCODA WURTSMITH AFB'">MI - Oscoda Wurtsmith Afb</option>
					<option value="'PELLSTON EMMET COUNTY AP'">MI - Pellston Emmet County Ap</option>
					<option value="'SAGINAW TRI CITY INTL AP'">MI - Saginaw Tri City Intl Ap</option>
					<option value="'SAULT STE MARIE SANDERSON FIE'">MI - Sault Ste Marie Sanderson Fie</option>
					<option value="'ST.CLAIR COUNTY INT'">MI - St.Clair County Int</option>
					<option value="'TRAVERSE CITY CHERRY CAPITAL'">MI - Traverse City Cherry Capital</option>
					<option value="'AITKIN NDB(AWOS)'">MN - Aitkin Ndb(Awos)</option>
					<option value="'ALBERT LEA (AWOS)'">MN - Albert Lea (Awos)</option>
					<option value="'ALEXANDRIA MUNICIPAL AP'">MN - Alexandria Municipal Ap</option>
					<option value="'AUSTIN MUNI'">MN - Austin Muni</option>
					<option value="'BAUDETTE INTERNATIONAL AP'">MN - Baudette International Ap</option>
					<option value="'BEMIDJI MUNICIPAL'">MN - Bemidji Municipal</option>
					<option value="'BENSON MUNI'">MN - Benson Muni</option>
					<option value="'BRAINERD/WIELAND'">MN - Brainerd/Wieland</option>
					<option value="'CAMBRIDGE MUNI'">MN - Cambridge Muni</option>
					<option value="'CLOQUET (AWOS)'">MN - Cloquet (Awos)</option>
					<option value="'CRANE LAKE (AWOS)'">MN - Crane Lake (Awos)</option>
					<option value="'CROOKSTON MUNI FLD'">MN - Crookston Muni Fld</option>
					<option value="'DETROIT LAKES(AWOS)'">MN - Detroit Lakes(Awos)</option>
					<option value="'DULUTH INTERNATIONAL ARPT'">MN - Duluth International Arpt</option>
					<option value="'ELY MUNI'">MN - Ely Muni</option>
					<option value="'EVELETH MUNI (AWOS)'">MN - Eveleth Muni (Awos)</option>
					<option value="'FAIRMONT MUNI(AWOS)'">MN - Fairmont Muni(Awos)</option>
					<option value="'FARIBAULT MUNI AWOS'">MN - Faribault Muni Awos</option>
					<option value="'FERGUS FALLS(AWOS)'">MN - Fergus Falls(Awos)</option>
					<option value="'FLYING CLOUD'">MN - Flying Cloud</option>
					<option value="'FOSSTON(AWOS)'">MN - Fosston(Awos)</option>
					<option value="'GLENWOOD (ASOS)'">MN - Glenwood (Asos)</option>
					<option value="'GRAND RAPIDS(AWOS)'">MN - Grand Rapids(Awos)</option>
					<option value="'HALLOCK'">MN - Hallock</option>
					<option value="'HIBBING CHISHOLM-HIBBING AP'">MN - Hibbing Chisholm-Hibbing Ap</option>
					<option value="'HUTCHINSON (AWOS)'">MN - Hutchinson (Awos)</option>
					<option value="'INTERNATIONAL FALLS INTL AP'">MN - International Falls Intl Ap</option>
					<option value="'LITCHFIELD MUNI'">MN - Litchfield Muni</option>
					<option value="'LITTLE FALLS (AWOS)'">MN - Little Falls (Awos)</option>
					<option value="'MANKATO(AWOS)'">MN - Mankato(Awos)</option>
					<option value="'MARSHALL/RYAN(AWOS)'">MN - Marshall/Ryan(Awos)</option>
					<option value="'MINNEAPOLIS/CRYSTAL'">MN - Minneapolis/Crystal</option>
					<option value="'MINNEAPOLIS-ST PAUL INT'L ARP'">MN - Minneapolis-St Paul Int'L Arp</option>
					<option value="'MORA MUNI (AWOS)'">MN - Mora Muni (Awos)</option>
					<option value="'MORRIS MUNI (AWOS)'">MN - Morris Muni (Awos)</option>
					<option value="'NEW ULM MUNI (AWOS)'">MN - New Ulm Muni (Awos)</option>
					<option value="'ORR'">MN - Orr</option>
					<option value="'OWATONNA (AWOS)'">MN - Owatonna (Awos)</option>
					<option value="'PARK RAPIDS MUNICIPAL AP'">MN - Park Rapids Municipal Ap</option>
					<option value="'PIPESTONE (AWOS)'">MN - Pipestone (Awos)</option>
					<option value="'RED WING'">MN - Red Wing</option>
					<option value="'REDWOOD FALLS MUNI'">MN - Redwood Falls Muni</option>
					<option value="'ROCHESTER INTERNATIONAL ARPT'">MN - Rochester International Arpt</option>
					<option value="'ROSEAU MUNI (AWOS)'">MN - Roseau Muni (Awos)</option>
					<option value="'SILVER BAY'">MN - Silver Bay</option>
					<option value="'SOUTH ST PAUL MUNI'">MN - South St Paul Muni</option>
					<option value="'ST CLOUD REGIONAL ARPT'">MN - St Cloud Regional Arpt</option>
					<option value="'ST PAUL DOWNTOWN AP'">MN - St Paul Downtown Ap</option>
					<option value="'THIEF RIVER(AWOS)'">MN - Thief River(Awos)</option>
					<option value="'TWO HARBORS'">MN - Two Harbors</option>
					<option value="'WHEATON NDB (AWOS)'">MN - Wheaton Ndb (Awos)</option>
					<option value="'WILLMAR'">MN - Willmar</option>
					<option value="'WINONA MUNI (AWOS)'">MN - Winona Muni (Awos)</option>
					<option value="'WORTHINGTON (AWOS)'">MN - Worthington (Awos)</option>
					<option value="'CAPE GIRARDEAU MUNICIPAL AP'">MO - Cape Girardeau Municipal Ap</option>
					<option value="'COLUMBIA REGIONAL AIRPORT'">MO - Columbia Regional Airport</option>
					<option value="'FARMINGTON'">MO - Farmington</option>
					<option value="'FT LNRD WD AAF'">MO - Ft Lnrd Wd Aaf</option>
					<option value="'JEFFERSON CITY MEM'">MO - Jefferson City Mem</option>
					<option value="'JOPLIN MUNICIPAL AP'">MO - Joplin Municipal Ap</option>
					<option value="'KAISER MEM (AWOS)'">MO - Kaiser Mem (Awos)</option>
					<option value="'KANSAS CITY DOWNTOWN AP'">MO - Kansas City Downtown Ap</option>
					<option value="'KANSAS CITY INT'L ARPT'">MO - Kansas City Int'L Arpt</option>
					<option value="'KIRKSVILLE REGIONAL AP'">MO - Kirksville Regional Ap</option>
					<option value="'POPLAR BLUFF(AMOS)'">MO - Poplar Bluff(Amos)</option>
					<option value="'SPRINGFIELD REGIONAL ARPT'">MO - Springfield Regional Arpt</option>
					<option value="'ST JOSEPH ROSECRANS MEMORIAL'">MO - St Joseph Rosecrans Memorial</option>
					<option value="'ST LOUIS LAMBERT INT'L ARPT'">MO - St Louis Lambert Int'L Arpt</option>
					<option value="'ST LOUIS SPIRIT OF ST LOUIS A'">MO - St Louis Spirit Of St Louis A</option>
					<option value="'VICHY ROLLA NATL ARPT'">MO - Vichy Rolla Natl Arpt</option>
					<option value="'WHITEMAN AFB'">MO - Whiteman Afb</option>
					<option value="'COLUMBUS AFB'">MS - Columbus Afb</option>
					<option value="'GOLDEN TRI(AWOS)'">MS - Golden Tri(Awos)</option>
					<option value="'GREENVILLE MUNICIPAL'">MS - Greenville Municipal</option>
					<option value="'GREENWOOD LEFLORE ARPT'">MS - Greenwood Leflore Arpt</option>
					<option value="'GULFPORT BILOXI INT'">MS - Gulfport Biloxi Int</option>
					<option value="'HATTIESBURG LAUREL'">MS - Hattiesburg Laurel</option>
					<option value="'JACKSON INTERNATIONAL AP'">MS - Jackson International Ap</option>
					<option value="'KEESLER AFB'">MS - Keesler Afb</option>
					<option value="'MCCOMB PIKE COUNTY AP'">MS - Mccomb Pike County Ap</option>
					<option value="'MERIDIAN KEY FIELD'">MS - Meridian Key Field</option>
					<option value="'MERIDIAN NAAS'">MS - Meridian Naas</option>
					<option value="'NATCHEZ/HARDY(AWOS)'">MS - Natchez/Hardy(Awos)</option>
					<option value="'TUPELO C D LEMONS ARPT'">MS - Tupelo C D Lemons Arpt</option>
					<option value="'BILLINGS LOGAN INT'L ARPT'">MT - Billings Logan Int'L Arpt</option>
					<option value="'BOZEMAN GALLATIN FIELD'">MT - Bozeman Gallatin Field</option>
					<option value="'BUTTE BERT MOONEY ARPT'">MT - Butte Bert Mooney Arpt</option>
					<option value="'CUT BANK MUNI AP'">MT - Cut Bank Muni Ap</option>
					<option value="'GLASGOW INTL ARPT'">MT - Glasgow Intl Arpt</option>
					<option value="'GLENDIVE(AWOS)'">MT - Glendive(Awos)</option>
					<option value="'GREAT FALLS INTL ARPT'">MT - Great Falls Intl Arpt</option>
					<option value="'HAVRE CITY-COUNTY AP'">MT - Havre City-County Ap</option>
					<option value="'HELENA REGIONAL AIRPORT'">MT - Helena Regional Airport</option>
					<option value="'KALISPELL GLACIER PK INT'L AR'">MT - Kalispell Glacier Pk Int'L Ar</option>
					<option value="'LEWISTOWN MUNICIPAL ARPT'">MT - Lewistown Municipal Arpt</option>
					<option value="'LIVINGSTON MISSION FIELD'">MT - Livingston Mission Field</option>
					<option value="'MILES CITY MUNICIPAL ARPT'">MT - Miles City Municipal Arpt</option>
					<option value="'MISSOULA INTERNATIONAL AP'">MT - Missoula International Ap</option>
					<option value="'SIDNEY-RICHLAND'">MT - Sidney-Richland</option>
					<option value="'WOLF POINT INTL [FORT PECK - SURFRAD]'">MT - Wolf Point Intl [Fort Peck - Surfrad]</option>
					<option value="'ASHEVILLE REGIONAL ARPT'">NC - Asheville Regional Arpt</option>
					<option value="'CAPE HATTERAS NWS BLDG'">NC - Cape Hatteras Nws Bldg</option>
					<option value="'CHARLOTTE DOUGLAS INTL ARPT'">NC - Charlotte Douglas Intl Arpt</option>
					<option value="'CHERRY POINT MCAS'">NC - Cherry Point Mcas</option>
					<option value="'DARE CO RGNL'">NC - Dare Co Rgnl</option>
					<option value="'ELIZABETH CITY COAST GUARD AI [NREL]'">NC - Elizabeth City Coast Guard Ai [Nrel]</option>
					<option value="'FAYETTEVILLE POPE AFB'">NC - Fayetteville Pope Afb</option>
					<option value="'FAYETTEVILLE RGNL G'">NC - Fayetteville Rgnl G</option>
					<option value="'FORT BRAGG SIMMONS AAF'">NC - Fort Bragg Simmons Aaf</option>
					<option value="'GOLDSBORO SEYMOUR JOHNSON AFB'">NC - Goldsboro Seymour Johnson Afb</option>
					<option value="'GREENSBORO PIEDMONT TRIAD INT'">NC - Greensboro Piedmont Triad Int</option>
					<option value="'HICKORY REGIONAL AP'">NC - Hickory Regional Ap</option>
					<option value="'JACKSONVILLE (AWOS)'">NC - Jacksonville (Awos)</option>
					<option value="'KINSTON STALLINGS AFB'">NC - Kinston Stallings Afb</option>
					<option value="'NEW BERN CRAVEN CO REGL AP'">NC - New Bern Craven Co Regl Ap</option>
					<option value="'NEW RIVER MCAF'">NC - New River Mcaf</option>
					<option value="'PITT GREENVILLE ARP'">NC - Pitt Greenville Arp</option>
					<option value="'RALEIGH DURHAM INTERNATIONAL'">NC - Raleigh Durham International</option>
					<option value="'ROCKY MOUNT WILSON'">NC - Rocky Mount Wilson</option>
					<option value="'SOUTHERN PINES AWOS'">NC - Southern Pines Awos</option>
					<option value="'WILMINGTON INTERNATIONAL ARPT'">NC - Wilmington International Arpt</option>
					<option value="'WINSTON-SALEM REYNOLDS AP'">NC - Winston-Salem Reynolds Ap</option>
					<option value="'BISMARCK MUNICIPAL ARPT [ISIS]'">ND - Bismarck Municipal Arpt [Isis]</option>
					<option value="'DEVILS LAKE(AWOS)'">ND - Devils Lake(Awos)</option>
					<option value="'DICKINSON MUNICIPAL AP'">ND - Dickinson Municipal Ap</option>
					<option value="'FARGO HECTOR INTERNATIONAL AP'">ND - Fargo Hector International Ap</option>
					<option value="'GRAND FORKS AF'">ND - Grand Forks Af</option>
					<option value="'GRAND FORKS INTERNATIONAL AP'">ND - Grand Forks International Ap</option>
					<option value="'JAMESTOWN MUNICIPAL ARPT'">ND - Jamestown Municipal Arpt</option>
					<option value="'MINOT AFB'">ND - Minot Afb</option>
					<option value="'MINOT FAA AP'">ND - Minot Faa Ap</option>
					<option value="'WILLISTON SLOULIN INTL AP'">ND - Williston Sloulin Intl Ap</option>
					<option value="'AINSWORTH MUNICIPAL'">NE - Ainsworth Municipal</option>
					<option value="'ALLIANCE MUNICIPAL'">NE - Alliance Municipal</option>
					<option value="'BEATRICE MUNICIPAL'">NE - Beatrice Municipal</option>
					<option value="'BELLEVUE OFFUTT AFB'">NE - Bellevue Offutt Afb</option>
					<option value="'BREWSTER FIELD ARPT'">NE - Brewster Field Arpt</option>
					<option value="'BROKEN BOW MUNI'">NE - Broken Bow Muni</option>
					<option value="'CHADRON MUNICIPAL AP'">NE - Chadron Municipal Ap</option>
					<option value="'COLUMBUS MUNI'">NE - Columbus Muni</option>
					<option value="'FALLS CITY/BRENNER'">NE - Falls City/Brenner</option>
					<option value="'FREMONT MUNI ARPT'">NE - Fremont Muni Arpt</option>
					<option value="'GRAND ISLAND CENTRAL NE REGIO'">NE - Grand Island Central Ne Regio</option>
					<option value="'HASTINGS MUNICIPAL'">NE - Hastings Municipal</option>
					<option value="'IMPERIAL FAA AP'">NE - Imperial Faa Ap</option>
					<option value="'KEARNEY MUNI (AWOS)'">NE - Kearney Muni (Awos)</option>
					<option value="'LINCOLN MUNICIPAL ARPT'">NE - Lincoln Municipal Arpt</option>
					<option value="'MCCOOK MUNICIPAL'">NE - Mccook Municipal</option>
					<option value="'NORFOLK KARL STEFAN MEM ARPT'">NE - Norfolk Karl Stefan Mem Arpt</option>
					<option value="'NORTH PLATTE REGIONAL AP'">NE - North Platte Regional Ap</option>
					<option value="'O`NEILL/BAKER FIELD'">NE - O`Neill/Baker Field</option>
					<option value="'OMAHA EPPLEY AIRFIELD'">NE - Omaha Eppley Airfield</option>
					<option value="'OMAHA WSFO'">NE - Omaha Wsfo</option>
					<option value="'ORD/SHARP FIELD'">NE - Ord/Sharp Field</option>
					<option value="'SCOTTSBLUFF W B HEILIG FIELD'">NE - Scottsbluff W B Heilig Field</option>
					<option value="'SIDNEY MUNICIPAL AP'">NE - Sidney Municipal Ap</option>
					<option value="'TEKAMAH (ASOS)'">NE - Tekamah (Asos)</option>
					<option value="'VALENTINE MILLER FIELD'">NE - Valentine Miller Field</option>
					<option value="'BERLIN MUNICIPAL'">NH - Berlin Municipal</option>
					<option value="'CONCORD MUNICIPAL ARPT'">NH - Concord Municipal Arpt</option>
					<option value="'DILLANT HOPKINS'">NH - Dillant Hopkins</option>
					<option value="'LACONIA MUNI (AWOS)'">NH - Laconia Muni (Awos)</option>
					<option value="'LEBANON MUNICIPAL'">NH - Lebanon Municipal</option>
					<option value="'MANCHESTER AIRPORT'">NH - Manchester Airport</option>
					<option value="'MOUNT WASHINGTON'">NH - Mount Washington</option>
					<option value="'PEASE INTL TRADEPOR'">NH - Pease Intl Tradepor</option>
					<option value="'ATLANTIC CITY INTL AP'">NJ - Atlantic City Intl Ap</option>
					<option value="'BELMAR ASC'">NJ - Belmar Asc</option>
					<option value="'CALDWELL/ESSEX CO.'">NJ - Caldwell/Essex Co.</option>
					<option value="'CAPE MAY CO'">NJ - Cape May Co</option>
					<option value="'MCGUIRE AFB'">NJ - Mcguire Afb</option>
					<option value="'MILLVILLE MUNICIPAL AP'">NJ - Millville Municipal Ap</option>
					<option value="'NEWARK INTERNATIONAL ARPT'">NJ - Newark International Arpt</option>
					<option value="'TETERBORO AIRPORT'">NJ - Teterboro Airport</option>
					<option value="'TRENTON MERCER COUNTY AP'">NJ - Trenton Mercer County Ap</option>
					<option value="'ALBUQUERQUE INTL ARPT [ISIS]'">NM - Albuquerque Intl Arpt [Isis]</option>
					<option value="'CARLSBAD CAVERN CITY AIR TERM'">NM - Carlsbad Cavern City Air Term</option>
					<option value="'CLAYTON MUNICIPAL AIRPARK'">NM - Clayton Municipal Airpark</option>
					<option value="'CLOVIS CANNON AFB'">NM - Clovis Cannon Afb</option>
					<option value="'CLOVIS MUNI  (AWOS)'">NM - Clovis Muni  (Awos)</option>
					<option value="'DEMING MUNI'">NM - Deming Muni</option>
					<option value="'FARMINGTON FOUR CORNERS REGL'">NM - Farmington Four Corners Regl</option>
					<option value="'GALLUP SEN CLARKE FLD'">NM - Gallup Sen Clarke Fld</option>
					<option value="'HOLLOMAN AFB'">NM - Holloman Afb</option>
					<option value="'LAS CRUCES INTL'">NM - Las Cruces Intl</option>
					<option value="'LAS VEGAS MUNICIPAL ARPT'">NM - Las Vegas Municipal Arpt</option>
					<option value="'ROSWELL INDUSTRIAL AIR PARK'">NM - Roswell Industrial Air Park</option>
					<option value="'SATA FE COUNTY MUNICIPAL AP'">NM - Sata Fe County Municipal Ap</option>
					<option value="'SIERRA BLANCA RGNL'">NM - Sierra Blanca Rgnl</option>
					<option value="'TAOS MUNI APT(AWOS)'">NM - Taos Muni Apt(Awos)</option>
					<option value="'TRUTH OR CONSEQUENCES MUNI AP'">NM - Truth Or Consequences Muni Ap</option>
					<option value="'TUCUMCARI FAA AP'">NM - Tucumcari Faa Ap</option>
					<option value="'ELKO MUNICIPAL ARPT'">NV - Elko Municipal Arpt</option>
					<option value="'ELY YELLAND FIELD'">NV - Ely Yelland Field</option>
					<option value="'FALLON NAAS'">NV - Fallon Naas</option>
					<option value="'LAS VEGAS MCCARRAN INTL AP'">NV - Las Vegas Mccarran Intl Ap</option>
					<option value="'LOVELOCK DERBY FIELD'">NV - Lovelock Derby Field</option>
					<option value="'MERCURY DESERT ROCK AP [SURFRAD]'">NV - Mercury Desert Rock Ap [Surfrad]</option>
					<option value="'NELLIS AFB'">NV - Nellis Afb</option>
					<option value="'RENO TAHOE INTERNATIONAL AP'">NV - Reno Tahoe International Ap</option>
					<option value="'TONOPAH AIRPORT'">NV - Tonopah Airport</option>
					<option value="'WINNEMUCCA MUNICIPAL ARPT'">NV - Winnemucca Municipal Arpt</option>
					<option value="'ADIRONDACK RGNL'">NY - Adirondack Rgnl</option>
					<option value="'ALBANY COUNTY AP'">NY - Albany County Ap</option>
					<option value="'BINGHAMTON EDWIN A LINK FIELD'">NY - Binghamton Edwin A Link Field</option>
					<option value="'BUFFALO NIAGARA INTL AP'">NY - Buffalo Niagara Intl Ap</option>
					<option value="'ELMIRA CORNING REGIONAL AP'">NY - Elmira Corning Regional Ap</option>
					<option value="'FORT DRUM/WHEELER-S'">NY - Fort Drum/Wheeler-S</option>
					<option value="'GLENS FALLS AP'">NY - Glens Falls Ap</option>
					<option value="'ISLIP LONG ISL MACARTHUR AP'">NY - Islip Long Isl Macarthur Ap</option>
					<option value="'JAMESTOWN (AWOS)'">NY - Jamestown (Awos)</option>
					<option value="'MASSENA AP'">NY - Massena Ap</option>
					<option value="'MONTICELLO(AWOS)'">NY - Monticello(Awos)</option>
					<option value="'NEW YORK CENTRAL PRK OBS BELV'">NY - New York Central Prk Obs Belv</option>
					<option value="'NEW YORK J F KENNEDY INT'L AR'">NY - New York J F Kennedy Int'L Ar</option>
					<option value="'NEW YORK LAGUARDIA ARPT'">NY - New York Laguardia Arpt</option>
					<option value="'NIAGARA FALLS AF'">NY - Niagara Falls Af</option>
					<option value="'POUGHKEEPSIE DUTCHESS CO AP'">NY - Poughkeepsie Dutchess Co Ap</option>
					<option value="'REPUBLIC'">NY - Republic</option>
					<option value="'ROCHESTER GREATER ROCHESTER I'">NY - Rochester Greater Rochester I</option>
					<option value="'STEWART FIELD'">NY - Stewart Field</option>
					<option value="'SYRACUSE HANCOCK INT'L ARPT'">NY - Syracuse Hancock Int'L Arpt</option>
					<option value="'UTICA ONEIDA COUNTY AP'">NY - Utica Oneida County Ap</option>
					<option value="'WATERTOWN AP'">NY - Watertown Ap</option>
					<option value="'WESTHAMPTON GABRESKI AP'">NY - Westhampton Gabreski Ap</option>
					<option value="'WHITE PLAINS WESTCHESTER CO A'">NY - White Plains Westchester Co A</option>
					<option value="'AKRON AKRON-CANTON REG AP'">OH - Akron Akron-Canton Reg Ap</option>
					<option value="'BURKE LAKEFRONT'">OH - Burke Lakefront</option>
					<option value="'CINCINNATI MUNICIPAL AP LUNKI'">OH - Cincinnati Municipal Ap Lunki</option>
					<option value="'CLEVELAND HOPKINS INTL AP'">OH - Cleveland Hopkins Intl Ap</option>
					<option value="'COLUMBUS PORT COLUMBUS INTL A'">OH - Columbus Port Columbus Intl A</option>
					<option value="'DAYTON INTERNATIONAL AIRPORT'">OH - Dayton International Airport</option>
					<option value="'DAYTON WRIGHT PATTERSON AFB'">OH - Dayton Wright Patterson Afb</option>
					<option value="'FINDLAY AIRPORT'">OH - Findlay Airport</option>
					<option value="'MANSFIELD LAHM MUNICIPAL ARPT'">OH - Mansfield Lahm Municipal Arpt</option>
					<option value="'OHIO STATE UNIVERSI'">OH - Ohio State Universi</option>
					<option value="'TOLEDO EXPRESS AIRPORT'">OH - Toledo Express Airport</option>
					<option value="'YOUNGSTOWN REGIONAL AIRPORT'">OH - Youngstown Regional Airport</option>
					<option value="'ZANESVILLE MUNICIPAL AP'">OH - Zanesville Municipal Ap</option>
					<option value="'ALTUS AFB'">OK - Altus Afb</option>
					<option value="'BARTLESVILLE/PHILLI'">OK - Bartlesville/Philli</option>
					<option value="'CLINTON-SHERMAN'">OK - Clinton-Sherman</option>
					<option value="'FORT SILL POST FIELD AF'">OK - Fort Sill Post Field Af</option>
					<option value="'GAGE AIRPORT'">OK - Gage Airport</option>
					<option value="'HOBART MUNICIPAL AP'">OK - Hobart Municipal Ap</option>
					<option value="'LAWTON MUNICIPAL'">OK - Lawton Municipal</option>
					<option value="'MCALESTER MUNICIPAL AP'">OK - Mcalester Municipal Ap</option>
					<option value="'OKLAHOMA CITY TINKER AFB'">OK - Oklahoma City Tinker Afb</option>
					<option value="'OKLAHOMA CITY WILL ROGERS WOR'">OK - Oklahoma City Will Rogers Wor</option>
					<option value="'OKLAHOMA CITY/WILEY'">OK - Oklahoma City/Wiley</option>
					<option value="'PONCA CITY MUNICIPAL AP [SGP - ARM]'">OK - Ponca City Municipal Ap [Sgp - Arm]</option>
					<option value="'STILLWATER RGNL'">OK - Stillwater Rgnl</option>
					<option value="'TULSA INTERNATIONAL AIRPORT'">OK - Tulsa International Airport</option>
					<option value="'VANCE AFB'">OK - Vance Afb</option>
					<option value="'ASTORIA REGIONAL AIRPORT'">OR - Astoria Regional Airport</option>
					<option value="'AURORA STATE'">OR - Aurora State</option>
					<option value="'BAKER MUNICIPAL AP'">OR - Baker Municipal Ap</option>
					<option value="'BURNS MUNICIPAL ARPT [UO]'">OR - Burns Municipal Arpt [Uo]</option>
					<option value="'CORVALLIS MUNI'">OR - Corvallis Muni</option>
					<option value="'EUGENE MAHLON SWEET ARPT [UO]'">OR - Eugene Mahlon Sweet Arpt [Uo]</option>
					<option value="'KLAMATH FALLS INTL AP [UO]'">OR - Klamath Falls Intl Ap [Uo]</option>
					<option value="'LA GRANDE MUNI AP'">OR - La Grande Muni Ap</option>
					<option value="'LAKEVIEW (AWOS)'">OR - Lakeview (Awos)</option>
					<option value="'MEDFORD ROGUE VALLEY INTL AP [ASHLAND - UO]'">OR - Medford Rogue Valley Intl Ap [Ashland - Uo]</option>
					<option value="'NORTH BEND MUNI AIRPORT'">OR - North Bend Muni Airport</option>
					<option value="'PENDLETON E OR REGIONAL AP'">OR - Pendleton E Or Regional Ap</option>
					<option value="'PORTLAND INTERNATIONAL AP'">OR - Portland International Ap</option>
					<option value="'PORTLAND/HILLSBORO'">OR - Portland/Hillsboro</option>
					<option value="'PORTLAND/TROUTDALE'">OR - Portland/Troutdale</option>
					<option value="'REDMOND ROBERTS FIELD'">OR - Redmond Roberts Field</option>
					<option value="'ROSEBURG REGIONAL AP'">OR - Roseburg Regional Ap</option>
					<option value="'SALEM MCNARY FIELD'">OR - Salem Mcnary Field</option>
					<option value="'SEXTON SUMMIT'">OR - Sexton Summit</option>
					<option value="'ALLENTOWN LEHIGH VALLEY INTL'">PA - Allentown Lehigh Valley Intl</option>
					<option value="'ALTOONA BLAIR CO ARPT'">PA - Altoona Blair Co Arpt</option>
					<option value="'BRADFORD REGIONAL AP'">PA - Bradford Regional Ap</option>
					<option value="'BUTLER CO. (AWOS)'">PA - Butler Co. (Awos)</option>
					<option value="'DUBOIS FAA AP'">PA - Dubois Faa Ap</option>
					<option value="'ERIE INTERNATIONAL AP'">PA - Erie International Ap</option>
					<option value="'FRANKLIN'">PA - Franklin</option>
					<option value="'HARRISBURG CAPITAL CITY ARPT'">PA - Harrisburg Capital City Arpt</option>
					<option value="'JOHNSTOWN CAMBRIA COUNTY AP'">PA - Johnstown Cambria County Ap</option>
					<option value="'LANCASTER'">PA - Lancaster</option>
					<option value="'MIDDLETOWN HARRISBURG INTL AP'">PA - Middletown Harrisburg Intl Ap</option>
					<option value="'PHILADELPHIA INTERNATIONAL AP'">PA - Philadelphia International Ap</option>
					<option value="'PHILADELPHIA NE PHILADELPHIA'">PA - Philadelphia Ne Philadelphia</option>
					<option value="'PITTSBURGH ALLEGHENY CO AP'">PA - Pittsburgh Allegheny Co Ap</option>
					<option value="'PITTSBURGH INTERNATIONAL AP'">PA - Pittsburgh International Ap</option>
					<option value="'READING SPAATZ FIELD'">PA - Reading Spaatz Field</option>
					<option value="'STATE COLLEGE [PENN STATE - SURFRAD]'">PA - State College [Penn State - Surfrad]</option>
					<option value="'WASHINGTON (AWOS)'">PA - Washington (Awos)</option>
					<option value="'WILKES-BARRE SCRANTON INTL AP'">PA - Wilkes-Barre Scranton Intl Ap</option>
					<option value="'WILLIAMSPORT REGIONAL AP'">PA - Williamsport Regional Ap</option>
					<option value="'WILLOW GROVE NAS'">PA - Willow Grove Nas</option>
					<option value="'AQUADILLA/BORINQUEN'">PR - Aquadilla/Borinquen</option>
					<option value="'EUGENIO MARIA DE HO'">PR - Eugenio Maria De Ho</option>
					<option value="'MERCEDITA'">PR - Mercedita</option>
					<option value="'ROOSEVELT ROADS'">PR - Roosevelt Roads</option>
					<option value="'SAN JUAN INTL ARPT'">PR - San Juan Intl Arpt</option>
					<option value="'SAN JUAN L M MARIN INTL AP'">PR - San Juan L M Marin Intl Ap</option>
					<option value="'BLOCK ISLAND STATE ARPT'">RI - Block Island State Arpt</option>
					<option value="'PAWTUCKET (AWOS)'">RI - Pawtucket (Awos)</option>
					<option value="'PROVIDENCE T F GREEN STATE AR'">RI - Providence T F Green State Ar</option>
					<option value="'ANDERSON COUNTY AP'">SC - Anderson County Ap</option>
					<option value="'BEAUFORT MCAS'">SC - Beaufort Mcas</option>
					<option value="'CHARLESTON INTL ARPT'">SC - Charleston Intl Arpt</option>
					<option value="'COLUMBIA METRO ARPT'">SC - Columbia Metro Arpt</option>
					<option value="'FLORENCE REGIONAL AP'">SC - Florence Regional Ap</option>
					<option value="'GREENVILLE DOWNTOWN AP'">SC - Greenville Downtown Ap</option>
					<option value="'GREER GREENV'L-SPARTANBRG AP'">SC - Greer Greenv'L-Spartanbrg Ap</option>
					<option value="'MYRTLE BEACH AFB'">SC - Myrtle Beach Afb</option>
					<option value="'NORTH MYRTLE BEACH GRAND STRA'">SC - North Myrtle Beach Grand Stra</option>
					<option value="'SUMTER SHAW AFB'">SC - Sumter Shaw Afb</option>
					<option value="'ABERDEEN REGIONAL ARPT'">SD - Aberdeen Regional Arpt</option>
					<option value="'BROOKINGS (AWOS)'">SD - Brookings (Awos)</option>
					<option value="'CHAN GURNEY MUNI'">SD - Chan Gurney Muni</option>
					<option value="'ELLSWORTH AFB'">SD - Ellsworth Afb</option>
					<option value="'HURON REGIONAL ARPT'">SD - Huron Regional Arpt</option>
					<option value="'MITCHELL (AWOS)'">SD - Mitchell (Awos)</option>
					<option value="'MOBRIDGE'">SD - Mobridge</option>
					<option value="'PIERRE MUNICIPAL AP'">SD - Pierre Municipal Ap</option>
					<option value="'RAPID CITY REGIONAL ARPT'">SD - Rapid City Regional Arpt</option>
					<option value="'SIOUX FALLS FOSS FIELD'">SD - Sioux Falls Foss Field</option>
					<option value="'WATERTOWN MUNICIPAL AP'">SD - Watertown Municipal Ap</option>
					<option value="'BRISTOL TRI CITY AIRPORT'">TN - Bristol Tri City Airport</option>
					<option value="'CHATTANOOGA LOVELL FIELD AP'">TN - Chattanooga Lovell Field Ap</option>
					<option value="'CROSSVILLE MEMORIAL AP'">TN - Crossville Memorial Ap</option>
					<option value="'DYERSBURG MUNICIPAL AP'">TN - Dyersburg Municipal Ap</option>
					<option value="'JACKSON MCKELLAR-SIPES REGL A'">TN - Jackson Mckellar-Sipes Regl A</option>
					<option value="'KNOXVILLE MCGHEE TYSON AP'">TN - Knoxville Mcghee Tyson Ap</option>
					<option value="'MEMPHIS INTERNATIONAL AP'">TN - Memphis International Ap</option>
					<option value="'NASHVILLE INTERNATIONAL AP'">TN - Nashville International Ap</option>
					<option value="'ABILENE DYESS AFB'">TX - Abilene Dyess Afb</option>
					<option value="'ABILENE REGIONAL AP [UT]'">TX - Abilene Regional Ap [Ut]</option>
					<option value="'ALICE INTL AP'">TX - Alice Intl Ap</option>
					<option value="'AMARILLO INTERNATIONAL AP [CANYON - UT]'">TX - Amarillo International Ap [Canyon - Ut]</option>
					<option value="'AUSTIN MUELLER MUNICIPAL AP [UT]'">TX - Austin Mueller Municipal Ap [Ut]</option>
					<option value="'BROWNSVILLE S PADRE ISL INTL'">TX - Brownsville S Padre Isl Intl</option>
					<option value="'CAMP MABRY'">TX - Camp Mabry</option>
					<option value="'CHILDRESS MUNICIPAL AP'">TX - Childress Municipal Ap</option>
					<option value="'COLLEGE STATION EASTERWOOD FL'">TX - College Station Easterwood Fl</option>
					<option value="'CORPUS CHRISTI INTL ARPT [UT]'">TX - Corpus Christi Intl Arpt [Ut]</option>
					<option value="'CORPUS CHRISTI NAS'">TX - Corpus Christi Nas</option>
					<option value="'COTULLA FAA AP'">TX - Cotulla Faa Ap</option>
					<option value="'COX FLD'">TX - Cox Fld</option>
					<option value="'DALHART MUNICIPAL AP'">TX - Dalhart Municipal Ap</option>
					<option value="'DALLAS LOVE FIELD'">TX - Dallas Love Field</option>
					<option value="'DALLAS/ADDISON ARPT'">TX - Dallas/Addison Arpt</option>
					<option value="'DALLAS/REDBIRD ARPT'">TX - Dallas/Redbird Arpt</option>
					<option value="'DALLAS-FORT WORTH INTL AP'">TX - Dallas-Fort Worth Intl Ap</option>
					<option value="'DEL RIO [UT]'">TX - Del Rio [Ut]</option>
					<option value="'DEL RIO LAUGHLIN AFB'">TX - Del Rio Laughlin Afb</option>
					<option value="'DRAUGHON MILLER CEN'">TX - Draughon Miller Cen</option>
					<option value="'EL PASO INTERNATIONAL AP [UT]'">TX - El Paso International Ap [Ut]</option>
					<option value="'FORT HOOD'">TX - Fort Hood</option>
					<option value="'FORT WORTH ALLIANCE'">TX - Fort Worth Alliance</option>
					<option value="'FORT WORTH MEACHAM'">TX - Fort Worth Meacham</option>
					<option value="'FORT WORTH NAS'">TX - Fort Worth Nas</option>
					<option value="'GALVESTON/SCHOLES'">TX - Galveston/Scholes</option>
					<option value="'GEORGETOWN (AWOS)'">TX - Georgetown (Awos)</option>
					<option value="'GREENVILLE/MAJORS'">TX - Greenville/Majors</option>
					<option value="'HARLINGEN RIO GRANDE VALLEY I'">TX - Harlingen Rio Grande Valley I</option>
					<option value="'HONDO MUNICIPAL AP'">TX - Hondo Municipal Ap</option>
					<option value="'HOUSTON BUSH INTERCONTINENTAL'">TX - Houston Bush Intercontinental</option>
					<option value="'HOUSTON ELLINGTON AFB [CLEAR LAKE - UT]'">TX - Houston Ellington Afb [Clear Lake - Ut]</option>
					<option value="'HOUSTON WILLIAM P HOBBY AP'">TX - Houston William P Hobby Ap</option>
					<option value="'HOUSTON/D.W. HOOKS'">TX - Houston/D.W. Hooks</option>
					<option value="'KILLEEN MUNI (AWOS)'">TX - Killeen Muni (Awos)</option>
					<option value="'KINGSVILLE'">TX - Kingsville</option>
					<option value="'LAREDO INTL AP [UT]'">TX - Laredo Intl Ap [Ut]</option>
					<option value="'LONGVIEW GREGG COUNTY AP [OVERTON - UT]'">TX - Longview Gregg County Ap [Overton - Ut]</option>
					<option value="'LUBBOCK INTERNATIONAL AP'">TX - Lubbock International Ap</option>
					<option value="'LUFKIN ANGELINA CO'">TX - Lufkin Angelina Co</option>
					<option value="'MARFA AP'">TX - Marfa Ap</option>
					<option value="'MC GREGOR (AWOS)'">TX - Mc Gregor (Awos)</option>
					<option value="'MCALLEN MILLER INTL AP [EDINBURG - UT]'">TX - Mcallen Miller Intl Ap [Edinburg - Ut]</option>
					<option value="'MIDLAND INTERNATIONAL AP'">TX - Midland International Ap</option>
					<option value="'MINERAL WELLS MUNICIPAL AP'">TX - Mineral Wells Municipal Ap</option>
					<option value="'NACOGDOCHES (AWOS)'">TX - Nacogdoches (Awos)</option>
					<option value="'PALACIOS MUNICIPAL AP'">TX - Palacios Municipal Ap</option>
					<option value="'PORT ARTHUR JEFFERSON COUNTY'">TX - Port Arthur Jefferson County</option>
					<option value="'RANDOLPH AFB'">TX - Randolph Afb</option>
					<option value="'ROBERT GRAY AAF'">TX - Robert Gray Aaf</option>
					<option value="'ROCKPORT/ARANSAS CO'">TX - Rockport/Aransas Co</option>
					<option value="'SAN ANGELO MATHIS FIELD'">TX - San Angelo Mathis Field</option>
					<option value="'SAN ANTONIO INTL AP'">TX - San Antonio Intl Ap</option>
					<option value="'SAN ANTONIO KELLY FIELD AFB'">TX - San Antonio Kelly Field Afb</option>
					<option value="'SAN ANTONIO/STINSON'">TX - San Antonio/Stinson</option>
					<option value="'TYLER/POUNDS FLD'">TX - Tyler/Pounds Fld</option>
					<option value="'VICTORIA REGIONAL AP'">TX - Victoria Regional Ap</option>
					<option value="'WACO REGIONAL AP'">TX - Waco Regional Ap</option>
					<option value="'WICHITA FALLS MUNICIPAL ARPT'">TX - Wichita Falls Municipal Arpt</option>
					<option value="'WINK WINKLER COUNTY AP'">TX - Wink Winkler County Ap</option>
					<option value="'BLANDING'">UT - Blanding</option>
					<option value="'BRYCE CNYN FAA AP'">UT - Bryce Cnyn Faa Ap</option>
					<option value="'CEDAR CITY MUNICIPAL AP'">UT - Cedar City Municipal Ap</option>
					<option value="'DELTA'">UT - Delta</option>
					<option value="'HANKSVILLE'">UT - Hanksville</option>
					<option value="'MOAB/CANYONLANDS [UO]'">UT - Moab/Canyonlands [Uo]</option>
					<option value="'OGDEN HILL AFB'">UT - Ogden Hill Afb</option>
					<option value="'OGDEN HINKLEY AIRPORT'">UT - Ogden Hinkley Airport</option>
					<option value="'PROVO MUNI (AWOS)'">UT - Provo Muni (Awos)</option>
					<option value="'SAINT GEORGE (AWOS)'">UT - Saint George (Awos)</option>
					<option value="'SALT LAKE CITY INT'L ARPT [ISIS]'">UT - Salt Lake City Int'L Arpt [Isis]</option>
					<option value="'VERNAL'">UT - Vernal</option>
					<option value="'WENDOVER USAF AUXILIARY FIELD'">UT - Wendover Usaf Auxiliary Field</option>
					<option value="'ABINGTON'">VA - Abington</option>
					<option value="'CHARLOTTESVILLE FAA'">VA - Charlottesville Faa</option>
					<option value="'DANVILLE FAA AP'">VA - Danville Faa Ap</option>
					<option value="'DAVISON AAF'">VA - Davison Aaf</option>
					<option value="'DINWIDDIE CO'">VA - Dinwiddie Co</option>
					<option value="'FARMVILLE'">VA - Farmville</option>
					<option value="'FRANKLIN NAAS'">VA - Franklin Naas</option>
					<option value="'HILLSVILLE'">VA - Hillsville</option>
					<option value="'HOT SPRINGS/INGALLS'">VA - Hot Springs/Ingalls</option>
					<option value="'LANGLEY AFB'">VA - Langley Afb</option>
					<option value="'LEESBURG/GODFREY'">VA - Leesburg/Godfrey</option>
					<option value="'LYNCHBURG REGIONAL ARPT'">VA - Lynchburg Regional Arpt</option>
					<option value="'MANASSAS MUNI(AWOS)'">VA - Manassas Muni(Awos)</option>
					<option value="'MARION / WYTHEVILLE'">VA - Marion / Wytheville</option>
					<option value="'MARTINSVILLE'">VA - Martinsville</option>
					<option value="'MELFA/ACCOMACK ARPT'">VA - Melfa/Accomack Arpt</option>
					<option value="'NEWPORT NEWS'">VA - Newport News</option>
					<option value="'NORFOLK INTERNATIONAL AP'">VA - Norfolk International Ap</option>
					<option value="'NORFOLK NAS'">VA - Norfolk Nas</option>
					<option value="'OCEANA NAS'">VA - Oceana Nas</option>
					<option value="'PULASKI'">VA - Pulaski</option>
					<option value="'QUANTICO MCAS'">VA - Quantico Mcas</option>
					<option value="'RICHMOND INTERNATIONAL AP'">VA - Richmond International Ap</option>
					<option value="'ROANOKE REGIONAL AP'">VA - Roanoke Regional Ap</option>
					<option value="'SHANNON ARPT'">VA - Shannon Arpt</option>
					<option value="'STAUNTON/SHENANDOAH'">VA - Staunton/Shenandoah</option>
					<option value="'VIRGINIA TECH ARPT'">VA - Virginia Tech Arpt</option>
					<option value="'WASHINGTON DC DULLES INT'L AR [STERLING - ISIS]'">VA - Washington Dc Dulles Int'L Ar [Sterling - Isis]</option>
					<option value="'WASHINGTON DC REAGAN AP'">VA - Washington Dc Reagan Ap</option>
					<option value="'WINCHESTER RGNL'">VA - Winchester Rgnl</option>
					<option value="'WISE/LONESOME PINE'">VA - Wise/Lonesome Pine</option>
					<option value="'CHARLOTTE AMALIE HARRY S TRUM'">VI - Charlotte Amalie Harry S Trum</option>
					<option value="'BURLINGTON INTERNATIONAL AP'">VT - Burlington International Ap</option>
					<option value="'MONTPELIER AP'">VT - Montpelier Ap</option>
					<option value="'RUTLAND STATE'">VT - Rutland State</option>
					<option value="'SPRINGFIELD/HARTNES'">VT - Springfield/Hartnes</option>
					<option value="'BELLINGHAM INTL AP'">WA - Bellingham Intl Ap</option>
					<option value="'BREMERTON NATIONAL'">WA - Bremerton National</option>
					<option value="'EPHRATA AP FCWOS'">WA - Ephrata Ap Fcwos</option>
					<option value="'FAIRCHILD AFB'">WA - Fairchild Afb</option>
					<option value="'FELTS FLD'">WA - Felts Fld</option>
					<option value="'GRAY AAF'">WA - Gray Aaf</option>
					<option value="'HANFORD'">WA - Hanford</option>
					<option value="'HOQUIAM AP'">WA - Hoquiam Ap</option>
					<option value="'KELSO WB AP'">WA - Kelso Wb Ap</option>
					<option value="'MOSES LAKE GRANT COUNTY AP'">WA - Moses Lake Grant County Ap</option>
					<option value="'OLYMPIA AIRPORT'">WA - Olympia Airport</option>
					<option value="'PASCO'">WA - Pasco</option>
					<option value="'PULLMAN/MOSCOW RGNL'">WA - Pullman/Moscow Rgnl</option>
					<option value="'QUILLAYUTE STATE AIRPORT'">WA - Quillayute State Airport</option>
					<option value="'RENTON MUNI'">WA - Renton Muni</option>
					<option value="'SEATTLE BOEING FIELD [ISIS]'">WA - Seattle Boeing Field [Isis]</option>
					<option value="'SEATTLE SEATTLE-TACOMA INTL A'">WA - Seattle Seattle-Tacoma Intl A</option>
					<option value="'SNOHOMISH CO'">WA - Snohomish Co</option>
					<option value="'SPOKANE INTERNATIONAL AP [CHENEY - UO]'">WA - Spokane International Ap [Cheney - Uo]</option>
					<option value="'STAMPEDE PASS'">WA - Stampede Pass</option>
					<option value="'TACOMA MCCHORD AFB'">WA - Tacoma Mcchord Afb</option>
					<option value="'TACOMA NARROWS'">WA - Tacoma Narrows</option>
					<option value="'THE DALLES MUNICIPAL ARPT'">WA - The Dalles Municipal Arpt</option>
					<option value="'TOLEDO-WINLOCK MEM'">WA - Toledo-Winlock Mem</option>
					<option value="'WALLA WALLA CITY COUNTY AP'">WA - Walla Walla City County Ap</option>
					<option value="'WENATCHEE/PANGBORN'">WA - Wenatchee/Pangborn</option>
					<option value="'WHIDBEY ISLAND NAS'">WA - Whidbey Island Nas</option>
					<option value="'WILLIAM R FAIRCHILD'">WA - William R Fairchild</option>
					<option value="'YAKIMA AIR TERMINAL'">WA - Yakima Air Terminal</option>
					<option value="'ANTIGO\\LANG(AWOS)'">WI - Antigo\\Lang(Awos)</option>
					<option value="'APPLETON/OUTAGAMIE'">WI - Appleton/Outagamie</option>
					<option value="'EAU CLAIRE COUNTY AP'">WI - Eau Claire County Ap</option>
					<option value="'GREEN BAY AUSTIN STRAUBEL INT'">WI - Green Bay Austin Straubel Int</option>
					<option value="'JANESVILLE/ROCK CO.'">WI - Janesville/Rock Co.</option>
					<option value="'LA CROSSE MUNICIPAL ARPT'">WI - La Crosse Municipal Arpt</option>
					<option value="'LONE ROCK FAA AP'">WI - Lone Rock Faa Ap</option>
					<option value="'MADISON DANE CO REGIONAL ARPT [ISIS]'">WI - Madison Dane Co Regional Arpt [Isis]</option>
					<option value="'MANITOWAC MUNI AWOS'">WI - Manitowac Muni Awos</option>
					<option value="'MARSHFIELD MUNI'">WI - Marshfield Muni</option>
					<option value="'MILWAUKEE MITCHELL INTL AP'">WI - Milwaukee Mitchell Intl Ap</option>
					<option value="'MINOCQUA/WOODRUFF'">WI - Minocqua/Woodruff</option>
					<option value="'MOSINEE/CENTRAL WI'">WI - Mosinee/Central Wi</option>
					<option value="'PHILLIPS/PRICE CO.'">WI - Phillips/Price Co.</option>
					<option value="'RHINELANDER ONEIDA'">WI - Rhinelander Oneida</option>
					<option value="'RICE LAKE MUNICIPAL'">WI - Rice Lake Municipal</option>
					<option value="'STURGEON BAY'">WI - Sturgeon Bay</option>
					<option value="'WATERTOWN'">WI - Watertown</option>
					<option value="'WAUSAU MUNICIPAL ARPT'">WI - Wausau Municipal Arpt</option>
					<option value="'WITTMAN RGNL'">WI - Wittman Rgnl</option>
					<option value="'BECKLEY RALEIGH CO MEM AP'">WV - Beckley Raleigh Co Mem Ap</option>
					<option value="'BLUEFIELD/MERCER CO [NREL]'">WV - Bluefield/Mercer Co [Nrel]</option>
					<option value="'CHARLESTON YEAGER ARPT'">WV - Charleston Yeager Arpt</option>
					<option value="'ELKINS ELKINS-RANDOLPH CO ARP'">WV - Elkins Elkins-Randolph Co Arp</option>
					<option value="'HARRISON MARION RGN'">WV - Harrison Marion Rgn</option>
					<option value="'HUNTINGTON TRI-STATE ARPT'">WV - Huntington Tri-State Arpt</option>
					<option value="'LEWISBURG/GREENBRIE'">WV - Lewisburg/Greenbrie</option>
					<option value="'MARTINSBURG EASTERN WV REG AP'">WV - Martinsburg Eastern Wv Reg Ap</option>
					<option value="'MORGANTOWN HART FIELD'">WV - Morgantown Hart Field</option>
					<option value="'PARKERSBURG WOOD COUNTY AP'">WV - Parkersburg Wood County Ap</option>
					<option value="'WHEELING OHIO COUNTY AP'">WV - Wheeling Ohio County Ap</option>
					<option value="'CASPER NATRONA CO INTL AP'">WY - Casper Natrona Co Intl Ap</option>
					<option value="'CHEYENNE MUNICIPAL ARPT'">WY - Cheyenne Municipal Arpt</option>
					<option value="'CODY MUNI (AWOS)'">WY - Cody Muni (Awos)</option>
					<option value="'EVANSTON/BURNS FLD'">WY - Evanston/Burns Fld</option>
					<option value="'GILLETTE/GILLETTE-C'">WY - Gillette/Gillette-C</option>
					<option value="'JACKSON HOLE'">WY - Jackson Hole</option>
					<option value="'LANDER HUNT FIELD'">WY - Lander Hunt Field</option>
					<option value="'LARAMIE GENERAL BREES FIELD'">WY - Laramie General Brees Field</option>
					<option value="'RAWLINS MUNICIPAL AP'">WY - Rawlins Municipal Ap</option>
					<option value="'RIVERTON MUNICIPL AP'">WY - Riverton Municipl Ap</option>
					<option value="'ROCK SPRINGS ARPT [GREEN RIVER - UO]'">WY - Rock Springs Arpt [Green River - Uo]</option>
					<option value="'SHERIDAN COUNTY ARPT'">WY - Sheridan County Arpt</option>
					<option value="'WORLAND MUNICIPAL'">WY - Worland Municipal</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Number of devices<span class="classic">The termination tolerance for powerflow, in units P and Q dispatch per unit. Devices must be less than 100 million for all devices. For Water Heater expect 10 minutes per 50 device</span></label>
				<input type="text" id="number_devices" name="number_devices" pattern="[1-9][0-9]{0,8}" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Rated Power(kW)<span class="classic">power</span></label>
				<input type="text" id="power" name="power" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Thermal Capacitance(kWh/&degC)<span class="classic">capacitance</span></label>
				<input type="text" id="capacitance" name="capacitance" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Thermal Resistance(&degC/kW)<span class="classic">resistance</span></label>
				<input type="text" id="resistance" name="resistance" pattern="^\d+\.?\d*?$" required="required">
			</div>			
			<div class="shortInput">
				<label class="tooltip">COP<span class="classic">Coefficient of Power</span></label>
				<input type="text" id="cop" name="cop" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Temperature Setpoint(&degC)<span class="classic">setpoint</span></label>
				<input type="text" id="setpoint" name="setpoint" pattern="^\d+\.?\d*?$" required="required">
			</div>
			<div class="shortInput">
				<label class="tooltip">Temperature Deadband(&degC)<span class="classic">deadband</span></label>
				<input type="text" id="deadband" name="deadband" pattern="^\d+\.?\d*?$" required="required">
			</div>


			<!-- Required Buttons -->
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" type="submit" class="stoppedInline postRunInline">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.<br>
		{{allInputData[allInputData.find('"runTimeEstimate"') + 20:allInputData.find('minutes.", ') + 8]}}
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<!-- Output tables, graphs, etc. -->
	<div id="output" class="postRun">
		<p class="reportTitle postRun" style="page-break-before:always">Power Available</p>
		<div id="powerReport" class="tightContent postRun">
			<div id="powerChart"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							// "pointStart":Date.parse(allOutputData.startDate),
							"shadow":false,
							"pointInterval":3600000},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{
						"maxZoom":108000000,
						"tickColor":"gray",
						"dateTimeLabelFormats":{
							"month": '%b %e'
						},
						"type":"datetime",
						"lineColor":"gray"
					},
					"yAxis":{
						"title":{"text":"Power (kW)","style":{"color":"gray"}},
					},
					"title":{"text": allOutputData.dataCheck, "verticalAlign":"bottom", "align":"right", "y":-400, "x":-150, "style":{"color":"gray", "fontSize":"36px"}},
					"series":[
						{"name":"Min Power","marker":{"enabled":false},"color":"red","data":allOutputData.minPowerSeries,"pointPlacement": +0.1},
						{"name":"Max Power","marker":{"enabled":false},"color":"purple","data":allOutputData.maxPowerSeries,"pointPlacement": -0.2},
					],
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"powerChart","type":"column","marginRight":20, "height":750,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
		<p class="reportTitle postRun" style="page-break-before:always">Energy Available</p>
		<div id="energyReport" class="tightContent postRun">
			<div id="energyChart"></div>
			<script>
				new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							//"pointStart":Date.parse(allOutputData.startDate),
							"shadow":false,
							"pointInterval":3600000},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{
						"maxZoom":108000000,
						"tickColor":"gray",
						"dateTimeLabelFormats":{
							"month": '%b %e'
						},
						"type":"datetime",
						"lineColor":"gray"
					},
					"yAxis":{
						"title":{"text":"Energy (kWh)","style":{"color":"gray"}},
						//"min":allOutputData.differenceMin
					},
					"title":{"text":null},
					"series":[
						{"name":"Min Energy","marker":{"enabled":false},"color":"red","data":allOutputData.minEnergySeries,"pointPlacement": +0.1},
						{"name":"Max Energy","marker":{"enabled":false},"color":"purple","data":allOutputData.maxEnergySeries,"pointPlacement": -0.2},
					],
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"energyChart","type":"column","marginRight":20, "height":750,"width":1000},
					"tooltip":false,
					"legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
			</script>
		</div>
	</div>
</body>