<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
	/*Styles here*/
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	<script type="text/javascript">
		function editFeeder(modelName, feederNum) {
			console.log("modelName:",modelName)
			studyUser = allInputData.user
			window.open("/feeder/" + studyUser + "/" + modelName + "/" + feederNum,  "_blank")
		}
	</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
			<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-voltageDrop" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="runningInline postRunInline shortInput">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="postRunInline shortInput">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<div class="shortInput">
				<label>Feeder</label>
				<button id="feederButton" type="button" onclick="javascript:editFeeder(allInputData.modelName,1);" style="display:block;width:125px;">Open Editor</button>
				<input type="text" id="feederName1" name="feederName1" style="display:none">
			</div>
			<div class="shortInput">
				<label class="tooltip">Layout Algorithm<span class="classic">Geospatial shows the circuit the same way it was defined in the feeder editor. Force Directed uses an algorithm to show the circuit elements evenly spaced (useful for circuits without location data).</span></label>
				<select id="layoutAlgorithm" name="layoutAlgorithm">
					<option value="geospatial">Geospatial</option>
					<option value="forceDirected">Force Directed</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Node Coloring By<span class="classic">Select the simulation output value that will be used to color the nodes in the circuit.</span></label>
				<select id="nodeCol" name="nodeCol">
					<option value="Voltage">Voltage (V)</option>
					<option value="VoltageImbalance">Voltage Imbalance (%)</option>
					<option value="perUnitVoltage">Per-Unit Voltage (unitless)</option>
					<option value="perUnit120Voltage">120 V Scaled Per-Unit Voltage (V)</option>
					<option value="None">No Node Coloring</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Line Coloring By<span class="classic">Select the simulation output value that will be used to color the lines in the circuit.</span></label>
				<select id="edgeCol" name="edgeCol">
					<option value="Current">Current (A)</option>
					<option value="Power">Power (W)</option>
					<option value="Rating">Line Rating (A)</option>
					<option value="PercentOfRating">Current vs. Line Rating (%)</option>
					<option value="None">No Line Coloring</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Node Labels<span class="classic">Text labels on nodes.</span></label>
				<select id="nodeLabs" name="nodeLabs">
					<option value="Name">Component Name</option>
					<option value="Value">Simulation Value</option>
					<option value="None">No Label</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Line Labels<span class="classic">Text labels on linesn</span></label>
				<select id="edgeLabs" name="edgeLabs">
					<option value="Name">Component Name</option>
					<option value="Value">Simulation Value</option>
					<option value="None">No Label</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Color Map<span class="classic">Select a gradient for coloring the physical values</span></label>
				<select id="customColormap" name="customColormap">
					<option value="False">Viridis</option>
					<option value="True">Gray, Red, Blue</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Image Resolution (sq. in.)<span class="classic">Please select a value lower than 10,000</span></label>
				<input type="text" id="rezSqIn" name="rezSqIn" pattern="^\d{1,4}$"/>
			</div>
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" class="stoppedInline postRunInline" type="submit">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<div id="output">
		<p class="reportTitle postRun" style="page-break-before:always">Voltage Drop Diagram</p>
		<div id="voltageDropDiagram" class="tightContent postRun">
			<img id="voltageDropChart" style="width:1000px;height:1000px;" />
			<script type="text/javascript">gebi("voltageDropChart").src = "data:image/png;base64," + allOutputData.voltageDrop</script>
		</div>
	</div>
</body>