<head>
	<title>Open Modeling Framework</title>
	<meta charset="utf-8">
	<link href="{{pathPrefix}}/static/omf.css" type="text/css" rel="stylesheet"/>
	<link rel="shortcut icon" href="{{pathPrefix}}/static/favicon.ico">
	<style>
		table {width: 80%;margin-left:auto; margin-right:auto;}
		td {padding:2px; text-align: center;border-top: 1px solid #ccc;}
		th {padding:2px; text-align: center}
	</style>
	{% if modelStatus == "running" %}<meta http-equiv="refresh" content="5"/>{% endif %}
	<!-- Library Imports -->
	<script type="text/javascript" src="{{pathPrefix}}/static/omf.js"></script>
	<script type="text/javascript" src="{{pathPrefix}}/static/jquery-1.9.1.js"></script>
	<script src="{{pathPrefix}}/static/highcharts4.src.js"></script>
	<!-- Data  Imports -->
	<script>allInputData={% if allInputData %}{{allInputData | safe}}{% else %}null{% endif %}</script>
	<script>allOutputData={% if allOutputData %}{{allOutputData | safe}}{% else %}null{% endif %}</script>
	<script>modelStatus="{{modelStatus}}"</script>
	<script>currentUser="{{datastoreNames.get('currentUser','test')}}"</script>
	</script>
</head>
<body onload="init()">
	<div id="header">
		<div id="headInnerBlock">
			<div id="menuLeft">
				<a style="color:white" href="/">Open Modeling Framework</a> &#187;&nbsp;&nbsp;Model
				&#8220;<p id="titleText" style="display:inline"></p>&#8221;
			</div>
		</div>
	</div>
	<p class="reportTitle">Model Input</p>
	<div id="input" class="content">
		<form name="inputForm" action="/runModel/" onsubmit="event.preventDefault(); return isFormValid();" method="post">
			<!-- Required Inputs -->
			<div class="shortInput">
				<label>Model Type <a href="https://github.com/dpinney/omf/wiki/Models-~-weatherPull" target="blank">Help?</a></label>
				<input type="text" id="modelType" name="modelType" value="{{modelName}}" readonly/>
			</div>
			<div class="shortInput">
				<label>Model Name</label>
				<input type="text" id="modelName" name="modelName" pattern="^[\w\s\d\.-]+$" required="required">
			</div>
			<div class="shortInput runningInline postRunInline">
				<label>User</label>
				<input type="text" id="user" name="user" readonly/>
			</div>
			<div class="shortInput runningInline postRunInline ">
				<label>Created</label>
				<input type="text" id="created" name="created" readonly/>
			</div>
			<div class="shortInput postRunInline">
				<label>Run Time</label>
				<input type="text" id="runTime" name="runTime" readonly/>
			</div>
			<!-- Model Specific Inputs -->
			<div class="wideInput">
				<p class="inputSectionHeader">Simulation Specs</p>
			</div>
			<hr>
			<div class="shortInput">
				<label class="tooltip">Source<span class="classic">Source of data</span></label>
				<select id="source" name="source" onchange="loadWeatherParameters()" >
					<option value="ASOS">ASOS</option>
					<option value="USCRN">USCRN</option>
				</select>
			</div>
			 <div class="shortInput">
				<label class="tooltip">Station - ASOS<span class="classic">ASOS Code, for USA codes (starting with K) exclude the first letter.</span></label>
				<input type="text" id="stationASOS" name="stationASOS" pattern="[a-zA-Z]{3,4}" required="required"/>
			</div>
			<div class="shortInput">
				<label class="tooltip">Station - USCRN<span class="classic">USCRN: Dropdown menu of stations</span></label>
				<select id="stationUSCRN" name="stationUSCRN" required="required">
					<option value="AK_Utqiagvik_formerly_Barrow_4_ENE">AK_Utqiagvik</option>
					<option value="AK_Cordova_14_ESE">AK_Cordova</option>
					<option value="AK_Deadhorse_3_S">AK_Deadhorse</option>
					<option value="AK_Denali_27_N">AK_Denali</option>
					<option value="AK_Fairbanks_11_NE">AK_Fairbanks</option>
					<option value="AK_Glennallen_64_N">AK_Glennallen</option>
					<option value="AK_Gustavus_2_NE">AK_Gustavus</option>
					<option value="AK_Ivotuk_1_NNE">AK_Ivotuk</option>
					<option value="AK_Kenai_29_ENE">AK_Kenai</option>
					<option value="AK_King_Salmon_42_SE">AK_King_Salmon</option>
					<option value="AK_Metlakatla_6_S">AK_Metlakatla</option>
					<option value="AK_Port_Alsworth_1_SW">AK_Port_Alsworth</option>
					<option value="AK_Red_Dog_Mine_3_SSW">AK_Red_Dog_Mine</option>
					<option value="AK_Ruby_44_ESE">AK_Ruby</option>
					<option value="AK_Sand_Point_1_ENE">AK_Sand_Point</option>
					<option value="AK_Selawik_28_E">AK_Selawik</option>
					<option value="AK_Sitka_1_NE">AK_Sitka</option>
					<option value="AK_St._Paul_4_NE">AK_St._Paul</option>
					<option value="AK_Tok_70_SE">AK_Tok</option>
					<option value="AK_Toolik_Lake_5_ENE">AK_Toolik_Lake</option>
					<option value="AK_Yakutat_3_SSE">AK_Yakutat</option>
					<option value="AL_Brewton_3_NNE">AL_Brewton</option>
					<option value="AL_Clanton_2_NE">AL_Clanton</option>
					<option value="AL_Courtland_2_WSW">AL_Courtland</option>
					<option value="AL_Cullman_3_ENE">AL_Cullman</option>
					<option value="AL_Fairhope_3_NE">AL_Fairhope</option>
					<option value="AL_Gadsden_19_N">AL_Gadsden</option>
					<option value="AL_Gainesville_2_NE">AL_Gainesville</option>
					<option value="AL_Greensboro_2_WNW">AL_Greensboro</option>
					<option value="AL_Highland_Home_2_S">AL_Highland_Home</option>
					<option value="AL_Muscle_Shoals_2_N">AL_Muscle_Shoals</option>
					<option value="AL_Northport_2_S">AL_Northport</option>
					<option value="AL_Russellville_4_SSE">AL_Russellville</option>
					<option value="AL_Scottsboro_2_NE">AL_Scottsboro</option>
					<option value="AL_Selma_6_SSE">AL_Selma</option>
					<option value="AL_Selma_13_WNW">AL_Selma</option>
					<option value="AL_Talladega_10_NNE">AL_Talladega</option>
					<option value="AL_Thomasville_2_S">AL_Thomasville</option>
					<option value="AL_Troy_2_W">AL_Troy</option>
					<option value="AL_Valley_Head_1_SSW">AL_Valley_Head</option>
					<option value="AR_Batesville_8_WNW">AR_Batesville</option>
					<option value="AZ_Elgin_5_S">AZ_Elgin</option>
					<option value="AZ_Tucson_11_W">AZ_Tucson</option>
					<option value="AZ_Williams_35_NNW">AZ_Williams</option>
					<option value="AZ_Yuma_27_ENE">AZ_Yuma</option>
					<option value="CA_Bodega_6_WSW">CA_Bodega</option>
					<option value="CA_Fallbrook_5_NE">CA_Fallbrook</option>
					<option value="CA_Merced_23_WSW">CA_Merced</option>
					<option value="CA_Redding_12_WNW">CA_Redding</option>
					<option value="CA_Santa_Barbara_11_W">CA_Santa_Barbara</option>
					<option value="CA_Stovepipe_Wells_1_SW">CA_Stovepipe_Wells</option>
					<option value="CA_Yosemite_Village_12_W">CA_Yosemite_Village</option>
					<option value="CO_Boulder_14_W">CO_Boulder</option>
					<option value="CO_Cortez_8_SE">CO_Cortez</option>
					<option value="CO_Dinosaur_2_E">CO_Dinosaur</option>
					<option value="CO_La_Junta_17_WSW">CO_La_Junta</option>
					<option value="CO_Montrose_11_ENE">CO_Montrose</option>
					<option value="CO_Nunn_7_NNE">CO_Nunn</option>
					<option value="FL_Everglades_City_5_NE">FL_Everglades_City</option>
					<option value="FL_Sebring_23_SSE">FL_Sebring</option>
					<option value="FL_Titusville_7_E">FL_Titusville</option>
					<option value="GA_Brunswick_23_S">GA_Brunswick</option>
					<option value="GA_Newton_8_W">GA_Newton</option>
					<option value="GA_Newton_11_SW">GA_Newton</option>
					<option value="GA_Watkinsville_5_SSE">GA_Watkinsville</option>
					<option value="HI_Hilo_5_S">HI_Hilo</option>
					<option value="HI_Mauna_Loa_5_NNE">HI_Mauna_Loa</option>
					<option value="IA_Des_Moines_17_E">IA_Des_Moines</option>
					<option value="ID_Arco_17_SW">ID_Arco</option>
					<option value="ID_Murphy_10_W">ID_Murphy</option>
					<option value="IL_Champaign_9_SW">IL_Champaign</option>
					<option value="IL_Shabbona_5_NNE">IL_Shabbona</option>
					<option value="IN_Bedford_5_WNW">IN_Bedford</option>
					<option value="KS_Manhattan_6_SSW">KS_Manhattan</option>
					<option value="KS_Oakley_19_SSW">KS_Oakley</option>
					<option value="KY_Bowling_Green_21_NNE">KY_Bowling_Green</option>
					<option value="KY_Versailles_3_NNW">KY_Versailles</option>
					<option value="LA_Lafayette_13_SE">LA_Lafayette</option>
					<option value="LA_Monroe_26_N">LA_Monroe</option>
					<option value="ME_Limestone_4_NNW">ME_Limestone</option>
					<option value="ME_Old_Town_2_W">ME_Old_Town</option>
					<option value="MI_Chatham_1_SE">MI_Chatham</option>
					<option value="MI_Gaylord_9_SSW">MI_Gaylord</option>
					<option value="MN_Goodridge_12_NNW">MN_Goodridge</option>
					<option value="MN_Sandstone_6_W">MN_Sandstone</option>
					<option value="MO_Chillicothe_22_ENE">MO_Chillicothe</option>
					<option value="MO_Joplin_24_N">MO_Joplin</option>
					<option value="MO_Salem_10_W">MO_Salem</option>
					<option value="MS_Holly_Springs_4_N">MS_Holly_Springs</option>
					<option value="MS_Newton_5_ENE">MS_Newton</option>
					<option value="MT_Dillon_18_WSW">MT_Dillon</option>
					<option value="MT_Lewistown_42_WSW">MT_Lewistown</option>
					<option value="MT_St._Mary_1_SSW">MT_St._Mary</option>
					<option value="MT_Wolf_Point_29_ENE">MT_Wolf_Point</option>
					<option value="MT_Wolf_Point_34_NE">MT_Wolf_Point</option>
					<option value="NC_Asheville_8_SSW">NC_Asheville</option>
					<option value="NC_Asheville_13_S">NC_Asheville</option>
					<option value="NC_Durham_11_W">NC_Durham</option>
					<option value="ND_Jamestown_38_WSW">ND_Jamestown</option>
					<option value="ND_Medora_7_E">ND_Medora</option>
					<option value="ND_Northgate_5_ESE">ND_Northgate</option>
					<option value="NE_Harrison_20_SSE">NE_Harrison</option>
					<option value="NE_Lincoln_8_ENE">NE_Lincoln</option>
					<option value="NE_Lincoln_11_SW">NE_Lincoln</option>
					<option value="NE_Whitman_5_ENE">NE_Whitman</option>
					<option value="NH_Durham_2_N">NH_Durham</option>
					<option value="NH_Durham_2_SSW">NH_Durham</option>
					<option value="NM_Las_Cruces_20_N">NM_Las_Cruces</option>
					<option value="NM_Los_Alamos_13_W">NM_Los_Alamos</option>
					<option value="NM_Socorro_20_N">NM_Socorro</option>
					<option value="NV_Baker_5_W">NV_Baker</option>
					<option value="NV_Denio_52_WSW">NV_Denio</option>
					<option value="NV_Mercury_3_SSW">NV_Mercury</option>
					<option value="NY_Ithaca_13_E">NY_Ithaca</option>
					<option value="NY_Millbrook_3_W">NY_Millbrook</option>
					<option value="OH_Wooster_3_SSE">OH_Wooster</option>
					<option value="OK_Goodwell_2_E">OK_Goodwell</option>
					<option value="OK_Goodwell_2_SE">OK_Goodwell</option>
					<option value="OK_Stillwater_2_W">OK_Stillwater</option>
					<option value="OK_Stillwater_5_WNW">OK_Stillwater</option>
					<option value="ON_Egbert_1_W">ON_Egbert</option>
					<option value="OR_Coos_Bay_8_SW">OR_Coos_Bay</option>
					<option value="OR_Corvallis_10_SSW">OR_Corvallis</option>
					<option value="OR_John_Day_35_WNW">OR_John_Day</option>
					<option value="OR_Riley_10_WSW">OR_Riley</option>
					<option value="PA_Avondale_2_N">PA_Avondale</option>
					<option value="RI_Kingston_1_NW">RI_Kingston</option>
					<option value="RI_Kingston_1_W">RI_Kingston</option>
					<option value="SA_Tiksi_4_SSE">SA_Tiksi</option>
					<option value="SC_Blackville_3_W">SC_Blackville</option>
					<option value="SC_McClellanville_7_NE">SC_McClellanville</option>
					<option value="SD_Aberdeen_35_WNW">SD_Aberdeen</option>
					<option value="SD_Buffalo_13_ESE">SD_Buffalo</option>
					<option value="SD_Pierre_24_S">SD_Pierre</option>
					<option value="SD_Sioux_Falls_14_NNE">SD_Sioux_Falls</option>
					<option value="TN_Crossville_7_NW">TN_Crossville</option>
					<option value="TX_Austin_33_NW">TX_Austin</option>
					<option value="TX_Bronte_11_NNE">TX_Bronte</option>
					<option value="TX_Edinburg_17_NNE">TX_Edinburg</option>
					<option value="TX_Monahans_6_ENE">TX_Monahans</option>
					<option value="TX_Muleshoe_19_S">TX_Muleshoe</option>
					<option value="TX_Palestine_6_WNW">TX_Palestine</option>
					<option value="TX_Panther_Junction_2_N">TX_Panther_Junction</option>
					<option value="TX_Port_Aransas_32_NNE">TX_Port_Aransas</option>
					<option value="UT_Brigham_City_28_WNW">UT_Brigham_City</option>
					<option value="UT_Torrey_7_E">UT_Torrey</option>
					<option value="VA_Cape_Charles_5_ENE">VA_Cape_Charles</option>
					<option value="VA_Charlottesville_2_SSE">VA_Charlottesville</option>
					<option value="WA_Darrington_21_NNE">WA_Darrington</option>
					<option value="WA_Quinault_4_NE">WA_Quinault</option>
					<option value="WA_Spokane_17_SSW">WA_Spokane</option>
					<option value="WI_Necedah_5_WNW">WI_Necedah</option>
					<option value="WV_Elkins_21_ENE">WV_Elkins</option>
					<option value="WY_Lander_11_SSE">WY_Lander</option>
					<option value="WY_Moose_1_NNE">WY_Moose</option>
					<option value="WY_Sundance_8_NNW">WY_Sundance</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Year<span class="classic">year</span></label>
				<input type="text" id="year" name="year" pattern="[1-2][0-9][0-9][0-9]" required="required"/>
			</div>	
			<div class="shortInput">
				<label class="tooltip">Weather Parameter - ASOS<span class="classic">Data that should be pulled</span></label>
				<select id="weatherParameterASOS" name="weatherParameterASOS" required="required">
					<option value="tmpc">Temperature (Celsius)</option>
					<option value="tmpf">Temperature (Fahrenheit)</option>
					<option value="dwpc">Dew Point (Celsius)</option>
					<option value="dwpf">Dew Point (Fahrenheit)</option>
					<option value="relh">Relative Humidity (%)</option>
					<option value="drct">Wind Direction</option>
					<option value="sknt">Wind Speed (knots)</option>
					<option value="sped">Wind Speed (mph)</option>
					<option value="alti">Altimeter (inches)</option>
					<option value="mslp">Sea Level Pressure (mb)</option>
					<option value="p01m">1 Hour Precipitation (mm)</option>
					<option value="p01i">1 Hour Precipitation (inch)</option>
					<option value="vsby">Visibility (miles)</option>
					<option value="gust">Wind Gust (knots)</option>
					<option value="gust_mph">Wind Gust (mph)</option>
					<option value="skyc1">Cloud Coverage Level 1</option>
					<option value="skyc2">Cloud Coverage Level 2</option>
					<option value="skyc3">Cloud Coverage Level 3</option>
					<option value="skyl1">Cloud Height Level 1 (ft)</option>
					<option value="skyl2">Cloud Height Level 2 (ft)</option>
					<option value="skyl3">Cloud Height Level 3 (ft)</option>
					<option value="presentwx">Weather Codes</option>
					<option value="asos">Raw ASOS</option>
				</select>
			</div>
			<div class="shortInput">
				<label class="tooltip">Weather Parameter - USCRN<span class="classic">Data that should be pulled</span></label>
				<select id="weatherParameterUSCRN" name="weatherParameterUSCRN" required="required">
					<option value="T_CALC">Air temperature (Celsius)</option>
					<option value="T_HR_AVG">Average air temperature (Celsius)</option>
					<option value="T_MAX">Maximum air temperature (Celsius)</option>
					<option value="T_MIN">Minimum air temperature (Celsius)</option>
					<option value="P_CALC">Precipitation (mm)</option>
					<option value="SOLARAD">Average global solar radiation (watts/meter^2)</option>
					<option value="SOLARAD_MAX">Maximum global solar radiation (watts/meter^2)</option>
					<option value="SOLARAD_MIN">Minimum global solar radiation (watts/meter^2)</option>
					<option value="SUR_TEMP">Average infrared surface temperature (Celsius)</option>
					<option value="SUR_TEMP_MAX">Maximum infrared surface temperature (Celsius)</option>
					<option value="SUR_TEMP_MIN">Minimum infrared surface temperature (Celsius)</option>
					<option value="RH_HR_AVG">RH average for hour (%)</option>
					<option value="SOIL_MOISTURE_5">Average soil moisture at 5 cm below the surface (m^3/m^3)</option>
					<option value="SOIL_MOISTURE_10">Average soil moisture at 10 cm below the surface (m^3/m^3)</option>
					<option value="SOIL_MOISTURE_20">Average soil moisture at 20 cm below the surface (m^3/m^3)</option>
					<option value="SOIL_MOISTURE_50">Average soil moisture at 50 cm below the surface (m^3/m^3)</option>
					<option value="SOIL_MOISTURE_100">Average soil moisture at 100 cm below the surface (m^3/m^3)</option>
					<option value="SOIL_TEMP_5">Average soil temperature at 5 cm below the surface (Celsius)</option>
					<option value="SOIL_TEMP_10">Average soil temperature at 10 cm below the surface (Celsius)</option>
					<option value="SOIL_TEMP_20">Average soil temperature at 20 cm below the surface (Celsius)</option>
					<option value="SOIL_TEMP_50">Average soil temperature at 50 cm below the surface (Celsius)</option>
					<option value="SOIL_TEMP_100">Average soil temperature at 100 cm below the surface (Celsius)</option>					
				</select>
			</div>
			<!-- Required Buttons -->
			<div class="wideInput" style="text-align:right">
				<button id="deleteButton" type="button" class="stoppedInline postRunInline" onclick="deleteModel()">Delete</button>
				<button id="publishButton" type="button" class="postRunInline" onclick="publishModel()">Publish</button>
				<button id="duplicateButton" type="button" class="postRunInline" onclick="duplicateModel()">Duplicate</button>
				<button id="cancelButton" class="runningInline" type="button" onclick="cancelModel()">Cancel Run</button>
				<button id="runButton" type="submit" class="stoppedInline postRunInline">Run Model</button>
			</div>
		</form>
	</div>
	<div id ="runIndicator" class="content running">
		Model running on server. Refresh the page to check for results, or wait for automatic refresh every 5 seconds.<br>
		{{allInputData[allInputData.find('"runTimeEstimate"') + 20:allInputData.find('minutes.", ') + 8]}}
	</div>
	<div id ="stopIndicator" class="content stopped" style="visibility: hidden">
		<pre id='errorText' style='overflow-x:scroll'></pre>
		<script type="text/javascript">
		if (typeof(allInputData.stderr) !== 'undefined') {
			gebi('stopIndicator').style.visibility = 'visible'
			gebi('errorText').innerHTML = 'MODEL ENCOUNTERED AN ERROR AS FOLLOWS: \n\n' + allInputData.stderr}
		</script>
	</div>
	<p class="reportTitle postRun" style="page-break-before:always">Download Output Data</p>	
	<div style="text-align:left" class="tightContent postRun">
		<a id="dTest" download>Output Download</a><br>
		<script>gebi('dTest').href = "/downloadModelData/" + allInputData.user + "/" + allInputData.modelName + "/weather.csv"</script>
		<p id="errorDisplay" class="postRun"></p>
		<script type="text/javascript">
		if(allInputData.source == "ASOS"){
			station = allInputData.stationASOS
		}else if (allInputData.source == "USCRN"){
			station = allInputData.stationUSCRN
		}
		if(allOutputData.errorCount !== 0){gebi('errorDisplay').innerHTML = "Your search for " + allInputData.year + " " + station + 
			" is completed. There were " + allOutputData.errorCount + " out of 8760, missing or corrupt values found in this set"}
		else{gebi('errorDisplay').innerHTML = "Your search for " + allInputData.year + " " + station + 
			" is completed. There were no errors found in this data pull"}
		</script>
	</div>
	<p class="reportTitle postRun" style="page-break-before:always">Data Pulled Plot</p>	
	<div id="dataPlot" class="tightContent postRun">
		<div id="dataChart"></div>
		<script>
			new Highcharts.Chart({"credits":{"enabled":false},
					"plotOptions":{
						"series":{
							"animation":false,
							// "pointStart":Date.parse(allOutputData.startDate),
							"shadow":false,
							"pointInterval":3600000},
						"line":{"marker":{"enabled":false}}},
					"xAxis":{
						"maxZoom":108000000,
						"tickColor":"gray",
						"dateTimeLabelFormats":{
							"month": '%b %e'
						},
						"type":"datetime",
						"lineColor":"gray"
					},
					"yAxis":{
						"title":{"enabled":false},// "title":{"text":"Unit","style":{"color":"gray"}},
					},
					"title":{"text": allOutputData.dataCheck, "verticalAlign":"bottom", "align":"right", "y":-400, "x":-150, "style":{"color":"gray", "fontSize":"36px"}},
					"series":[
						{"name":"Data resquested","marker":{"enabled":false},"color":"blue","data":allOutputData.rawData}
					],
					"chart":{"marginBottom":35,"zoomType":"x","renderTo":"dataChart","type":"line","marginRight":20, "height":500,"width":1000},
					"tooltip":false,
					"legend":{"enabled":false}})// "legend":{"verticalAlign":"top","align":"top","borderWidth":0,"x":50,"y":-10,"layout":"horizontal"}})
		</script>
	</div>
</body>